
<div style="margin-left:10%;">
<%= link_to 'Back', :back %>
<h1>Approve/Reject Business Claim</h1><br/>
<%= form_for @claim, :url => admin_businessclaim_path(@claim),:method => :put do |f| %>

<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :claimfname, :disabled => false,:style => "height: 1.2em;width:40%;" %>
  </div>
  <%= f.hidden_field :vr_id %>
  <%= f.hidden_field :business_type %>
  
  <div class="field">
    <%= f.label :Last_name %><br />
    <%= f.text_field :claimlname, :disabled => false,:style => "height: 1.2em;width:40%;" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :claimemail, :disabled => false,:style => "height: 1.2em;width:40%;" %>
  </div>
  
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :claimcontact, :disabled => false,:style => "height: 1.2em;width:40%;" %>
  </div>
  <div class="field">

	<div class="field">
    <%= f.label :status%>
    <%=f.select :status, [["Rejected","rejected"],["Approved","approved"]], :selected=>"Rejected" %>
  </div></br>
  <%=f.submit "Submit"%>
   <%end%>

<br/><%= link_to 'Back', :back %>
</div>

