<style type="text/css">
.even { background: #E6EEEE; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
</style>

<script type="text/javascript">
  <%content_for :js do%>
    $("table tbody tr").mouseover(function(){
      $(this).css("background-color","#ccc");
    }).mouseout(function(){
      $(this).css("background-color","");
    });
          
  <%end%>
</script>
<div class="grid_16">
  
  
  <br/>
  
  <h1 align=center>Claimed Business</h1>
  
  <%= link_to 'Back', admin_businessclaims_path %>&nbsp;
  
  <br/>

  
  <%= page_entries_info(@claims) %>
  <div style="color:blue;">
    <%= paginate(@claims, :params => pagination_params(request)) %>
  </div>
  <br/>
  <table class="admin">
    <thead>
      <tr class="head-table">
        <th>Vendor Type</th>
        <th>Name (claimed by)</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <!--<td><%#= link_to exercise.description, edit_admin_exercise_path(exercise) %></td>-->
          <td><%=claim.business_type.split('_').join(' ')%> </td>
          <td><%=claim.claimfname+" "+claim.claimlname%> </td>
          <td><%=claim.claimemail%> </td>
          <td><%=claim.claimcontact%> </td>
          <td><%=claim.status%> </td>
          <td class="actions">
            <%= link_to 'Business detail', admin_businessclaim_path(claim) %> |
            <%= link_to 'Accept/Reject', edit_admin_businessclaim_path(claim) %> |
            <% if claim.status.downcase=="rejected"%>
            <%= link_to 'Delete', [:admin, claim], :confirm => 'Are you sure?', :method => :delete %>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<br/>  <%= link_to 'Back', admin_businessclaims_path %>
</div>
