
<script type="text/javascript">
  <%content_for :js do%>
    $("table tbody tr").mouseover(function(){
      $(this).css("background-color","#ccc");
    }).mouseout(function(){
      $(this).css("background-color","");
    });
  <%end%>
</script>
<div class="grid_16">
  
  
  <br/>
  
  <h1 align=center>Claim Business</h1>
  
  <%= link_to 'Back', admin_businessclaims_path %>&nbsp;
  <%#= link_to 'New exercise', new_admin_exercise_path %>
  
  <br/>
  
  <%#= form_tag(search_admin_exercises_path) do %>
    <%#= text_field_tag 'terms', '', :id => 'exercise-search', :style => "height:1.3em;" %>
  
    <%#= submit_tag 'Search', :style => "height:2.2em;" %>
  <%# end %>
  
  <%# if params['terms'] && !params['terms'].blank? %>
    <!--Displaying results for "<%#= params['terms'] %>"<br/>-->
  <%# end %>
  
  <%= page_entries_info(@claims) %>
  <div style="color:blue;">
    <%= paginate(@claims, :params => pagination_params(request)) %>
  </div>
  <br/>
  <table class="admin">
    <thead>
      <tr>
        <th>Vendor Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr class="<%#= cycle('odd', '') %>">
          <!--<td><%#= link_to exercise.description, edit_admin_exercise_path(exercise) %></td>-->
          <td><%=claim.business_type%> </td>
          <td><%=claim.claimfname+" "+claim.claimlname%> </td>
          <td><%=claim.claimemail%> </td>
          <td><%=claim.claimcontact%> </td>
          <td><%=claim.status%> </td>
          <td class="actions">
            <%= link_to 'Accept/Reject', edit_admin_businessclaim_path(claim) %> 
            <%#= link_to 'Delete', [:admin, exercise], :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <script type="text/javascript" charset="utf-8">
    <% content_for :js do %>
      $('#exercise-search').autocomplete({
        source: "<%= search_exercises_url %>"
      });
    
    <% end %>
  </script>
  
  <%#= link_to 'Back', admin_exercises_path %>
</div>
