
<p>
  <%= f.label :name, 'Name' %><br/>
  <%= f.text_field :name, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :water %><br/>
  <%= f.text_field :water, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :energ_kcal, 'Calories Per 100g' %><br/>
  <%= f.text_field :energ_kcal, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :protein %><br/>
  <%= f.text_field :protein, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :carbohydrt, 'Carbohydrates' %><br/>
  <%= f.text_field :carbohydrt, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_1, 'Example Weight Amt' %><br/>
  <%= f.text_field :gmwt_1, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_desc1, 'Example Weight Description' %><br/>
  <%= f.text_field :gmwt_desc1, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_2, 'Example Weight Amt 2' %><br/>
  <%= f.text_field :gmwt_2, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_desc2, 'Example Weight Description 2' %><br/>
  <%= f.text_field :gmwt_desc2, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>
