 <%= javascript_include_tag "application" %>
<style>
select#food_food_category{
margin-left:1em;
width:10em;
height:1.7em;
}
</style>
<script>
$(document).ready(function(){
var foodCategory="<%=@food.food_category%>";
newcategory=foodCategory.split(",");
$("#food_category_").find('option').each(function() {
		 if (newcategory.indexOf($(this).val()) != -1) 
			{$(this).attr('selected', 'selected');
			
			}
		});
});
</script>

<div class="grid_12">
  <%= link_to 'Back', admin_foods_path %>

  <br>
  <h3>Editing <%= @food.name %></h3>
  
  <% if not @food.custom? %>
    
    <div class="flash">
      <div class="warning message">
        <p>This is a food item from the <b>USDA food database</b>.  All values are based off <b>100 grams</b>.</p>
      </div>
    </div>
  <% end %>
  
  <%= form_for([:admin, @food]) do |f| %>
    <%= f.error_messages %>
    
    <%# if @food.custom? %>
      <%#= render :partial => '/custom_foods/form', :locals => {:f => f} %>
    <%# else %>
      <%#= render :partial => 'form', :locals => {:f => f} %>
    <%# end %>


<div>
  <%= f.label :adminApproved, 'Approve food' %>
  <%= f.check_box :adminApproved %>
</div><br/>  
    <!-- new code -->

	<div>    
        	<%=f.label :food_category, "Food category:"%> <br>
		<%=select_tag "food_category[]", options_for_select(Food::Food_Category),:multiple => true, :size => 7 , :style=>"margin:-5em 11em;width:10em;"%>        	
        	
		<%#=select_tag "food_category[]", options_for_select([["Good food","1"],["Bad food","2"],["Fast food","3"],["Nutritious food","4"],["Wrong food","5"],["Fatty foot","6"],["High cholestrol food","7"],["Low calorie food","8"]]),:multiple => true, :size => 5 , :style=>"margin-left:3em;"%>

	</div>
	
	<br><br><br><br>

  
  <div>    
    	<%= render :partial => '/custom_foods/form', :locals => {:f => f} %>
  <div>    	


 <div>
   <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_foods_path %>
 </div>
 
  <% end %>
  <%= link_to 'Back', admin_foods_path %>
</div>
