<div class="grid_12">
  
  <h3>Editing <%= @food.name %></h3>
  
  <% if not @food.custom? %>
    <p>This is a food item from the USDA food database.</p>
  <% end %>
  
  <% form_for(@food) do |f| %>
    <%= f.error_messages %>
    
    <% if @food.custom? %>
      <%= render :partial => '/custom_foods/form', :locals => {:f => f} %>
    <% else %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
    
    <p>
      <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_foods_path %>
    </p>
  <% end %>
  
</div>