<div class="grid_12">
  <%= link_to 'Back', admin_foods_path %>

  <br>
  <h3>Editing <%= @food.name %></h3>
  
  <% if not @food.custom? %>
    
    <div class="flash">
      <div class="warning message">
        <p>This is a food item from the <b>USDA food database</b>.  All values are based off <b>100 grams</b>.</p>
      </div>
    </div>
  <% end %>
  
  <%= form_for([:admin, @food]) do |f| %>
    <%= f.error_messages %>
    
    <%# if @food.custom? %>
      <%#= render :partial => '/custom_foods/form', :locals => {:f => f} %>
    <%# else %>
      <%#= render :partial => 'form', :locals => {:f => f} %>
    <%# end %>


<p>
  <%= f.label :adminApproved, 'Approve food' %>
  <%= f.check_box :adminApproved, :class => 'grid_6 alpha' %>
</p><br/> <br/>   
    <!-- new code -->
    	<%= render :partial => '/custom_foods/form', :locals => {:f => f} %>





    <p>
      <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_foods_path %>
    </p>
  <% end %>
  <%= link_to 'Back', admin_foods_path %>
</div>
