<div class="grid_16">
  
  
  <br/>
  
  <h2>Listing Foods</h2>
  
  <%= link_to 'Back', admin_foods_path %>&nbsp;
  <%= link_to 'New food', new_admin_food_path %>
  
  <br/>
  
  <%= form_tag(search_admin_foods_path) do %>
    <%= text_field_tag 'terms', '', :id => 'food-search' %>
  
    <%= submit_tag 'Search' %>
  <% end %>
  
  <% if params['terms'] && !params['terms'].blank? %>
    Displaying results for "<%= params['terms'] %>"<br/>
  <% end %>
  
  <%= page_entries_info(@foods) %>
     <%= paginate(@foods, :params => pagination_params(request)) %>
  <br/>
  <table class="admin">
    <thead>
      <tr>
        <th>Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr  class="<%= cycle('odd', '') %>">
          <td><%= food.name %></td>
          <td class="actions">
            <%= link_to 'Edit', edit_admin_food_path(food)%> | 
            <%= link_to 'Delete', [:admin, food], :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <script type="text/javascript" charset="utf-8">
    <% content_for :js do %>
      
      $('#food-search').autocomplete({
        source: "<%= search_foods_url %>",
        select: function( event, ui ) {
          $( "#food-search" ).val( ui.item.label.replace(" **", '') );
          return false;
        }
      });
      
    <% end %>
  </script>
<%= link_to 'Back', admin_foods_path %><br/>
</div>
