<div class="grid_12">
  <%= link_to 'Back', admin_foods_path %>
  
  <h3>New food</h3>
  
  <% form_for([:admin, @food]) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => '/custom_foods/form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Create' %> | <%= link_to 'Cancel', admin_foods_path %>
    </p>
  <% end %>
  
</div>