<style type="text/css">
	td{
		font-size:14px;
		padding:.3%;
	}
/*	.lightBox{
	  position:absolute;
	  display:none;
	  top:0%;
	  left:0%;
	  padding:5% 5%;
	  filter:alpha(70);
	  opacity:.70;
	  height:100%;
	  width:100%;
	  background-color:gray;
	  z-index:99;
	}
	.datapanel{
	  background-color:white;
	  padding:3% 0 0 3%;
	  width:50%;
	  height:88%;
	  position:fixed;
	  display:none;
	  top:3%;
	  left:30%;
	  overflow:auto;
	  border:1px solid white;
	  z-index:100;
	}
	.lock_datapanel{
	  position:absolute;
	  display:none;
	  top:0%;
	  left:0%;
	  filter:alpha(100);
	  opacity:.100;
	  height:120%;
	  width:70%;
	  z-index:101;
	}
	#closeLightBox{
  	display:none;
	  color:red;
	  position:absolute;
	  top:5%;
	  left:80%;
	  z-index:102;
	}*/
</style>
<div class="grid_12">
	<% total_workout_calories=total_meal_calories=0 %>
	
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript">
		$(function() {
		
		  $('#wkDt2').datepicker({
          onSelect:function(){
            document.getElementById("dairy-form").submit();
          }
      });
     
			$( "#wkDt2" ).datepicker();
			$( "#wkDt2" ).datepicker( {minDate: -93, maxDate: "+0D" });
			$( "#wkDt2" ).datepicker("option", "dateFormat",'yy-mm-dd' );
			$("#ui-datepicker-div").wrap('<div style="position:absolute;left:0;top:-3em;"></div>');
			
		});
	  
	  
    //to show food in light box
   /* function showfood(foodid)
    {
      $.ajax({
    		type : "GET",
    		url : "/custom_foods/"+foodid+"/edit",
    		dataType : "html",
        success: function(data) {
        data=data.substring(data.indexOf("Help us expand our food database")+("Help us expand our food database").length+1,data.lastIndexOf("%")+("%").length);
        data=data.replace(/0%/g,"");
        $(".datapanel").html(data);
			  $(".lightBox").css("display","block");
			  $(".datapanel").css("display","block");
			  $(".lock_datapanel").css("display","block");
			  $("#closeLightBox").css("display","block");
			  $("#upload_food_pic").css("display","none");
			  $("#food-img").css("float","left");
			  $("#food-img").css("margin-top","1%");
			  $("h1").css("color","#2E8DC0");
			  $("html").css("overflow","hidden");
			  },
        error : function() {
				  //alert("Sorry, page not found.");
        }
      });
      
      //return false; //for hyperlink, when click on hyperlink then it doesn't redirect another page
    }
    function showexercise(eid)
    {
      $.ajax({
    		type : "GET",
    		url : "/exercises/"+eid+"/edit",
    		dataType : "html",
        success: function(data) {
        data=data.substring(data.indexOf("<form",data.indexOf("<form")+5),data.lastIndexOf("</form>")+("</form>").length);
        $(".datapanel").html(data);
			  $(".lightBox").css("display","block");
			  $(".datapanel").css("display","block");
			  $(".lock_datapanel").css("display","block");
			  $("#closeLightBox").css("display","block");
			  $("html").css("overflow","hidden");
			  },
        error : function() {
				  //alert("Sorry, page not found.");
        }
      });
      //return false; //for hyperlink, when click on hyperlink then it doesn't redirect another page
    }
    
    function closeLightBox()
    {
      $(".lightBox").css("display","none");
			$(".datapanel").css("display","none");
			$(".lock_datapanel").css("display","none");
			$("#closeLightBox").css("display","none");
			$("html").css("overflow","auto");
    }*/
		function prevDate()
		{
			var today="";
			if(document.getElementById("wkDt2").value=="Today")
			{
				dt=currentDt;
			}
			else
			{
				dt=document.getElementById("wkDt2").value;
			}
			today = new Date(dt);	//document.getElementById("wkDt").value
			var msecPerDay = 24 * 60 * 60 * 1000;
		
			var yesterday = new Date(today.getTime() - msecPerDay);
			day=yesterday.getDate();
			month=yesterday.getMonth()+1;
			if(day<10)
			{
				day="0"+day;
			}
			if(month<10)
			{
				month="0"+month;
			}
			document.getElementById("wkDt2").value=yesterday.getFullYear()+"-"+month+"-"+day;
      document.getElementById("prevDate").onclick=null;
			document.getElementById("dairy-form").submit();
		}
		function currentDate()
		{
			var today = new Date();
			day=today.getDate();
			month=today.getMonth()+1;

			if(day<10)
			{
				day="0"+day;
			}
			if(month<10)
			{
				month="0"+month;
			}
			<% 
				#	if !@workouts[0].nil? || !@meals[0].nil?
				#		trained=(@workouts[0])?(@workouts[0].trained_on).strftime("%Y-%m-%d") : (@meals[0].ate_on).strftime("%Y-%m-%d")
				#	else
				#		trained="Today"
				#	end
					
				#	if trained==DateTime.now.strftime("%Y-%m-%d")
				#		trained="Today"
				#	end
					
					if params[:date_on]==nil || params[:date_on]==""
					  params[:date_on]="Today"
					end
			%>
			var dt="<%=params[:date_on]%>";
			document.getElementById("wkDt2").value=dt;
			currentDt=today.getFullYear()+"-"+month+"-"+day;
		}
		function nextDate()
		{
			var today="";
			if(document.getElementById("wkDt2").value=="Today")
			{
				dt=currentDt;
			}
			else
			{
				dt=document.getElementById("wkDt2").value;
			}
			today = new Date(dt);	//document.getElementById("wkDt").value
			var msecPerDay = 24 * 60 * 60 * 1000;
		
			var tomorrow = new Date(today.getTime() + msecPerDay);
			day=tomorrow.getDate();
			month=tomorrow.getMonth()+1;

			if(tomorrow>new Date())
			{
				alert("Date cannot be greater then current date");
				return;
			}
			if(day<10)
			{
				day="0"+day;
			}
			if(month<10)
			{
				month="0"+month;
			}
			document.getElementById("wkDt2").value=tomorrow.getFullYear()+"-"+month+"-"+day;
      document.getElementById("nextDate").onclick=null; //remove click event for user not click next button before pageload after page load this event automatically come again
			document.getElementById("dairy-form").submit();
		}
   /* function showFoodOrExerciseDetail()
    {
      param="<%=request.path%>".split('/');
      if(((param[param.length-1]).split('='))[0]=="foodid")
      {
        showfood((param[param.length-1]).split('=')[1]);
      }
      else if(((param[param.length-1]).split('='))[0]=="exerciseid")
      {
        showexercise((param[param.length-1]).split('=')[1]);
      }
    }*/
		window.onload = function () {
			currentDate(); //set current date in add meal date field(wdDt2) 
			//showFoodOrExerciseDetail();
	}
</script>

<%=form_tag '/workouts/dairy', :id=>"dairy-form" do %>
<div style="margin:1% 0 0 -3%;background:#fff;height:auto;width:98%;padding-right:1%;margin-bottom:2%;">
   <table width="95%" style="border-spacing:1px;border-collapse:separate;">
			<tr>
				<td><h1 style="margin:1% 0;padding:0;">Your Diary for: </h1></td>
				<td width="40%">
					<span class="button" id="prevDate" onclick="prevDate()">&lt;</span>
					<input class="today" type="text" style="margin-top:0;height:27px;margin-left:0;margin-right:0;" value="" id="wkDt2" name="date_on" />
					<span class="button" id="nextDate" onclick="nextDate()">&gt;</span>
				</td>
			<!--	<td>
					<input type="submit" class="button" onclick="javascript:if(document.getElementById('wkDt2').value==''){alert('please enter a date (yyyy-mm-dd) format'); document.getElementById('wkDt2').focus(); return false;}" id="workoutsDate" style="height:30px;background-color:#0B2B42;color:#fff;" value=Submit /></td>-->
			</tr>
		</table>
		<hr/><br>
<%end%>

<!-- for food -->
<table width="100%" style="border-spacing:1px;border-collapse:separate;">
	<tr style="background-color:#09F;color:#fff;font-weight:bold;text-align:center;">
    <th style="background-color:#fff;color:#F60;font-weight:bold;text-align:left;font-size:18px;width:45%;">Meals</th>
    <td width="30%" style="padding-top:5px;">Time</td>
    <td width="25%" style="padding-top:5px;">Calories</td>
    <td width="9%" style="padding:5px;">Fat</td>
    <td width="9%" style="padding:5px;">Carbs</td>
    <td width="9%" style="padding:5px;padding-right:5px;">Protein</td>
  </tr>

	<% if @meals
			@meals.each do |m|
			food_path=((m.name).gsub(/[.]+/,'$')).gsub("/",' or ').gsub(/[%]+/,'"%"')
  %>
  <tr style="background-color:#CEECF5;text-align:center;">    <!-- onclick="return showfood('<%=m.food_id%>')" -->
    <td style="text-align:left" width="45%"><a href="/custom_foods/<%=u(food_path)%>" id="showfood"><%=(m.name=="custom calories") ? m.note.capitalize! : m.name %></a></td>
    <td><%=m.meal_type%></td>
    <td><%=m.calories%></td>
    <% 
			total_meal_calories+=m.calories
		%>
    <td><%=m.fat%></td>
    <td><%=m.carbohydrt%></td>
    <td><%=m.protein%></td>
    <td><%= link_to image_tag("/assets/delete.png"), "/meals/#{m.id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
		</tr>
	<%end end%>
	<tr style="text-align:center;">
		    	<td style="color:#09C;text-align:left;" colspan="4"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;font-weight:bold;">Quick Tools</a>--></td>
	</tr>
</table>
<hr/> 
<br/>

<!-- for exercise -->
<table width="83%" style="border-spacing:1px;border-collapse:separate;">
	<tr style="background-color:#09F;color:#fff;font-weight:bold;text-align:center;">
    <th style="background-color:#fff;color:#F60;font-weight:bold;text-align:left;font-size:18px;width:45%;">Workouts</th>
    <td width="28%" style="padding-top:5px;">Time</td>
    <td width="30%" style="padding-top:5px;">Calories Burned</td>
    
  </tr>
	<% if @workouts
			@workouts.each do |w| 
			
			exercise_path=(((w.description).gsub(/[.]+/,'$')).gsub("/",' or ')).gsub(/[%]+/,'"%"')
	%>
  <tr style="background-color:#CEECF5;text-align:center;">    <!-- onclick="return showexercise('<%=w.exercise_id%>')" -->
    <td style="text-align:left" width="45%"><a href="/exercises/<%=u(exercise_path)%>" id="showfood"><%=(w.description=="custom calories") ? w.note.capitalize! : w.description %></a></td>
    <td><%=(w.time_from.strftime("%H").to_i)>12 ?(w.time_from-12.hours).strftime("%l")+"pm" : w.time_from.strftime("%l")+"am" %></td>
    <td><%=w.calories%></td>
    <td><%= link_to image_tag("/assets/delete.png"), "/workouts/#{w.id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
		</tr>
		<% 
			total_workout_calories+=w.calories
		%>
	<%end end%>
	<tr style="text-align:center;">
		    	<td style="color:#09C;text-align:left;" colspan="4"><a href="/workouts/new" style="color:blue;font-weight:bold;">Add Exercise</a><!--|<a href="#" style="color:blue;font-weight:bold;font-weight:bold;">Quick Tools</a>--></td>
	</tr>
</table>
<hr/>

		
		<!-- total remaining calories -->
<table width="63%" style="border-spacing:1px;border-collapse:separate;font-weight:bold;margin-left:12%;"> 
	<tr>
		<td style="text-align:left;width:30%;">Total Meals Calories<!--/Goal--></td>
		<td style="text-align:right;width:33%;"><%=total_meal_calories.to_f%><!--/Goal--></td>
	</tr>
		<tr>
		<td style="text-align:left;width:30%;">Total Workouts Calories<!--/Goal--></td>
		<td style="text-align:right;width:33%;"><%=total_workout_calories.to_f%><!--/Goal--></td>
	</tr>
	<tr>
		<td style="text-align:left;width:30%;">Total Remaining Calories<!--/Goal--></td>
		<td style="text-align:right;width:33%;"><%=(total_meal_calories-total_workout_calories).to_f%><!--/Goal--></td>
	</tr>
<!--	<tr style="font-weight:bold;text-align:center;">
		<td style="text-align:right;width:30%;">Weekly Total</td>
		<td width="25%" style="padding-left:2%;"><%#=weekly_calc[0].weekly_duration.to_i%></td>
		<td width="25%" style="padding-left:7%;"><%#=weekly_calc[0].weekly_cal.to_i%></td> -->
	</tr>
</table>
<hr/> 

</div>
</div>
</div>

<!-- show food and exercise in lightbox -->
<!--
<div class="lightBox"></div>
<div class="datapanel" style="border:3px solid;"></div>
<div class="lock_datapanel"></div>
<span id="closeLightBox" onclick="closeLightBox()"><img src="/assets/close.png" /></span>
-->
