
<!-- Tracking Show -->
<div class="full">
  <div class="grid_4">
    <div id="inline-calendar"></div>
    
  </div>
  
  <div class="grid_12">
    <% form_tag new_workout_path, :method => :get do %>
      <p class="h3" style="margin: 50px 0px; position: relative">
        Hi <%= current_user.first_name %>, need to record a workout? 
        
        <div class="button" style="padding: 2px 5px; position: absolute; top: 46px; left: 400px;">
          <%= link_to "+ Add Workout", new_workout_path, :class => 'submit' %>
        </div>
      </p>
    <% end %>
    
    <br/>
    
    <% @start_date.downto(@start_date - 6.days) do |day| %>
      
      <%= render :partial => 'day', :locals => { :day => day } %>
      
    <% end %>
  </div>
  
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('#inline-calendar').datepicker({
       dateFormat: "yy-mm-dd",
       defaultDate: "<%= @start_date %>",
       onSelect: function(dateText, inst) { 
         window.location = "<%= workouts_path %>?date=" + dateText;
       }
    });
  <% end %>
</script>

<style type="text/css" media="screen">
  .ui-datepicker { width: auto !important; }
</style>