<h1>Listing Tips of the Day</h1>

<table id="old_tips">
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @tip_of_days.each do |tip_of_day| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h tip_of_day.title %></td>
    <td><%=h tip_of_day.body %></td>
    <td><%= link_to 'Show', tip_of_day %></td>
    <td><%= link_to 'Edit', edit_old_tip_of_day_path(tip_of_day) %></td>
    <td><%= link_to 'Destroy', tip_of_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tip_of_day', new_old_tip_of_day_path %>