<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div id="wrap" class="full">
      <div id="main" class="full">
        <%= render :partial => 'layouts/header' %>
    
        <div class="container_16">
          <div class="grid_5">
            <div id="signup-sidebar" >
              <div class="signup-sidebar-header">Quick &amp; easy sign up.</div>
              
              <p>Getting Started is easy. Fill out the forms set your goals and your ready to start using the site and get the use of all the amazing tracking tools and get support from others as well as experts wanting to help you every setup of the way.</p>
              
              <div class="signup-sidebar-header">Join the Community!</div>
              
              <p>
              My Weight World is a community focused on your success. We provide you with tools, content, articles, videos, and expert advice to help you achieve and keep you on track to reach your goals.</p>
          
              <%= yield :sidebar %>
            </div>
          </div>
      
          <div id="content" class="grid_11 profile">
            <%= yield %>
          </div>
      
          <br/>
        </div>
      </div>
    </div>
    
    <%= render :partial => 'layouts/footer' %>
    
    <%= render :partial => "layouts/js_libs" %>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :js %>
      });
    </script>
  </body>
</html>