<% unless in_admin? %>
  <p>
    Help us expand our food database.
  </p>
<% end %>

<%= f.hidden_field :custom %>
<p>
  <%= f.label :name, 'Name' %><br/>
  <%= f.text_field :name, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_desc1, %Q{Serving Size  <span class="help-text">(i.e. Cup, oz, lb, etc)</span> } %><br/>
  <%= f.text_field :gmwt_desc1, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :energ_kcal, 'Calories' %><br/>
  <%= f.text_field :energ_kcal, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :total_fat, %Q{Total Fat  <span class="help-text">(grams)</span> } %><br/>
  <%= f.text_field :total_fat, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :protein, %Q{Protein  <span class="help-text">(grams)</span> } %><br/>
  <%= f.text_field :protein, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :carbohydrt, %Q{Carbohydrates  <span class="help-text">(grams)</span> } %><br/>
  <%= f.text_field :carbohydrt, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :sugar_tot, %Q{Sugars  <span class="help-text">(grams)</span> } %><br/>
  <%= f.text_field :sugar_tot, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :cholestrl, 'Cholesterol' %><br/>
  <%= f.text_field :cholestrl, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :sodium, %Q{Sodium  <span class="help-text">(milligrams)</span> } %><br/>
  <%= f.text_field :sodium, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :fiber_td, %Q{Fiber  <span class="help-text">(grams)</span> } %><br/>
  <%= f.text_field :fiber_td, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>
