<p>
  Help us expand our food database.
</p>
<%= f.hidden_field :custom %>
<p>
  <%= f.label :name, 'Name' %><br/>
  <%= f.text_field :name, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gmwt_desc1, 'Serving Size' %><br/>
  <%= f.text_field :gmwt_desc1, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :energ_kcal, 'Calories' %><br/>
  <%= f.text_field :energ_kcal, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :protein %><br/>
  <%= f.text_field :protein, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :carbohydrt, 'Carbohydrates' %><br/>
  <%= f.text_field :carbohydrt, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :sugar_tot, 'Sugars' %><br/>
  <%= f.text_field :sugar_tot, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :cholestrl, 'Cholesterol' %><br/>
  <%= f.text_field :cholestrl, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :sodium, 'Sodium' %><br/>
  <%= f.text_field :sodium, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>