<!-- for multiselect checkbox jquery.. -->

<link rel="stylesheet" type="text/css" href="/assets/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/assets/prettify.css" />
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/jquery.multiselect.filter.js"></script>
<script type="text/javascript" src="/assets/jquery.multiselect.js"></script>
<script type="text/javascript" src="/assets/prettify.js"></script>

<script type="text/javascript">
$(function(){

	$("select").multiselect().multiselectfilter();
});
</script>



<div class="grid_12">
  <h3>New food</h3>
  
  <%= form_for(@food, :url =>  custom_foods_path) do |f| %>
    <%= f.error_messages %>

<% unless in_admin? %>
  <p>
    Help us expand our food database.
  </p>
<% end %><br>	

	<div>    
      <%=f.label :food_category, "Food category:"%>
		<%=select_tag "food_category[]", options_for_select(Food::Food_Category),:multiple => true, :size => 7 , :style=>"margin:-5em 11em;width:10em;"%>        	
        	
		<%#=select_tag "food_category[]", options_for_select([["Good food","1"],["Bad food","2"],["Fast food","3"],["Nutritious food","4"],["Wrong food","5"],["Fatty foot","6"],["High cholestrol food","7"],["Low calorie food","8"]]),:multiple => true, :size => 5 , :style=>"margin-left:3em;"%>

	</div>
	
	<br><br>  
    <%= render :partial => 'form', :locals => {:f => f } %>
    
    <p>
    </br>

<% if !current_user %>
	<div style="margin-left: 0%;">
         <%=render '/shared/recaptcha' %>
   </div></br>
<%end%>    
	 <%= f.submit 'Create this Food' %> | <%= link_to 'Cancel', new_meal_path %>
    </p>
  <% end %>
  
</div>
