<h1>Listing Items</h1>

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Long description</th>
    <th>Meta description</th>
    <th>Meta keywords</th>
    <th>Unit</th>
    <th>Price</th>
    <th>Weight</th>
    <th>Length</th>
    <th>Width</th>
    <th>Height</th>
    <th>Keywords</th>
    <th>Sku</th>
    <th> </th>
  </tr>

<% @items.each_with_index do |item, index| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= index + 1 %></td>
    <td><%=h item.name %></td>
    <td><%=h item.sku %></td>
    <td><%=h item.meta_description %></td>
    <td><%=h item.meta_keywords %></td>
    <td><%=h item.unit %></td>
    <td><%=h item.price %></td>
    <td><%=h item.weight %></td>
    <td><%=h item.length %></td>
    <td><%=h item.width %></td>
    <td><%=h item.height %></td>
    <td><%=h item.keywords %></td>
    <td><%=h item.long_description %></td>
    <td>
      <%= link_to 'Edit', edit_old_item_path(item) %> | 
      <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_old_item_path %>