<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Sku:</b>
  <%=h @item.sku %>
</p>

<p>
  <b>Meta description:</b>
  <%=h @item.meta_description %>
</p>

<p>
  <b>Meta keywords:</b>
  <%=h @item.meta_keywords %>
</p>

<p>
  <b>Unit:</b>
  <%=h @item.unit %>
</p>

<p>
  <b>Price:</b>
  <%=h @item.price %>
</p>

<p>
  <b>Weight:</b>
  <%=h @item.weight %>
</p>

<p>
  <b>Length:</b>
  <%=h @item.length %>
</p>

<p>
  <b>Width:</b>
  <%=h @item.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @item.height %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @item.keywords %>
</p>

<p>
  <b>Long description:</b>
  <%=h @item.long_description %>
</p>


<%= link_to 'Edit', edit_old_item_path(@item) %> |
<%= link_to 'Back', old_items_path %>