<div class="grid_16">
  
  
  <br/>
  
  <h2>Exercises</h2>
  
  <%= link_to 'Back', admin_exercises_path %>&nbsp;
  <%= link_to 'New exercise', new_admin_exercise_path %>
  
  <br/>
  
  <%= form_tag(search_admin_exercises_path) do %>
    <%= text_field_tag 'terms', '', :id => 'exercise-search', :style => "height:1.3em;" %>
  
    <%= submit_tag 'Search', :style => "height:2.2em;" %>
  <% end %>
  
  <% if params['terms'] && !params['terms'].blank? %>
    Displaying results for "<%= params['terms'] %>"<br/>
  <% end %>
  
  <%= page_entries_info(@exercises) %>
  <div style="color:blue;">
    <%= paginate(@exercises, :params => pagination_params(request)) %>
  </div>
  <br/>
  <table class="admin">
    <thead>
      <tr>
        <th>Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr class="<%= cycle('odd', '') %>">
          <td><%= exercise.description %></td>
          <td class="actions">
            <%= link_to 'Edit', edit_admin_exercise_path(exercise) %> | 
            <%= link_to 'Delete', [:admin, exercise], :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <script type="text/javascript" charset="utf-8">
    <% content_for :js do %>
      $('#exercise-search').autocomplete({
        source: "<%= search_exercises_url %>"
      });
    
    <% end %>
  </script>
  
  <%= link_to 'Back', admin_exercises_path %>
</div>
