<h1>Listing Flash Files</h1>

<%= link_to 'New flash_file', new_old_flash_file_path %>
<br /><br />

<table>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Teaser</th>
    <th>Attachments</th>
    <th> </th>
  </tr>

<% @flash_files.each_with_index do |flash_file, index| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= index + 1 %></td>
    <td><%=h flash_file.title %></td>
    <td><%=h flash_file.description %></td>
    <td><%=h flash_file.teaser %></td>
    <td>
      <%= image_tag('file.png') + " #{flash_file.file1.original_filename}" if flash_file.file1.file? %><br />
      <%= image_tag('file.png') + " #{flash_file.file2.original_filename}" if flash_file.file2.file? %>
    </td>
    <td>
      <%= link_to 'Edit', edit_old_flash_file_path(flash_file) %> | 
      <%= link_to 'Destroy', flash_file, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

