<h1>Listing Flash Files</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Teaser</th>
  </tr>

<% @flash_files.each do |flash_file| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h flash_file.title %></td>
    <td><%=h flash_file.description %></td>
    <td><%=h flash_file.teaser %></td>
    <td><%= link_to 'Show', flash_file %></td>
    <td><%= link_to 'Edit', edit_old_flash_file_path(flash_file) %></td>
    <td><%= link_to 'Destroy', flash_file, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flash_file', new_old_flash_file_path %>