<div class="grid_4">
  <ul id="user-settings-tabs">
    <li class="<%= active_settings_tab?('account') %>">
      <%= link_to 'Account Info', user_edit_account_info_path(current_user) %>
    </li>
    <li class="<%= active_settings_tab?('personal') %>">
      <%= link_to 'Personal Info', user_edit_personal_info_path(current_user) %>
    </li>
    <li class="<%= active_settings_tab?('nutrition') %>">
      <%= link_to 'Nutritional Info', user_edit_nutrition_info_path(current_user) %>
    </li>
    <li class="<%= active_settings_tab?('exercise') %>">
      <%= link_to 'Exercise Info', user_edit_exercise_info_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Back to Profile', user_path(current_user) %>
    </li>
  </ul>
  
</div>