<li>
  <%= f.label :first_name, %Q{First Name <span class="help-text">(Enter your First Name)</span> } %>
  <%= f.text_field :first_name, :placeholder => "First Name" %>
</li>

<li>
  <%= f.label :last_name, %Q{Last Name  <span class="help-text">(Enter your Last Name)</span> } %>
  <%= f.text_field :last_name, :placeholder => "Last name" %>
</li>

<li>
  <%= f.label :username, %Q{Username  <span class="help-text">(Minimum of 4 Characters)</span> } %>
  <%= f.text_field :username, :placeholder => "Ex: Nickname" %>
</li>

<li>
  <%= f.label :password, %Q{Password  <span class="help-text">(Minimum of 6 Characters)</span> } %>
  <%= f.text_field :password, :placeholder => "Your password" %>
</li>

<li>
  <%= f.label :password_confirmation, %Q{ Confirm Password <span class="help-text">(Minimum of 6 Characters)</span> } %>
  <%= f.text_field :password_confirmation, :placeholder => "Confirm Your Password" %>
</li>

<li>
  <%= f.label :email, %Q{ Email <span class="help-text">(Note: Email will not be publicly displayed.)</span> } %>
  <%= f.text_field :email, :placeholder => "Ex: email@address.com" %>
</li>

<li>
  Terms of Service
</li>
