<p>
  <%= f.label :avatar %><br/>
  <% if f.object.avatar.file? %>
    <%= image_tag f.object.avatar.url(:medium) %>
    <%= f.check_box :remove_avatar %> Remove?
  <% end %>
  
  <%= f.file_field :avatar, :size => '6' %>
</p>


<p>
  <%= f.label :first_name, %Q{First Name} %><br/>
  <%= f.text_field :first_name, :title => "First Name", :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :last_name, %Q{Last Name} %><br/>
  <%= f.text_field :last_name, :title => "Last name", :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :birthdate %><br/>
  <%= f.date_select :birthdate, :start_year => Time.zone.now.year, :end_year => 100.years.ago.year %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :gender %><br/>
  <%= f.select :gender, [['Choose', 0], ['Male', 'male'], ['Female', 'female']] %>
  <span class="clear"></span>
</p><br/>

<!-- new added code --->

<!--
<p>
  <br/><%= f.label 'Photos:-' %><br/>
</p>

<p>
  <%= f.label 'Before Measurements' %><br/>
  <% if f.object.photobefore.file? %>
    <%= image_tag f.object.photobefore.url(:medium) %>
  <% end %>
  
  <%= f.file_field :photobefore, :size => '6' %>
</p>

<p>
  <br/><%= f.label 'After Measurements' %><br/>
  <% if f.object.photoafter.file? %>
    <%= image_tag f.object.photoafter.url(:medium) %>
  <%end %>
  
  <%= f.file_field :photoafter, :size => '6' %>
</p>

-->


<!--

<p>
  <br/><%= f.label 'Body Fat' %><br/>
  <%= f.text_field :bodyfat, :title => 'Body Fat', :class => 'grid_6 alpha' %><div style="padding-top:2%;">&nbsp;%</div>
  <span class="clear"></span>
</p>-->

<!-- end new added code -->

<%= render :partial => '/users/personal_measurements', :locals => {:f => f} %><br />

<div class="panel">

<p class="flip" style="font-weight:bold;font-size:15px;color:#0A2B42;">Calculate body fat</p><br/>

<p>
	<input type="radio" id="cm" name="cmi" />Centimeter
	<input type="radio" id="in" name="cmi" checked="checked" />Inches
</p><br/>

 <p>
  <%= f.label :height, %Q{Height <span class="help-text">(Height will not be publicly displayed)</span> }.html_safe %><br/>
  <span id="height-view"></span>
  <div id="height-slider"></div>
  <%= f.hidden_field :height, :id => 'height-val',  :value => @slider_height %>
</p>

 </p> 
 <b style="color:#0A2B42;">Neck<b><br />
   <%= text_field_tag "neck" %>
 </p> 

 <p>
   <b style="color:#0A2B42;">Waist<b><br />
   <%= text_field_tag "waist" %>
 </p> 

<%if current_user.gender.downcase=="female"%>
<p>
  Hips:<br />
   <%= text_field_tag "hips" %>
</p>
<%end%>
<p>
  <button id="store_calc">Calculate</button>		
</p><br/>
<!---
<div id="bodyfat_result" style="font-weight:bold;color:black;font-size:15px;"></div><br/>
</div> -->

<p>
  <%= f.label :city %><br/>
  <%= f.text_field :city, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :state %><br/>
  <%= f.text_field :state, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :bio %><br/>
  <%= f.text_area :bio, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :twitter %><br/>
  <%= f.text_field :twitter_name, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :employment_position, 'Work Title' %><br/>
  <%= f.text_field :employment_position, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>
<p>
  <%= f.check_box :private %>
  <%= f.label :private, "Mark your account as private to non members?" %>
  
  <br/>
  <br/>
  <span class="clear"></span>
</p>
