<div style="float:left; width: 125px;" >
  <%= image_tag 'you.png' %>
</div>

<div style="float:left; width: 450px;">
  <h2 style="padding-left: 0px;">Tell Us About Yourself</h2>
  <p style="padding-left: 0px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
</div>

<div style="clear:both">&nbsp;</div>

<div style="float:left; width: 225px;" >
  <%= label_tag 'Profile Photo' %>
  <div class="avatar-placeholder">
    
  </div>
  <%= label_tag '', %Q{<span class="help-text">File types: .png, .jpg, .gif</span> }.html_safe %><br/>
  <%= label_tag '', %Q{<span class="help-text">(4MB max).</span> }.html_safe %>
  <%= f.file_field :avatar, :size => '6' %>
</div>

<div style="float:left; width: 260px;" >

  <p>
    <%= f.label :gender %><br/>
    <%= f.select :gender, [['Choose', 0], ['Male', 'male'], ['Female', 'female']] %>
  </p>
  
  <p>
    <%= f.label :birthdate %><br/>
    <%= f.date_select :birthdate, :start_year => Time.zone.now.year, :end_year => 100.years.ago.year %>
  </p>

</div>

<div style="clear:both; margin-bottom: 25px;">&nbsp;</div>

<%= image_tag 'signup_personal_seperator.png', :class => 'grid_9' %>

<div style="float:left; width: 125px;" >
  <p style="font-weight:bold; font-size: 2em; padding: 24px;">goals.</p>
</div>

<div style="float:left; width: 450px;">
  <h2 style="padding-left: 0px;">Create a baseline to work against</h2>
  <p style="padding-left: 0px;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
  </p>
</div>

<div style="clear:both">&nbsp;</div>

<%= render :partial => 'personal_measurements', :locals => {:f => f} %>
