<li>
  <%= f.label :gender %>
  <%= f.select :gender, [['Choose', 0], ['Male', 'male'], ['Female', 'female']] %>
</li>

<li>
  <%= f.label :birthdate %>
  <%= f.date_select :birthdate %>
</li>

<li>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</li>

<li>
  <%= f.label :height %>
  <%= f.text_field :height %>
</li>

<li>
  <%= f.label :weight %>
  <%= f.text_field :weight %>
</li>