
<div id="form" style="margin-left:15%;margin-top:7%;">

<p>
	<%=radio_button "incm","","", :onclick=>"convertCm()" %>Centimeter
	<%=radio_button "incm","","", :onclick=>"convertCm()" %>Inches
</p>

 <p>
   Height:<br />
   <%= text_field_tag, disabled=>true, "height" %>
 </p>
 <p>
   Height:<br />
   <%= text_field_tag "height" %>
 </p> 
 <p>
   Neck:<br />
   <%= text_field_tag "neck" %>
 </p> 
 <p>
   Waist:<br />
   <%= text_field_tag "waist" %>
 </p> <p>
 
<%if current_user.gender.downcase=="female"%>
<p>
  Hips:<br />
   <%= text_field_tag "hips" %>
</p>
<%end%>

<p>
  <%=submit_tag "Calculate"%>
</p>

</div>
