  <%= javascript_include_tag "application" %>
<script>

 $(document).ready(function(){
  

	$("#exercisetips, #mealnotifications").css("display","none");

	$("#notification_notification_type").change(function(){ 

	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Food")
	{
	$("#exercisetips").css("display","none");
	$("#mealnotifications").css("display","block");

	}
	else if (type=="Activity")
	{
	$("#mealnotifications").css("display","none");
	$("#exercisetips").css("display","block");

	}
	else
	{
	$("#exercisetips, #mealnotifications").css("display","none");
	}


	});

});


function submitform()
{

	if ($("#notificationFrequency_").find("option:selected").text()=='')	
	{
	alert("Notification frequency field cannot be empty.");
	return false;		
	}
	else if ( $("#message").val()=='')	
	{
	alert("Message frequency field cannot be empty.");
	return false;		
	}
   else
   {
   
	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Activity")
	{
		 if ($("#excercises").find("option:selected").text()=='')	
	{
	alert("Excercises field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}

	}
	else if (type=="Food")
	{
		 if ($("#meals").find("option:selected").text()=='')	
	{
	alert("Meals field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}
	}
	else
	{
     $("#notification_new").submit();
	}
   
  }
 
}
</script>
<div class="grid_12" style="margin-left:3em;">
  <h1>New Notification</h1>
  <hr><br />
<%= form_for(@notification, :as => :notification, :url => notificationcreate_user_path(), :html => {:multipart => true} ) do |f| %>

	<%=f.hidden_field :notificationTo, :value=>"User"%>
	<%=f.hidden_field :notificationable_type, :value=>"User"%>
	<%=f.hidden_field :notificationable_id, :value=>"#{current_user.id}"%>  
	<%=f.hidden_field :notificationToId, :value=>"#{current_user.id}"%> 




<p>
	<%= f.label :notification_type, "Notification type:" %>
	<%=f.select   :notification_type, options_for_select([ ['Weight loss','weight' ],['Supplements','supplements' ] ,['Body fat','bodyfat' ], ['Calories','calories' ], ['Activity','activity' ] , ['Food','food' ] ]) %> 


</p> <br/>  
   

<div id= "mealnotifications" style="display:none;">

<p>
		<label>Choose Food: <span class="help-text">(Multiple select holding CTRL key)</span></label><br/>
		<%=select_tag 'mealslist[]', options_for_select(allfoods.map {|s| ["#{s.name} ", s.id]}), :multiple => true, :size => 7, :id=>"meals",:style=>"width:20em;"%><br/><br/>
</p>

</div>



<div id="exercisetips">

<p>		
		<label>Recommend Exercise :<span class="help-text">(Multiple select holding CTRL key)</span> </label><br/><br/>
			<%=select_tag 'exerciseslist[]', options_for_select(Exercise.all.map {|s| ["#{s.description} ", s.id]}), :multiple => true, :size => 7, :id=>"excercises",:style=>"width:20em;"%><br/><br/>

</p>	

</div>



<p>
	<label>Amount :</label>
	<%=f.text_field :amount, :placeholder=>"lbs", :style=>"width:4em;height:1.3em;"%>&nbsp;&nbsp;&nbsp;Duration:<%=select_tag   "Duration", options_for_select([ ['Day','day' ],['Week','week' ],['Month','month' ] ]) %> 

</p>

   
<p>
	<%=f.label  :notificationFrequency, %Q{ Send Nofication every: <span class="help-text">(Frequency: Multiple select holding CTRL key)</span> }.html_safe %><br/>
	<%=select_tag  'notificationFrequency[]', options_for_select([ ['day','1.day' ],['2 day','2.days' ] ,['3 day','3.days' ], ['weekely','7.days' ] ,['Bi weekely','14.days' ] ,['monthly','30.days' ] ]),:multiple => true, :size => 5 %> 

</p> <br/>  



<p>
 <%=f.label  "Send notification at:"%>
  <%= f.select "time", options_for_select([["6am", "6:00 am"], ["7am", "7:00 am"], ["8am", "8:00 am"], ["9am", "9:00 am"], ["10am", "10:00 am"], ["11am","11:00 am"], ["12pm","12:00 pm"], ["1pm", "1:00 pm"], ["2pm", "2:00 pm"], ["3pm", "3:00 pm"], ["4pm", "4:00 pm"], ["5pm", "5:00 pm"], ["6pm", "6:00 pm"], ["7pm", "7:00 pm"], ["8pm", "8:00 pm"], ["9pm", "9:00 pm"], ["10pm", "10:00 pm"], ["11pm", "11:00 pm"], ["12am", "12:00 am"], ["1am", "1:00 am"], ["2am", "2:00 am"], ["3am", "3:00 am"], ["4am","4:00 am" ], ["5am", "5:00 am"]])%>

<p></br>



<p>
	<%= f.label :do_dont, "Do/Don't" %>
	<%=f.select   :do_dont, options_for_select([ ['Do','1' ],['Dont','0' ] ]) %> 

</p> <br/>  
   
<p>
	<%= f.label :message, "Message:" %><br/><br/>
	<%= f.text_area :message , :id=>"message",:style=>"width:25em;height:10em;"%>

</p><br/><br/>

 
      
<p>
<!--	<%#= f.submit 'Create Notification' %> | <%#= link_to 'Cancel', admin_notifications_path %>-->
<input type="button" value="Save" onclick="submitform();"/>
</p>

<% end %>
  
</div>

