<style type="text/css">
input:-moz-placeholder {
color: grey;
}
 
#notification_notification_type{
width:7em;
} 
.as-list {
height: 300px;
overflow: auto;
}
			
</style>

<%= javascript_include_tag "application" %>
<!-- for multiselect checkbox jquery.. -->
<link rel="stylesheet" type="text/css" href="/assets/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/assets/prettify.css" />
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="/assets/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/jquery.multiselect.filter.js"></script>
<script type="text/javascript" src="/assets/jquery.multiselect.js"></script>
<script type="text/javascript" src="/assets/prettify.js"></script>

<script type="text/javascript">

$(function(){
	$("#notification_notification_type").multiselect({
	   multiple: false,
      selectedList: 1
	}).multiselectfilter();	
 }); 

$(function(){
	$("#foodCategory").multiselect({
    noneSelectedText: "food categories"
	}).multiselectfilter();	
 }); 

 $(document).ready(function(){

$("#selectall").click(function(){
//alert($('.as-values:first').val());
/*
$("#noticefor").find('option').each(function() {
		$(this).attr('selected', 'selected');
	});

*/

});
  
	$("#exercisetips, #mealnotifications, #inactivity").css("display","none");

	$("#notification_notification_type").change(function(){ 

	type=$("#notification_notification_type").find("option:selected").text();
	$("#amountdiv").css("display","block");
	if (type=="Food")
	{
	$("#exercisetips, #inactivity").css("display","none");
	$("#mealnotifications").css("display","block");
	}else if (type=="Activity")
	{
	$("#mealnotifications, #inactivity").css("display","none");
	$("#exercisetips").css("display","block");
	}else if (type=="Lunch inactivity" || type=="Breakfast inactivity" || type=="Dinner inactivity" || type=="Diary inactivity"){
	$("#amountdiv, #exercisetips, #mealnotifications").css("display","none");
	$("#inactivity").css("display","block")

	}else if (type=="Other")
	{
	$("#exercisetips, #mealnotifications,#inactivity,#amountdiv").css("display","none");
	}else
	{
	$("#exercisetips, #mealnotifications,#inactivity").css("display","none");	
	
	}
 
 });

});


function submitform()
{



//	if ($("#noticefor").find("option:selected").text()==''){
//		alert("Please select recepients.");
//		return false;		
//	}

  if ($('#notificationFrequency_second').is(':checked') && $("#notificationFrequency2").val()==''){ 		 
    alert("frequency text box cannot be empty.");
	 return false;			
	 }


	if ( $("#message").val()==''){
	  alert("Message frequency field cannot be empty.");
	  return false;		
	  }

		
	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Activity" && $("#exercisetips").contents().find('.as-values').val()==''){
		alert("Excercises field cannot be empty.");
		return false;		
		}else if (type=="Food" && $("#mealnotifications").contents().find('.as-values').val()==''){
		alert("Meals field cannot be empty.");
		return false;		
		}else{
	
	//getting elements from iframe contents..........................
		var exerciselist = $("#notification_new").contents().find("#exercisetips").contents().find('.as-values').val();
		var meallist = $("#notification_new").contents().find("#mealnotifications").contents().find('.as-values').val();

		//$("#notificationToId").val(notificationid);

		$("#meals1").val(meallist);
		$("#exercise1").val(exerciselist);	


		$("form").submit();
	}
}
</script>


<div class="grid_12" style="margin-left:3em;">
  <h1>New Notification</h1>
  <hr><br />
<%= form_for(@notification, :as => :notification, :url => notificationcreate_user_path(), :html => {:multipart => true} ) do |f| %>

	<%=f.hidden_field :notificationTo, :value=>"User"%>
	<%=f.hidden_field :notificationable_type, :value=>"User"%>
	<%=f.hidden_field :notificationable_id, :value=>"#{current_user.id}"%>  
	<%=f.hidden_field :notificationToId, :value=>"#{current_user.email}"%> 




    <%= render :partial => 'admin/notifications/form', :locals => {:f => f} %>

<% end %>
  
</div>

