  <%= javascript_include_tag "application" %>
<script>

 $(document).ready(function(){
  

	$("#exercisetips, #mealnotifications").css("display","none");

	$("#notification_notification_type").change(function(){ 

	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Food")
	{
	$("#exercisetips").css("display","none");
	$("#mealnotifications").css("display","block");

	}
	else if (type=="Activity")
	{
	$("#mealnotifications").css("display","none");
	$("#exercisetips").css("display","block");

	}
	else
	{
	$("#exercisetips, #mealnotifications").css("display","none");
	}


	});

});


function submitform()
{

	if ($("#notificationFrequency_").find("option:selected").text()=='')	
	{
	alert("Notification frequency field cannot be empty.");
	return false;		
	}
	else if ( $("#message").val()=='')	
	{
	alert("Message frequency field cannot be empty.");
	return false;		
	}
   else
   {
   
	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Activity")
	{
		 if ($("#excercises").find("option:selected").text()=='')	
	{
	alert("Excercises field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}

	}
	else if (type=="Food")
	{
		 if ($("#meals").find("option:selected").text()=='')	
	{
	alert("Meals field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}
	}
	else
	{
     $("#notification_new").submit();
	}
   
  }
 
}
</script>
<div class="grid_12" style="margin-left:3em;">
  <h1>New Notification</h1>
  <hr><br />
<%= form_for(@notification, :as => :notification, :url => notificationcreate_user_path(), :html => {:multipart => true} ) do |f| %>

	<%=f.hidden_field :notificationTo, :value=>"User"%>
	<%=f.hidden_field :notificationable_type, :value=>"User"%>
	<%=f.hidden_field :notificationable_id, :value=>"#{current_user.id}"%>  
	<%=f.hidden_field :notificationToId, :value=>"#{current_user.email}"%> 




    <%= render :partial => 'admin/notifications/form', :locals => {:f => f} %>

<% end %>
  
</div>

