<div  class="full">
  <div class="grid_4">
    &nbsp;
    <% if @user.avatar.file? %>
      <%= image_tag(@user.avatar.url(:large), :class => "profile-avatar") %>
    <% else %>
      <div class="profile-avatar"></div>
    <% end %>
    
  </div>

  <div id="profile-center" class="grid_8">
    <h2><%= @user.full_name %></h2>
  
    <div id="personal-stats"><span><%= 'Chandler' %>, <%= 'AZ' %></span> | <span>Web Developer</span> | <span>Married</span> | <span>29</span></div>
  
    <p id="latest-goal"><b>Goal as of 11/2010:</b> Lose 25lbs by March 15, 2011</p>
  </div>

  <div class="grid_4">
    &nbsp;
  </div>

</div>

<div class="clear"></div>

<div class="grid_4">
  &nbsp;
  <!-- <h5>Percentage of Profile Complete</h5>
    
    <p style="width: 210px; height: 30px; background-color: blue;">&nbsp;</p>
    
    <h5>Friends</h5> -->
</div>

<div class="grid_8 profile-center-content">
  <h2 id="personal-info">Personal Info <%= link_to 'edit', user_edit_personal_info_path(current_user) if @user == current_user %></h2>
  
  <div class="grid_2 alpha">Bio</div>
  <div class="grid_6 omega"><%= @user.bio %></div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Employer</div>
  <div class="grid_6 omega"><%= @user.employer %>&nbsp;</div>
  <div class="grid_2 alpha">Position</div>
  <div class="grid_6 omega"><%= @user.employment_position %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">College</div>
  <div class="grid_6 omega"><%= @user.college %>&nbsp;</div>
  
  <div class="clear"></div>
  <div class="grid_2 alpha">High School</div>
  <div class="grid_6 omega"><%= @user.high_school %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Relationship<br/>Status</div>
  <div class="grid_6 omega"><%= @user.marital_status.try :titleize %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Interested In</div>
  <div class="grid_6 omega"><%= @user.interested_in.try :titleize %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <h2 id="personal-info">Nutrition Info <%= link_to 'edit', user_edit_nutrition_info_path(current_user) if @user == current_user %></h2>
  
  <div class="grid_2 alpha">Goals</div>
  <div class="grid_6 omega"><%= @user.goals %></div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Nutritional Goals</div>
  <div class="grid_6 omega"><%= @user.nutritional_goals %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Diet</div>
  <div class="grid_6 omega"><%= @user.diet %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Supplements</div>
  <div class="grid_6 omega"><%= @user.supplements %>&nbsp;</div>
  
  <div class="clear"></div>
  <div class="grid_2 alpha">Favorite Restaurants</div>
  <div class="grid_6 omega"><%= @user.favorite_restaurants %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <h2 id="personal-info">Exercise Info <%= link_to 'edit', user_edit_exercise_info_path(current_user) if @user == current_user %></h2>
  
  <div class="grid_2 alpha">Goals</div>
  <div class="grid_6 omega"><%= @user.exercise_goals %></div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Exercise Types</div>
  <div class="grid_6 omega"><%= @user.exercise_types %>&nbsp;</div>
  
  <div class="clear"></div>
  
  <div class="grid_2 alpha">Recreational Activities</div>
  <div class="grid_6 omega"><%= @user.activities %>&nbsp;</div>
  
  <div class="clear"></div>
</div>

<div class="grid_4">
  &nbsp;
</div>