<!-- SIGN UP BOX BEGINS -->
<div class="signup-process grid_11 alpha">
  
  <div class="grid_11 alpha omega signup-form-header">
    <ul class="signup-progressbar grid_9 alpha">
      <li class="grid_3 alpha"><strong>1.</strong> Join In</li>
      <li class="grid_3 push_2"><strong>2.</strong> Personal</li>
    </ul>
  </div>
  <%= session["devise.facebook_data"] %>
  <%= env["omniauth.auth"] %>
  <div id="signup-content" class="grid_10 alpha push_1">
    <br/>
    <h2>Join the community!</h2>
    <p>
      Suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
    </p>
    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <ol class="forms">
        <%= render :partial => '/users/form', :locals => {:f => f} %>
      </ol>
      
      <button class="button grid_4 alpha" type="submit">
        On to the Next Step!
      </button>
      
    <% end %>
  </div>
  
  <div style="clear:both">&nbsp;</div>
</div>

