
<h3>Your Profile</h3>

<h3 id="personal-info">Personal Info</h3>

<div class="profile-label ">Bio</div>
<div class="grid_8 omega"><%= @user.bio %></div>

<div class="clear space"></div>

<div class="profile-label">Position</div>
<div class="grid_8 omega"><%= @user.employment_position %>&nbsp;</div>

<div class="clear space"></div>
<br/>
<h3 id="personal-info">Nutrition Info</h3>

<div class="profile-label ">Goals</div>
<div class="grid_8 omega"><%= @user.goals %></div>

<div class="clear space"></div>

<div class="profile-label ">Nutritional Goals</div>
<div class="grid_8 omega"><%= @user.nutritional_goals %>&nbsp;</div>

<div class="clear space"></div>

<div class="profile-label ">Diet</div>
<div class="grid_8 omega"><%= @user.diet %>&nbsp;</div>

<div class="clear space"></div>

<div class="profile-label ">Supplements</div>
<div class="grid_8 omega"><%= @user.supplements %>&nbsp;</div>

<div class="clear space"></div>

<div class="profile-label ">Favorite Restaurants</div>
<div class="grid_8 omega"><%= @user.favorite_restaurants %>&nbsp;</div>

<div class="clear space"></div>
<br/>
<h3 id="personal-info">Exercise Info</h3>

<div class="profile-label ">Goals</div>
<div class="grid_8 omega"><%= @user.exercise_goals %></div>

<div class="clear space"></div>

<div class="profile-label ">Exercise Types</div>
<div class="grid_8 omega"><%= @user.exercise_types %>&nbsp;</div>

<div class="clear space"></div>

<div class="profile-label ">Recreational Activities</div>
<div class="grid_8 omega"><%= @user.activities %>&nbsp;</div>

<div class="clear space"></div>

