<%= link_to 'Back', :back %>

<hr/>

<h1><%= @video.title %></h1>

<p><%= @video.description.html_safe %></p>

<%= link_to '', @video.video.url , :id => 'player', :style => 'display: block; width: 527px; height: 350px; margin: 15px; ' %>

<p>
  <span  class='st_twitter' displayText='Tweet'></span>
  <span  class='st_facebook' displayText='Facebook'></span>
  <span  class='st_email' displayText='Email'></span>
  <span  class="st_plusone_button" displayText="Google +1"></span>
</p>

<% content_for :sidebar do %>
  <!-- Categories  -->
  <div id="search-categories-sidebar" class="sidebar-container subsection" >
    <h4 class="sidebar-subheader">Categories</h4>

    <p>We have an extensive library to help you with many facets of fitness and wellness - peruse by category</p>

    <ul id="search-categories">
      <%= render :partial => '/searches/video_category', :collection => @categories, :as => :category %>
    </ul>

    <div class="clear">&nbsp;</div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    flowplayer("player", "/flowplayer-3.2.7.swf", {clip: {scaling: 'orig', autoPlay: false}});
  <% end %>
</script>
