<div class="sidebar-container subsection" >
  <h4 class="sidebar-subheader">Achievement Date</h4>
  
  <div id="achievement-calendar" class="">
    <div id="achievement-date">
      <%= render :partial => 'shared/achievement_date', :locals => {:user => current_user} %>
    </div>
  </div>
  
  <div id='achievement-text' class="grid_3">
    <span id="pounds"><span class="edit"><%= current_user.weight %></span> lbs</span><br/>
    recorded <span id="days-ago"><%= distance_of_time_in_words_to_now(current_user.weights.first.try(:created_at)).gsub('about', 'about<br/>').html_safe %> ago</span>
    
    <%= link_to 'Update Weight', edit_metabolic_rates_path, :id => 'update-weight', :class => 'outlined-fade' %>
  </div>
  
  <div class="clear">&nbsp;</div>
<!-- style="padding: 20px; width: 240px; position: absolute; right: 0px; top: 106px; background-color: #FFF; -->
</div>

<div class="sidebar-container subsection">
  <% if current_user.bmr && current_user.rmr %>
    <p class="goal-explanation-header">BMR: <span class="bold"><%= current_user.bmr %> / </span>day</p>
    <p class="goal-explanation-text">This is the total number of calories you need in order to maintain your current weight.</p>

    <p class="goal-explanation-header">Goal: <span class="bold"><%= five_hundred_calorie_deficit(current_user) %> / </span>day</p>
    <p class="goal-explanation-text">Performing this will give you 1lb of weight loss per week. If you want to lose 2lbs of weight per week we recommend you burn an additional 500 calories per day.</p>

  
    <p>
      <% if current_user.trying_to_lose_weight? %>
        <span style="font-size: 12px; font-weight: bold;">If you manage</span><br/>
        <p style="font-size: 20px; font-weight: bold; color: #3399cc;"><%= five_hundred_calorie_deficit(current_user) %> total daily calories</p>
        <p style="font-size: 12px; font-weight: bold; margin-top: 10px;">You can reach your goal in <%= days_to_goal(current_user, 500) %> days.</p>
        <span style="font-size: 20px; font-weight: bold; color: #3399cc;">Losing <%= pounds_to_lose(current_user) %> lbs by <%= days_to_goal(current_user, 500).days.from_now.strftime("%b %d") %></span>

      <% elsif 1 == 0 %>
        If you exceed your BMR calorie intake by <%= five_hundred_calorie_surplus(current_user) %> calories a day (a 500 calorie surplus).  You can reach your goal of gaining <%= pounds_to_gain(current_user) %> lbs in <%= days_to_goal(current_user, 500) %> days (<%= days_to_goal(current_user, 500).days.from_now.strftime("%b %d") %>)

      <% end %>
    </p>
  <% end %>
  <div class="clear">&nbsp;</div>
</div>
