<ul>
  <% if current_user %>
    <li>
      <%= link_to "", user_path(current_user), :id => 'profile-tab', :title => 'Profile' %>
    </li>
    <li>
      <%= link_to "", meals_path, :id => 'food-tab', :title => 'Meals' %>
    </li>
    <li>
      <%= link_to "", workouts_path, :id => 'exercise-tab', :title => 'Workouts' %>
    </li>
    <li>
      <%= link_to '', weight_over_time_tracking_path, :id => 'charts-tab', :title => 'Charts' %>
    </li>
    <li>
      <%= link_to 'Goal', edit_metabolic_rates_path, :title => 'Goal' %>
    </li>
  <% end %>
  
  <li id="end-tab">
    <%= link_to '', {} %>
  </li>
</ul>