<ul>
  <% if current_user %>
    <li>
      <%= link_to "", user_path(current_user), :id => 'profile-tab' %>
    </li>
    <li>
      <%= link_to "", meals_path, :id => 'food-tab' %>
    </li>
    <li>
      <%= link_to "", workouts_path, :id => 'exercise-tab' %>
    </li>
    <li>
      <%= link_to '', charts_tracking_path, :id => 'charts-tab' %>
    </li>
    <li>
      <%= link_to 'Goal', edit_metabolic_rates_path %>
    </li>
  <% end %>
  
  <li id="end-tab">
    <%= link_to '', {} %>
  </li>
</ul>