
<div class="grid_16">
  <p>
    <b>MyWeightWorld, LLC</b> ("MyWeightWorld") may revise and update this Privacy Policy at any time. Your continued usage of the MyWeightWorld website ("MyWeightWorld Site," or the "Site,") will mean you accept those changes.<br/><br/>
  MyWeightWorld understands how important the privacy of personal information is to our users. This Privacy Policy will tell you what information we collect about you and about your use of MyWeightWorld and its services. It will explain the choices you have about how your personal information is used and how we protect that information. We urge you to read this Privacy Policy carefully.
  </p>

  <h4>INDEX</h4>
  <ul id="privacy-links">
    <li><%= link_to "ABOUT THIS PRIVACY POLICY AND USING OUR SITE AND TOOLS", '#about' %><br/></li>
    <li><%= link_to "NON-PERSONAL INFORMATION WE COLLECT ABOUT YOU", '#non-personal' %><br/></li>
    <li><%= link_to "PERSONALLY IDENTIFIABLE INFORMATION WE COLLECT ABOUT YOU", '#personal_info' %><br/></li>
    <li><%= link_to "INFORMATION COLLECTED BY THIRD PARTIES NOT ACTING ON BEHALF OF MYWEIGHTWORLD HEALTH", '#third_parties' %><br/></li>
    <li><%= link_to "DISCLOSURE OF YOUR INFORMATION", '#disclosure' %><br/></li>
    <li><%= link_to "HOW MYWEIGHTWORLD HANDLES PRIVACY AND SECURITY INTERNALLY", '#internal' %><br/></li>
    <li><%= link_to "UPDATING YOUR INFORMATION AND CONTACTING MYWEIGHTWORLD HEALTH", '#contact' %><br/></li>
    <li><%= link_to "CHANGES TO THIS PRIVACY POLICY", '#changes' %><br/></li>
    <li><%= link_to "GLOSSARY", '#glossary' %><br/></li>
  </ul>
  
  <h3><%= link_to 'ABOUT THIS PRIVACY POLICY AND USING OUR SITE AND TOOLS', {}, :name => 'about' %></h3>
  
  <p>
    This Privacy Policy applies to the MyWeightWorld.com site owned and operated by My Weight World, LLC. Reference to "MyWeightWorld" means MyWeightWorld, LLC, including any company and/or website that MyWeightWorld, LLC controls. MyWeightWorld may share information among its subsidiaries or sites that it owns or controls, but it is always protected under the terms of this Privacy Policy.<br/><br/>
  The MyWeightWorld Web site contains links to other sites. Once you enter another Web site (whether through an advertisement, service, or content link), be aware that MyWeightWorld is not responsible for the privacy practices of such other sites. We encourage you to look for and review the privacy statements of each and every Web site that you visit through a link or advertisement on MyWeightWorld.<br/><br/>
  We hope that reading our Privacy Policy gives you a clear idea of how we manage information about you. Throughout our Privacy Policy, we have underlined various terms and hot-linked them to our Index or to the corresponding Section within the Privacy Policy to help you better understand their meaning.<br/><br/>
  While you may use some of the functionality of MyWeightWorld without registration, many of the specific tools and services on our website require registration. If you use our Web site without registering, the only information we collect will be Non-Personal Information through the use of Cookies or Web Beacons. If you choose to register with our Web site for certain Interactive Tools or other services, we require you to submit Personally Identifiable Information. Depending on the tool or service you have selected, we may also collect Personal Health Information. You are responsible for ensuring the accuracy of the Personally Identifiable Information and Personal Health Information you submit to MyWeightWorld. Inaccurate information will affect the information you receive when using our site and tools and our ability to contact you as contemplated in this Privacy Policy. For example, your email address should be kept current because that it is how we communicate with you.
  </p>
  
  <h3><%= link_to 'NON-PERSONAL INFORMATION WE COLLECT ABOUT YOU', {}, :name => 'non-personal' %></h3>
  
  <p>
    Even if you do not register with MyWeightWorld, we collect Non-Personal Information about your use of our Web site, special promotions and newsletters.
  </p>
  
  <h4>Cookies</h4>
  
  <p>
    We collect Non-Personal Information about your use of our Web site and your use of the Web sites of selected sponsors and advertisers through the use of Cookies. Every computer accessing MyWeightWorld site is assigned a different Cookie by MyWeightWorld. The information collected by Cookies (i) helps us dynamically generate advertising and content on Web pages or in newsletters, (ii) allows us to statistically monitor how many people are using our Web site and selected sponsors' and advertisers' sites, (iii) how many people open our emails, and (iv) for what purposes these actions are being taken. We may use Cookie information to target certain advertisements to your browser or to determine the popularity of certain content or advertisements. Cookies are also used to facilitate a user's log-in, as navigation aides and as session timers. Cookies used by MyWeightWorld may also be used to restrict underage use of the tools.<br/><br/>
  Most browser software can be set to reject all Cookies. Most browsers offer instructions on how to reset the browser to reject Cookies in the "Help" section of the toolbar. If you reject our Cookies, certain of the functions and conveniences of our Web site may not work properly but you do not have to accept our Cookies in order to productively use our site. We do not link Non-Personal Information from Cookies to Personally Identifiable Information without your permission and do not use Cookies to collect or store Personal Health Information about you.
  </p>
  
  <h4>Web Beacons</h4>
  
  <p>
    We also may use Web Beacons to collect Non-Personal Information about your use of our Web site and the Web sites of selected sponsors and advertisers, and your use of special promotions or newsletters. The information collected by Web Beacons (i) allows us to statistically monitor how many people are using our website and selected sponsors' and advertisers' sites, (ii) how many people open our emails, and (iii) for what purposes these actions are being taken. Our Web Beacons are not used to track your activity outside of our Web sites or those of our sponsors'. We do not link Non-Personal Information from Web Beacons to Personally Identifiable Information without your permission and do not use Web Beacons to collect or store Personal Health Information about you.
  </p>
  
  <h3>PERSONALLY IDENTIFIABLE INFORMATION WE COLLECT ABOUT YOU</h3>
  
  <p>We collect Personally Identifiable Information that you provide to us when you register as a member of MyWeightWorld and/or when you update your member profile. We use the Personally Identifiable Information that you provide to respond to your questions, provide you the specific services you select, send you emails about Web site maintenance and updates, and inform you of significant changes to this Privacy Policy. We also use specific Personally Identifiable Information that you identify for public areas of the website.</p>
  
  <h4>Newsletters & Emails to You</h4>
  
  <p>
    At registration and at various times as you use MyWeightWorld, you will be given the option of receiving recurring informational/promotional newsletters via email from MyWeightWorld and/or directly from third parties. These emails will not contain Personal Health Information. At the time you sign up for our email newsletters or any time thereafter, you can choose to Opt-In to receiving additional promotional emails from MyWeightWorld.<br/><br/>
  In order to subscribe to such newsletters via email, we need your contact information, such as name and email address. You can unsubscribe from the newsletters by simply clicking on the "unsubscribe" link at the bottom of any email newsletter. An email to our automated unsubscribe service will be created on your computer. Click the "send" button. You will then be unsubscribed from that newsletter within two to three business days. You may also unsubscribe or change any of your email preferences by clicking on the applicable links in your email newsletter or by changing your profile within MyWeightWorld. If you are experiencing difficulties with our automated unsubscribe service, please contact Customer Service. MyWeightWorld Customer Service will unsubscribe you from that newsletter in two to three business days.<br/><br/>
  In some cases, when you click on a link or an advertisement in an e-mail or newsletter, your browser may be momentarily directed to the website of a third party which, acting on behalf of MyWeightWorld (see Disclosure to Third Party Contractor Web sites, below), notes or "counts" your response to the e-mail or newsletter before re-directing your browser to your selected destination; this re-direction process will not be apparent to you.
  When you use MyWeightWorld's "Email a Friend", MyWeightWorld emails the article or other content you designate to your friend's email address and identifies your email address as the sender. MyWeightWorld uses the friend's email address to send your friend the particular email you requested.
  </p>
  
  <h4>Emails You Send to MyWeightWorld</h4>
  
  <p>This Privacy Policy does not apply to content, business information, ideas, concepts or inventions that you send to MyWeightWorld by email. If you want to keep content or business information, ideas, concepts or inventions private or proprietary, do not send them in an email to MyWeightWorld. Furthermore, unless a confidentiality agreement has been entered into prior to receipt of any communication, MyWeightWorld will presume that any content, business information, ideas, concepts, or inventions communicated to MyWeightWorld are public and not proprietary. We try to answer every email within 48 business hours, but are not always able to do so.</p>
  
  <h4>Message Boards and other Public Forums</h4>
  
  <p>As a service to our users, MyWeightWorld features message boards, chat rooms and other public forums where users with similar interests or medical conditions can share information and support one another or where users can post questions for experts to answer. We also offer online discussions moderated by medical or healthcare experts.<br/><br/>
  Any information shared (including Personally Identifiable and Personal Health Information) that you reveal in a chat room, message board, email, online discussion or other venue through MyWeightWorld is by design open to the public and is not a private, secure service. You should think carefully before disclosing any Personally Identifiable or Personal Health Information in any public forum. What you have written may be seen, disclosed to or collected by third parties and may be used by others in ways we are unable to control or predict, including to contact you for unauthorized purposes. MyWeightWorld is not responsible or liable for any disclosure or posting of Personal Information or Personal Health Information that you make on a chat room, message board, email, online discussion or other venue which is by design open to the public.
  </p>
  
  <h4>Website Registration and Interactive Tools on MyWeightWorld</h4>
  
  <p>After you have registered as a member of MyWeightWorld, you may choose to use certain MyWeightWorld interactive content, tools and services that may ask you to voluntarily provide other types of information about yourself including Personal Health Information. Some of the tools (like certain quizzes or calculators) do not retain your Personal Health Information, while others (like weight tracking) store your Personal Health Information in accordance with the authorization you provide at the time you use the tool.</p>
  
  <h4>Subscription Services</h4>
  
  <p>From time to time, MyWeightWorld offers users the opportunity to register for subscription services. Each subscription service has its own Service Agreement that governs your use of the service and the information we collect to provide the service. The Service Agreement will be disclosed to you at the time of registration for that subscription service.</p>
  
  <h4>Children Under the Age of 13 </h4>
  
  <p>We are committed to protecting the privacy of children. Neither MyWeightWorld nor any of its services are designed or intended to attract children under the age of 13. We do not collect Personally Identifiable Information or Personal Health Information from any person we actually know is under the age of 13.</p>
  
  <h4>Teens From the Age of 13 to 17</h4>
  
  <p>Teens between 13 and 17 may register and use this site only with parental supervision. The parent or guardian is solely responsible for providing supervision of the minor's use of MyWeightWorld. The parent or guardian assumes full responsibility for ensuring that the registration information is kept secure and that the information submitted is accurate. The parent or guardian also assumes full responsibility for the interpretation and use of any information or suggestions provided through MyWeightWorld for the minor.</p>
  
  <h4>Market Research</h4>
  
  <p>From time to time the MyWeightWorld, or its operations contractors acting on its behalf, conducts online research surveys in order to gather feedback about our site, our sponsors and opinions on important healthcare issues, through email invitations, pop-up surveys and online focus groups.
  When participating in a survey, we may ask you to submit Personally Identifiable Information. This Personally Identifiable Information is used for research purposes, and is not used for sales solicitations. When a survey is sponsored by a third party, Aggregate Information of the survey results is reported to the sponsor. Personally Identifiable Information collected through market research will be used only by MyWeightWorld and its service providers and contractors and will not be given or sold to a third party without your consent or as otherwise permitted by this Privacy Policy. For market research surveys we will not knowingly accept survey responses from or conduct interviews with any person under the age of 18. Some surveys may provide remuneration to participants such as a small cash fee for your time or an entry into a sweepstakes for a larger prize. Each survey will disclose whether or not it is a paid survey.<br/><br/>
  In addition to collecting survey responses from our members, Cookies may be used to authenticate respondents or to help you pick up where you left off in a survey. If you have Cookies disabled you may not be able to participate in some studies. Cookies may be used to connect survey data with MyWeightWorld site usage characteristics. You will be notified when we would like to use Cookies in this way and your consent will be requested for these Cookies.</p>
  
  <h3>INFORMATION COLLECTED BY THIRD PARTIES NOT ACTING ON MYWEIGHTWORLD’S BEHALF</h3>
  
  <p>Sponsors or advertisers on MyWeightWorld may use their own Cookies, Web Beacons or other online tracking technologies in advertisements appearing on the site and in emails, special promotions or newsletters we send you. Some advertisers use companies other than MyWeightWorld to serve their ads and to monitor users' responses to ads, and these companies ("Ad Servers") may also collect Non-Personal Information through the use of Cookies or Web Beacons on our Web site. In certain situations, information collection may be facilitated by momentarily directing your browser to the Web site of an Ad Server or other third party acting on behalf of the sponsor, partner, or advertiser before re-directing your browser to its selected destination (e.g., back to MyWeightWorld to show the ad, or to the advertiser's website); this re-direction process will not be apparent to you.<br/><br/>
  We do not control these third parties' use of cookies or Web Beacons, or how they manage the non-personal information they gather through them. You should review the privacy policy of other sites you visit or link to from our site to understand how these other sites use cookies and how they use the information they collect through the use of cookies or web beacons on their own sites. Certain Ad Servers allow you to prevent them from collecting data through the use of cookies. In order to do so, you must opt-out of such data collection with each individual site.</p>
  
  <h3>DISCLOSURE OF YOUR INFORMATION</h3>
  
  <p>Except as set forth in this Privacy Policy or as specifically agreed to by you, MyWeightWorld will not disclose any Personally Identifiable or Personal Health Information it gathers from you on our website. We may only release Personally Identifiable or Personal Health Information to third parties: (1) to comply with valid legal requirements such as a law, regulation, search warrant, subpoena or court order; or (2) in special cases, such as in response to a physical threat to you or others, to protect property or defend or assert legal rights. In the event that we are legally compelled to disclose your Personally Identifiable or Personal Health Information to a third party, we will attempt to notify you unless doing so would violate the law or court order. In addition, we may disclose Personal Information as described below.</p>
  
  <h4>Disclosure to MyWeightWorld Operations and Maintenance Contractors</h4>
  
  <p>MyWeightWorld operations and maintenance contractors sometimes have limited access to your Personally Identifiable Information in the course of providing products or services to MyWeightWorld. These contractors include vendors and suppliers that provide us with technology, services, and/or content for the operation and maintenance of our Web site. Unless you have Opted-out of receiving emails and newsletters from MyWeightWorld, these contractors also may have access to your email address to send newsletters or special promotions to you on our behalf or to send emails to you for purposes such as conducting market research on our behalf. Access to your Personally Identifiable Information by these contractors is limited to the information reasonably necessary for the contractor to perform its limited function for MyWeightWorld. We also contractually require that our operations and maintenance contractors 1) protect the privacy of your Personally Identifiable Information consistent with this Privacy Policy, and 2) not use or disclose your Personally Identifiable Information for any purpose other than providing us with products and services as required by law.</p>
  
  <h4>Disclosure to Third Party Contractor Websites</h4>
  
  <p>Certain content and services offered to you through the site are served on Web sites hosted and operated by a company other than MyWeightWorld ("Third Party Contractor Web sites"). MyWeightWorld does not disclose your Personally Identifiable Information to these Third Party Contractor Web sites without your consent, but you should be aware that any information you disclose once you access these other Web sites is not subject to this Privacy Policy. MyWeightWorld does not endorse and is not responsible for the privacy practices of these Third Party Contractor Web sites. You should review the privacy policy posted on the other Web site to understand how that Third Party Contractor Website collects and uses your Personally Identifiable Information. MyWeightWorld makes an effort to make it obvious to you when you leave our website and enter a Third Party Contractor Web site, either by requiring you to click on a link or by notifying you on the site before you visit the third party site. In addition, if you see a phrase such as "Powered by" or "in association with" or a similiar phrase or reference followed by the name of a company other than MyWeightWorld, then you are on a Web site hosted by a company other than MyWeightWorld.<br/><br/>
  MyWeightWorld also provides links to sites provided by Third Party Contractor Websites that have business arrangements with MyWeightWorld to pay commissions based on sales of products or services generated through MyWeightWorld.</p>
  
  <h4>Disclosure to Linked Sites</h4>
  
  <p>In addition to the Third Party Contractor Web sites that you may access as described above, for your convenience there are links to Third Party Web sites operated by companies that are not affiliated with the MyWeightWorld Web site and that do not have contracts to provide content or services through the MyWeightWorld Web site. These links may be found in advertisements, referenced within content, or placed beside the names or logos of sponsors. MyWeightWorld does not disclose your Personal Information to these Third Party Websites without obtaining your consent. MyWeightWorld does not endorse and is not responsible for the privacy practices of these sites. If you choose to link to one of these Third Party Web sites, you should review the privacy policy posted on this other website to understand how that Third Party Web site collects and uses your Personally Identifiable Information.</p>
  
  <h4>Disclosure of Aggregate Information</h4>
  
  <p>MyWeightWorld may provide Aggregate Information to third parties. For example, we might inform third parties regarding the number of users of our website and the activities they conduct while on our site. We might also inform a pharmaceutical company (that may or may not be an advertiser on our site) that "30% of our users live east of the Colorado" or that "25% of our users have tried weight loss drugs." Depending on the circumstances, we may or may not charge third parties for this Aggregate Information.</p>
  
  <h3>HOW MYWEIGHTWORLD HANDLES PRIVACY AND SECURITY INTERNALLY</h3>
  
  Listed below are some of the security procedures that MyWeightWorld uses to protect your privacy:
  <ul>
    <li>Requires both a personal username and a password in order for users to access their Personally Identifiable Information or Personal Health Information.</li>
    <li>Uses firewalls to protect information held in our servers.</li>
    <li>Closely monitors the limited number of MyWeightWorld employees who have potential access to your Personally Identifiable Information.</li>
    <li>Requires all MyWeightWorld employees to abide by our Privacy Policy and to be subject to disciplinary action if they violate it.</li>
    <li>Backs-up our systems to protect the integrity of your Personally Identifiable and Personal Health Information.</li>
  </ul>
  
  <p>Despite MyWeightWorld Health's efforts to protect your Personally Identifiable Information and Personal Health Information, there is always some risk that an unauthorized third party may find a way around our security systems or that transmissions of your information over the Internet may be intercepted.</p>
  
  <h3>UPDATING YOUR INFORMATION AND CONTACTING MYWEIGHTWORLD</h3>
  
  <h4>Updating Your Personally Identifiable Information</h4>
  
  <p>MyWeightWorld tools that collect and store self-reported data allow you to correct, update or review information you have submitted by going back to the specific tool, logging-in and making the desired changes. MyWeightWorld makes no guarantee on the length of time submitted data (either Personally Identifiable Information and/or Personal Health Information) is kept in an active or inactive form.</p>
  
  <h4>Removing your Personal Information</h4>
  
  <p>If you want to (1) delete your Personally Identifiable Information from our systems or (2) update the Personally Identifiable Information that you have provided to us, you may do so by deleting/changing your personal profile section on the MyWeightWorld site.<br/><br/>
  If you are having problems removing or changing your Personally Identifiable Information from our systems and/or have a complaint or problem, please contact Customer Service. Our Customer Service Department will forward your complaint to the appropriate internal MyWeightWorld department for a response or resolution. We try to answer every email within 48 business hours, but may not always able to do so. If you do not receive adequate resolution of a privacy related problem, you may write to MyWeightWorld Health's Privacy Help Desk at:</p>
  
  MyWeightWorld, LLC<br/>
  Attn: Office of Privacy 7645 E Evans Suite 4<br/>
  Scottsdale, AZ 85260 <br/><br/>
  
  <h4>Limitations on Removing or Changing Information</h4>
  
  <p>Upon your request, we will delete your Personally Identifiable or Personal Health Information from our active databases and where feasible from our back-up media. You should be aware that it is not technologically possible to remove each and every record of the information you have provided to MyWeightWorld from our servers or backup media. </p>
  
  <h4>TRUSTe Watchdog</h4>
  
  <p>If you have contacted MyWeightWorld about a privacy related concern and you do not believe that the problem has been addressed, you may file a complaint with TRUSTe at www.truste.org.</p>
  
  <h3>CHANGES TO THIS PRIVACY POLICY</h3>
  
  <p>Personally Identifiable Information - We will inform you if a material change to the Privacy Policy, which means a change that expands the permissible uses or disclosures of Personally Identifiable Information allowed by the prior version of the Privacy Policy. Your continued use of the MyWeightWorld Web site will indicate acceptance of the changes. You may of course choose to Opt-out of continuing to use the MyWeightWorld Web site. Please exit the site immediately if you do not agree to the terms of this Privacy Policy or any revised policy.<br/><br/>
  Personal Health Information - We will inform you if a material change in the Privacy Policy is made that involves the use of your Personal Health Information, and your express Opt-in authorization will be requested. If you choose to not accept the new privacy policy, then the current privacy policy conditions will remain in effect, so long as MyWeightWorld continues to make the functionality available. MyWeightWorld reserves the right to discontinue or limit functionality in all its products and services.<br/><br/>
  Non-Significant Changes – MyWeightWorld may make non-significant changes to the Privacy Policy that do no affect Personally Identifiable Information or Personal Health Information. For these instances, MyWeightWorld may not notify the user of such non-significant changes.</p>
  
  <h3>GLOSSARY</h3>
  
  <b>Aggregate Information or Data:</b> As a website gathers individual pieces of Non-Personal Information (see definition below) from its users, it may combine similar data from many or all the users of the website into one big "batch". For example, the site may add up the total number of people in Peoria, Illinois, (but not their names) who are seeking information about weight loss and compare that to the number of people in Petaluma, California seeking the same information.<br/><br/>
  This sort of statistical information is called aggregate data because it reflects the habits and characteristics of a large group of anonymous people. Web sites may use aggregate data or share it with their business partners so that the information and services they provide best meet the needs of the users. Aggregate data also helps advertisers and sponsors on the Web know how effectively they are reaching and meeting the needs of their target audience.<br/><br/>
  <b>Browser:</b> Short for web browser, a browser is software application used to locate and display web (Internet) pages. The three most popular browsers are AOL, Microsoft Internet Explorer, and Netscape Navigator. In addition, most modern browsers can present multimedia information, including sound and video, though they require plug-ins for some formats.<br/><br/>
  <b>Cache (also called cache memory):</b> Once your Web browser accesses a web page, it references that page and the graphics on it within your computer's "cache" (or more simply, your computer takes a "snapshot" of every page you visit and stores it in the "cache".) The next time you visit that same page, your download time will be quicker as the images and much of the page is already available on your computer for your browser to reference instantly instead of waiting for the page and images to download again. MyWeightWorld does not cache pages.<br/><br/>
  <b>Channel Partner Web site:</b> A third party Web site to whom MyWeightWorld provides content and services for that web site's health channel.<br/><br/>
  <b>Click Stream Information:</b> A record of all the pages you have visited during your visit to a particular Web site or the services you accessed from the site or from an email. Click Stream Information is associated with your browser and not with you personally. It records the archives of your browser.<br/><br/>
  <b>Cookie:</b> A small data file that is stored on the hard drive of the computer you use to view a Web site. Cookies are placed by that site or by a third party with a presence on the site, such as an advertiser using a Web Beacon (see definition below) and are accessible only by the party or site that placed the Cookie (i.e. a Cookie placed on your computer by MyWeightWorld isn't accessed by any other site you visit but a Cookie placed on your computer by an advertiser may be accessed by any site on which that same advertiser has a presence). Cookies can contain pieces of Personally Identifiable Information (PII). MyWeightWorld encrypts any PII it stores in its Cookies. These Cookies often are used to make the site easier to use. For example, if you check a box to ask that we store your user name on your computer so that you don't have to enter it each time you visit the site, it's stored in a Cookie on your computer.<br/><br/>
  <b>Encryption:</b> The translation of data into a secret code. Encryption is the most effective way to achieve data security. To read an encrypted file, you must have access to a secret key or password that enables you to decrypt it. This is typically done by secure computer systems.<br/><br/>
  <b>Firewall:</b> A system designed to prevent unauthorized access to or from a public or private network. Firewalls can be implemented in both hardware and software, or a combination of both. Firewalls are frequently used to prevent unauthorized Internet users from accessing private portions of public networks. All messages entering or leaving the network pass through the firewall, which examines each message and blocks those that do not meet the specified security criteria.<br/><br/>
  <b>Non-Personal Information:</b> Information that is not traceable back to any individual and cannot be used to identify an individual. For example, Click Stream Information is Non-Personal Information, as is information such as gender, age, city and state when not linked with other Personally Identifiable Information.<br/><br/>
  <b>Opt-In:</b> Means you are actively indicating your preference to participate in a program, email, feature, tool, or enhancement on a Web site. Typically, if you "Opt-in" you must provide certain information, usually Personally Identifiable Information, to the Web site or otherwise actively indicate your choice or preference to participate in the Web site program. For example, if you wish to receive a newsletter by email from MyWeightWorld, you must enter your email address and by checking a box next to a statement such as: "Yes, I'd like to receive a free subscription to MyWeightWorld's Newsletter."<br/><br/>
  <b>Opt-Out:</b> Means that if you do not take some action you are indicating your preference to participate in a program, email, feature, tool or enhancement on a Web site. Typically, if you "Opt-out" you must uncheck a box next to a stated preference or otherwise take some indicate action to indicate your preference not to participate in a program. For example, if you do not wish to receive promotional emails from MyWeightWorld or its sponsors, you must uncheck the box in your email preference center that states: "Please send me special offers and communications from MyWeightWorld and/or its partners that would interest me."<br/><br/>
  <b>Password:</b> A secret series of characters, typically alphanumeric (meaning it consists of both letters and numbers) that enables a user to access a file, computer, or program. The user must enter his or her password before the computer or system will respond to commands. The password helps ensure that unauthorized users do not access the system. In addition, data files and programs may require a password.<br/><br/>
  Ideally, the password should be something that nobody could guess. In practice, many people choose a password that is easy to remember, such as their name or their initials. This is one reason it is relatively easy to break into many computer systems.<br/><br/>
  <b>Personal Health Information (PHI):</b> When your Personally Identifiable Information (PII) is combined with known health characteristics. For example, if you indicated that you have a certain disease or condition, when that information is combined with your PII, it becomes Personal Health Information.<br/><br/>
  <b>Personally Identifiable Information (PII) (also called Personal Information):</b> Information that can be traced back to an individual (contrast with Non-Personal Information and Aggregate Information). Examples of PII include your name, home address, telephone number, email address, and Social Security number.<br/><br/>
  If other pieces of information are linked to PII, they also become PII. For example, if you use a nickname to chat online and give out your real name while chatting, your nickname becomes PII when linked with other PII.<br/><br/>
  <b>Server:</b> A computer that provides services to other computers. A "web server" stores web site files and "serves" them to people who request them.<br/><br/>
  <b>SSL (Secure Sockets Layer):</b> A security protocol developed by Netscape for transmitting private information via the Internet. SSL works by using a private key to encrypt data that's transferred over the SSL connection. Both Microsoft Internet Explorer and Netscape Navigator support SSL, and many Web sites use the protocol to obtain confidential user information, such as credit card numbers. By convention, URLs that utilize an SSL connection start with https: instead of http.<br/><br/>
  <b>Username:</b> A name used to gain access to a computer system or program. Usernames, and often passwords, are required in shared systems, such as the Internet. In most such systems, users can choose their own usernames and passwords. Usernames are also required to access some bulletin board and online services such as MyWeightWorld.<br/><br/>
  <b>Virus:</b> A program or piece of code that is loaded onto your computer without your knowledge and runs against your wishes. Viruses can also "replicate" themselves by copying their code to other computers. All computer viruses are manmade. A simple virus that can make a copy of itself over and over again is relatively easy to produce. Even such a simple virus is dangerous because it will quickly use all available memory and bring the system to a halt. An even more dangerous type of virus is one capable of transmitting itself across networks and bypassing security systems. There are numerous virus protection programs available. See the "How You Can Protect Yourself" section.<br/><br/>
  <b>Web Beacons (also often referenced as "clear GIFs", "web bugs", "1-by-1 GIFs", "Single-Pixal GIFs", "1 x 1 Pixals", or "clear Pixals"):</b> Tiny graphic image files, imbedded in a web page in GIF, jpeg or HTML format, that provide a presence on the web page and send back to its home server (which can belong to the host site, a network advertiser or some other third party) information from the Users' browser, such as the IP address, the URL of the page on which the beacon is located, the type browser that is accessing the site and the ID number of any Cookies on the Users' computer previously placed by that server. Web Beacons can also be used to place a Cookie on the Users' browser.<br/><br/>
  Effective: January 1, 2007<br/>
  Revised January 1, 2011<br/><br/>
</div>