<div class="grid_16">
  PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.<br/><br/>
  
  <p>By using this site, you signify your assent to these Terms and Conditions. If you do not agree to all of these Terms and Conditions of use, do not use this site!</p>
  
  <p><b>MyWeightWorld, LLC</b> ("MyWeightWorld") may revise and update these Terms and Conditions at any time. Your continued usage of the MyWeightWorld website ("MyWeightWorld Site," or the "Site,") will mean you accept those changes.</p>
  
  <h3>INDEX</h3>
  <ul>
    <li><%= link_to 'NO MEDICAL ADVICE', '' %></li>
    <li><%= link_to 'PRODUCTS', '' %></li>
    <li><%= link_to 'HERBS AND NATURAL SUPPLEMENTS', '' %></li>
    <li><%= link_to 'UNDER 13 YEARS OLD', '' %></li>
    <li><%= link_to '13 YEARS OLD TO 18 YEARS OLD', '' %></li>
    <li><%= link_to 'CONTENT USAGE', '' %></li>
    <li><%= link_to 'LIABILITY OF MYWEIGHTWORLD AND ITS LICENSORS', '' %></li>
    <li><%= link_to 'USER SUBMISSIONS', '' %></li>
    <li><%= link_to 'PASSWORDS', '' %></li>
    <li><%= link_to 'MYWEIGHTWORLD SUBSCRIPTION SERVICES', '' %></li>
    <li><%= link_to 'MYWEIGHTWORLD LIVE AND MEMBER TO MEMBER AREAS ("PUBLIC AREAS")', '' %></li>
    <li><%= link_to 'ADVERTISEMENTS, SEARCHES AND LINKS TO OTHER SITES', '' %></li>
    <li><%= link_to 'INDEMNITY', '' %></li>
    <li><%= link_to 'GENERAL', '' %></li>
    <li><%= link_to 'JURISDICTION', '' %></li>
    <li><%= link_to 'NOTICE AND TAKE DOWN PROCEDURES; COPYRIGHT AGENT', '' %></li>
    <li><%= link_to 'COMPLETE AGREEMENT', '' %></li>
    <li><%= link_to 'NO MEDICAL ADVICE', '' %></li>
  </ul>
    
  <p>If you think you may have a medical emergency, call your doctor or 911 immediately. MyWeightWorld does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site. Reliance on any information provided by MyWeightWorld, MyWeightWorld employees, others appearing on the Site at the invitation of MyWeightWorld, or other visitors to the Site is solely at your own risk.<br/><br/>
  The contents of the MyWeightWorld Site, such as text, emails from MyWeightWorld Staff (independent contractors or employees), images, information obtained from MyWeightWorld's licensors, and other material contained on the MyWeightWorld Site ("Content") are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on the MyWeightWorld Site!
  The Site may contain health- or medical-related materials that are sexually explicit. If you find these materials offensive, you may not want to use our Site.</p>
  
  PRODUCTS
  Accuracy
  MyWeightWorld and its affiliates attempt to be as accurate as possible. However, MyWeightWorld does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. If a product offered by MyWeightWorld itself is not as described, your sole remedy is to return it in unused condition.
  Returns
  You may return any unopened product (except food, supplement or vitamins) with accompanying receipt within thirty days of purchase and receive a full refund by mail to My Weight World 2314 S. Rt 59 #170 Plainfield, IL 60586. Unfortunately, we cannot refund postage and handling. My Weight World also cannot refund opened or unopened food, supplement or vitamin products.
  Product Responsibility
  MyWeightWorld is not responsible for any product or service sold on or through this site or any claims of quality or performance made on or through this site, including any claims of quality or performance made on or through any site to which this site links (each a "Linked Site").
  Cancellation and Limitation of Orders
  Please note that there may be certain orders that we are unable to accept and must cancel. We reserve the right, at our sole discretion, to refuse or cancel any order for any reason. For your convenience, you will not be charged until your payment method is authorized, the order information is verified for accuracy and your order is shipped.
  Some situations that may result in your order being canceled include limitations on quantities available for purchase; inaccuracies or errors in product or pricing information; product or ingredient restrictions mandated by local, state, national or international regulations; or problems identified by our credit and fraud avoidance group. We may also require additional verifications or information before accepting any order. We will contact you if all or any portion of your order is canceled or if additional information is required to accept your order.
  If your order is canceled after your credit card has been charged, we will issue a credit to your credit card in the amount of the charge.
  Prices
  The prices displayed on this Site are quoted in U.S. dollars and are valid and effective only within the United States, and such prices do not include shipping and handling or sales taxes, if applicable, which will be added to your total invoice price. You are responsible for the payment of any shipping and handling charges and state and local sales or use taxes that may apply to your order. International shipment rates vary based on total package weight and final destination. All pricing does not include duties, insurance costs, tariffs, or value-added taxes. If assessed, these charges are the responsibility of the package recipient, who will be billed for them by the local Customs office.
  Pricing or Typographical Errors
  We work hard to provide accurate product and pricing information. However, pricing or typographical errors may occur. In the event that an item is listed at an incorrect price or with incorrect information due to an error in pricing or product information, MyWeightWorld shall have the right, at our sole discretion, to refuse or cancel any orders placed for that item. If an item is incorrectly priced, we will either contact you for instructions or cancel your order and notify you of such cancellation. Prices and availability are subject to change without notice.
  
  HERBS AND NATURAL SUPPLEMENTS
  Herbs, botanicals, and dietary supplements can contain potent chemicals, and should be taken with the same care as you would a prescription from your doctor.
  We at MyWeightWorld encourage you to speak to your health care provider about each dietary supplement you are taking (including simple vitamins!) Many herbs and botanicals, as well as natural dietary supplements, can interfere with prescription medicines, or cause negative reactions. Certain medical conditions and allergies can also cause negative reactions with dietary supplement use.
  Many supplements contain active ingredients that can have strong effects in the body. Taking a combination of supplements, using these products together with medicine, or substituting them in place of prescribed medicines could lead to harmful, even life-threatening results.
  Also, some supplements can have unwanted effects before, during, and after surgery. It is important to let your doctor and other health professionals know about the vitamins, minerals, botanicals, and other products you are taking, especially before surgery.
  Whatever your choice, supplements should not replace prescribed medications or the variety of foods important to a healthful diet.
  
  UNDER 13 YEARS OLD
  We are committed to protecting the privacy of children. You should be aware that this Site is not intended or designed to attract children under the age of 13. We do not collect personally identifiable information from any person we actually know is a child under the age of 13. Children under the age of 13 are not allowed to join this site.
  13 YEARS OLD TO 17 YEARS OLD
  We allow those 13 < > 17 (13 through 17) years old to join as members as long as there is parental approval for joining as a member as well as parental supervision when using the site.
  
  CONTENT USAGE
  MyWeightWorld authorizes you to view or download a single copy of the material on the MyWeightWorld Site solely for your personal, noncommercial use if you include the following copyright notice: "Copyright (c) 2006-2007, MyWeightWorld, LLC All rights reserved" and other copyright and proprietary rights notices that are contained in the Content. Any special rules for the use of certain software and other items accessible on the MyWeightWorld Site may be included elsewhere within the Site and are incorporated into these Terms and Conditions by reference.
  The Content is protected by copyright under both United States and foreign laws. Title to the Content remains with MyWeightWorld or its licensors. Any use of the Content not expressly permitted by these Terms and Conditions is a breach of these Terms and Conditions and may violate copyright, trademark, and other laws. Content and features are subject to change or termination without notice in the editorial discretion of MyWeightWorld. All rights not expressly granted herein are reserved to MyWeightWorld and its licensors.
  If you violate any of these Terms and Conditions, your permission to use the Content automatically terminates and you must immediately destroy any copies you have made of any portion of the Content.
  
  LIABILITY OF MYWEIGHTWORLD AND ITS LICENSORS
  The use of the MyWeightWorld Site and the Content is at your own risk.
  When using the MyWeightWorld Site, information will be transmitted over a medium that may be beyond the control and jurisdiction of MyWeightWorld and its suppliers. Accordingly, MyWeightWorld assumes no liability for or relating to the delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of the MyWeightWorld Site.
  The MyWeightWorld Site and the content are provided on an "as is" basis. MYWEIGHTWORLD, ITS LICENSORS, AND ITS SUPPLIERS, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIM ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE. Without limiting the foregoing, MyWeightWorld, its licensors, and its suppliers make no representations or warranties about the following:
  The accuracy, reliability, completeness, currentness, or timeliness of the Content, software, emails, text, graphics, links, or communications provided on or through the use of the MyWeightWorld Site or MyWeightWorld.
  The satisfaction of any government regulations requiring disclosure of information on prescription drug products or the approval or compliance of any software tools with regard to the Content contained on the MyWeightWorld Site.
  In no event shall MyWeightWorld, its licensors, its suppliers, or any third parties mentioned on the MyWeightWorld Site be liable for any damages (including, without limitation, incidental and consequential damages, personal injury/wrongful death, lost profits, or damages resulting from lost data or business interruption) resulting from the use of or inability to use the MyWeightWorld Site or the Content, whether based on warranty, contract, tort, or any other legal theory, and whether or not MyWeightWorld, its licensors, its suppliers, or any third parties mentioned on the MyWeightWorld Site are advised of the possibility of such damages. MyWeightWorld, its licensors, its suppliers, or any third parties mentioned on the MyWeightWorld Site shall be liable only to the extent of actual damages incurred by you, not to exceed U.S. $1000. MyWeightWorld, its licensors, its suppliers, or any third parties mentioned on the MyWeightWorld Site are not liable for any personal injury, including death, caused by your use or misuse of the Site, Content, or Public Areas (as defined below). Any claims arising in connection with your use of the Site, any Content, or the Public Areas must be brought within one (1) year of the date of the event giving rise to such action occurred. Remedies under these Terms and Conditions are exclusive and are limited to those expressly provided for in these Terms and Conditions.
  
  USER SUBMISSIONS
  The personal information you submit to MyWeightWorld is governed by the MyWeightWorld Privacy Policy. To the extent there is an inconsistency between this Agreement and the MyWeightWorld Privacy Policy, this Agreement shall govern.
  You agree that you will not upload or transmit any communications or content of any type to the Public Areas (including message boards, Ask Our Expert postings, etc.) that infringe or violate any rights of any party. By submitting communications or content to the Public Areas, you agree that such submission is non-confidential for all purposes.
  If you make any such submission You agree that you will not send or transmit to MyWeightWorld by email, (including through the email addresses listed on the "Contact Us" link) any communication or content that infringes or violates any rights of any party. If you submit any business information, idea, concept or invention to MyWeightWorld by email, you agree such submission is non-confidential for all purposes.
  If you make any submission to a Public Area or if you submit any business information, idea, concept or invention to MyWeightWorld by email, you automatically grant—or warrant that the owner of such content or intellectual property has expressly granted—MyWeightWorld a royalty-free, perpetual, irrevocable, world-wide nonexclusive license to use, reproduce, create derivative works from, modify, publish, edit, translate, distribute, perform, and display the communication or content in any media or medium, or any form, format, or forum now known or hereafter developed. MyWeightWorld may sublicense its rights through multiple tiers of sublicenses. If you wish to keep any business information, ideas, concepts or inventions private or proprietary, do not submit them to the Public Areas or to MyWeightWorld by email. We try to answer every email in a timely manner, but are not always able to do so.
  This site is a community area. Do not submit any sexually explicit or deviant images or text to either the public or private portions of this site.
  
  PASSWORDS
  MyWeightWorld has several tools that allow you to record and store information. You are responsible for taking all reasonable steps to ensure that no unauthorized person shall have access to your MyWeightWorld passwords or accounts. It is your sole responsibility to (1) control the dissemination and use of activation codes and passwords; (2) authorize, monitor, and control access to and use of your MyWeightWorld account and password; (3) promptly inform MyWeightWorld of any need to deactivate a password. You grant MyWeightWorld and all other persons or entities involved in the operation of the Site the right to transmit, monitor, retrieve, store, and use your information in connection with the operation of the Site. MyWeightWorld cannot and does not assume any responsibility or liability for any information you submit, or your or third parties' use or misuse of information transmitted or received using MyWeightWorld tools and services.
  
  MYWEIGHTWORLD SUBSCRIPTION SERVICES
  If you choose to subscribe to MyWeightWorld's subscription service, the following additional terms and conditions will apply. You should be aware that the MyWeightWorld Subscription Services are not intended or designed to attract children under the age of 13. These services do not collect any Personally Identifiable Information from any person we know to be a child under the age of 13. Any person 13 to 17 years old must have parental permission to become a member along with on going parental supervision while using the site.
  INFORMATION YOU SUBMIT: You are using the Subscription Services at your own risk and you, along with your healthcare provider, are personally responsible for verifying its suitability for your needs.
  
  MYWEIGHTWORLD LIVE AND MEMBER TO MEMBER AREAS ("PUBLIC AREAS")
  If you use a Public Area, such as a chat room, bulletin board or community Ask Our Expert posting or other member communities, you are solely responsible for your own communications, the consequences of posting those communications, and your reliance on any communications found in the Public Areas. MyWeightWorld and its licensors are not responsible for the consequences of any communications in the Public Areas. In cases where you feel threatened or believe someone else is in danger, you should contact your local law enforcement agency immediately. If you think you may have a medical emergency, call your doctor or 911 immediately.
  In consideration of being allowed to use the Public Areas, you agree that the following actions shall constitute a material breach of these Terms and Conditions:
  Using a Public Area for any purpose in violation of local, state, national, or international laws;
  Posting material that infringes on the intellectual property rights of others or on the privacy or publicity rights of others;
  Posting material that is unlawful, obscene, sexual in content, defamatory, threatening, harassing, abusive, slanderous, hateful, or embarrassing to any other person or entity as determined by MyWeightWorld in its sole discretion;
  Posting advertisements or solicitations of business;
  After receiving a warning, continuing to disrupt the normal flow of dialogue, or posting comments that are not related to the topic being discussed (unless it is clear the discussion is free-form);
  Posting chain letters or pyramid schemes;
  Impersonating another person;
  Distributing viruses or other harmful computer code;
  Harvesting or otherwise collecting information about others, including email addresses, without their identification for posting or viewing comments; consent;
  Allowing any other person or entity to use your identification for posting or viewing comments
  Posting the same note more than once or "spamming"; or
  Engaging in any other conduct that restricts or inhibits any other person from using or enjoying the Public Area or the Site, or which, in the judgment of MyWeightWorld, exposes MyWeightWorld or any of its customers or suppliers to any liability or detriment of any type.
  MyWeightWorld reserves the right (but is not obligated) to do any or all of the following:
  Record the dialogue in public chat rooms.
  Investigate an allegation that a communication(s) does not conform to the terms of this section and determine in its sole discretion to remove or request the removal of the communication(s).
  Remove communications which are abusive, illegal, or disruptive, or that otherwise fail to conform with these Terms and Conditions.
  Terminate a user's access to any or all Public Areas and/or the MyWeightWorld Site upon any breach of these Terms and Conditions.
  Terminate a user’s membership without refund.
  Monitor, edit, or disclose any communication in the Public Areas.
  Edit or delete any communication(s) posted on the MyWeightWorld Site, regardless of whether such communication(s) violate these standards.
  MyWeightWorld or its licensors have no liability or responsibility to users of the MyWeightWorld Site or any other person or entity for performance or nonperformance of the aforementioned activities
  
  ADVERTISEMENTS, SEARCHES AND LINKS TO OTHER SITES
  MyWeightWorld may provide links to third-party web sites. MyWeightWorld also may select certain sites as priority responses to search terms you enter and MyWeightWorld may agree to allow advertisers to respond to certain search terms with advertisements or sponsored content. MyWeightWorld does not recommend and does not endorse the content on any third-party websites. MyWeightWorld is not responsible for the content of linked third-party sites, sites framed within the MyWeightWorld Site, third-party sites provided as search results, or third-party advertisements, and does not make any representations regarding their content or accuracy. Your use of third-party websites is at your own risk and subject to the terms and conditions of use for such sites. MyWeightWorld does not endorse any product advertised on the MyWeightWorld Site.
  
  INDEMNITY
  You agree to defend, indemnify, and hold MyWeightWorld, its officers, directors, employees, agents, licensors, and suppliers, harmless from and against any claims, actions or demands, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your violation of these Terms and Conditions.
  
  GENERAL
  MyWeightWorld is based in Illinois in the United States of America. MyWeightWorld makes no claims that MyWeightWorld and the Content are appropriate or may be downloaded outside of the United States. Access to the Content may not be legal by certain persons or in certain countries. If you access the MyWeightWorld Site from outside the United States, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.
  The following provisions survive the expiration or termination of this Agreement for any reason whatsoever: Liability, User Submissions, Indemnity, Jurisdiction, and Complete Agreement.
  
  JURISDICTION
  You expressly agree that exclusive jurisdiction for any dispute with MyWeightWorld, or in any way relating to your use of the MyWeightWorld Site, resides in the courts of the State of Illinois in the United States of American and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of Illinois in connection with any such dispute including any claim involving MyWeightWorld or its affiliates, subsidiaries, employees, contractors, officers, directors, telecommunication providers, and content providers.
  These Terms and Conditions are governed by the internal substantive laws of the State of Illinois, without respect to its conflict of laws principles. If any provision of these Terms and Conditions is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms and Conditions, which shall remain in full force and effect. No waiver of any of these Terms and Conditions shall be deemed a further or continuing waiver of such term or condition or any other term or condition.
  
  NOTICE AND TAKE DOWN PROCEDURES; AND COPYRIGHT AGENT
  If you believe any materials accessible on or from the Site infringe your copyright, you may request removal of those materials (or access thereto) from this web site by contacting MyWeightWorld's copyright agent (identified below) and providing the following information:
  Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of an authorized version of the work.
  Identification of the material that you believe to be infringing and its location. Please describe the material, and provide us with its URL or any other pertinent information that will allow us to locate the material.
  Your name, address, telephone number and (if available) e-mail address.
  A statement that you have a good faith belief that the complained of use of the materials is not authorized by the copyright owner, its agent, or the law.
  A statement that the information that you have supplied is accurate, and indicating that "under penalty of perjury," you are the copyright owner or are authorized to act on the copyright owner's behalf.
  A signature or the electronic equivalent from the copyright holder or authorized representative.
  MyWeightWorld's agent for copyright issues relating to this web site is as follows: MyWeightWorld, LLC Attn: Office of Privacy 7645 E Evans Suite 4 Scottsdale, AZ 85260
  In an effort to protect the rights of copyright owners, MyWeightWorld maintains a policy for the termination, in appropriate circumstances, of subscribers and account holders of the Site who are repeat infringers.
  
  COMPLETE AGREEMENT
  Except as expressly provided in a particular "legal notice" on the MyWeightWorld Site, these Terms and Conditions and the MyWeightWorld Privacy Policy and Agreement constitute the entire agreement between you and MyWeightWorld with respect to the use of the MyWeightWorld Site, and Content.
  Thank you for your cooperation. We hope you find the MyWeightWorld Site helpful and convenient to use! Questions or comments regarding this website, including any reports of non-functioning links, should be submitted using our Contact Us Form or via U.S. mail to MyWeightWorld Office of Privacy at 7645 E Evans Suite 4 Scottsdale, AZ 85260. We try to answer every email or letter in a timely manner but are not always able to do so.
  Effective: January 1, 2007 
  Revised January 1, 2011
</div>