<hr style="margin-top: 53px;"></hr>

<% form_for current_user, :url => metabolic_rates_path, :html => {:id => 'goal'} do |f| %>
  <%= f.error_messages %>
  
  <div class="grid_1 goal-step-num">1.</div>
  <div class="grid_5">
    <p class="goal-step-text">Select your usual level of activity</p>
    
    <p>
      <%= f.radio_button :activity_level, 1 %>
      <%= f.label :activity_level, 'Sendentary' %><br/>
      
      <%= f.radio_button :activity_level, 2 %>
      <%= f.label :activity_level, 'Lightly Active' %><br/>
      
      <%= f.radio_button :activity_level, 3 %>
      <%= f.label :activity_level, 'Moderately Active' %><br/>
      
      <%= f.radio_button :activity_level, 4 %>
      <%= f.label :activity_level, 'Very Active' %><br/>
      
      <%= f.radio_button :activity_level, 5 %>
      <%= f.label :activity_level, 'Extra Active' %><br/>
    </p>
  </div>
  <div class="clear" style="margin-bottom: 21px;"></div>
  <hr></hr>
  
  <div class="grid_1 goal-step-num">2.</div>
  <div class="grid_5">
    <p class="goal-step-text">Give us your specs</p>
    <p>
      <%= f.label :height, "Height (inches)" %><br/>
      <%= f.text_field :height, :class => 'grid_1 alpha' %>
      <span class="clear"></span>
    </p>
    
    <p>
      <%= f.label :weight %><br/>
      <%= f.text_field :weight, :class => 'grid_1 alpha' %>
      <span class="clear"></span>
    </p>
  </div>
  <div class="clear" style="margin-bottom: 21px;"></div>
  <hr></hr>
  
  <div class="grid_1 goal-step-num">3.</div>
  <div class="grid_5">
    <p class="goal-step-text">What's your goal?</p>
    <p>
      <%= f.label :desired_weight, 'Desired Weight' %><br/>
      <%= f.text_field :desired_weight, :class => 'grid_1 alpha' %>
      <span class="clear"></span>
    </p>
    
    <button class="button grid_2 alpha" type="submit" style="margin-top: 25px;">
      Save
    </button>
  </div>
<% end %>

<div style="padding: 20px; width: 240px; position: absolute; right: 0px; top: 106px; background-color: #FFF;">
  <% if current_user.bmr && current_user.rmr %>
    <p class="goal-explanation-header">BMR: <span class="bold"><%= current_user.bmr %></span></p>
    <p class="goal-explanation-text">This is the total number of calories you need in order to maintain your current weight.</p>
    
    <p class="goal-explanation-header">RMR: <span class="bold"><%= current_user.rmr %></span></p>
    <p class="goal-explanation-text">This is the total number of calories you need in order to maintain your current weight.</p>
    
    <hr></hr>
    <br/>
    <% if current_user.trying_to_lose_weight? %>
      If you manage<br/>
      <%= five_hundred_calorie_deficit(current_user) %> total daily calories<br/>
      You can reach your goal in <%= days_to_goal(current_user, 500) %> days.
      Losing <%= pounds_to_lose(current_user) %> lbs by <%= days_to_goal(current_user, 500).days.from_now.strftime("%b %d") %>
    
    <% elsif 1 == 0 %>
      If you exceed your BMR calorie intake by <%= five_hundred_calorie_surplus(current_user) %> calories a day (a 500 calorie surplus).  You can reach your goal of gaining <%= pounds_to_gain(current_user) %> lbs in <%= days_to_goal(current_user, 500) %> days (<%= days_to_goal(current_user, 500).days.from_now.strftime("%b %d") %>)
      
    <% end %>
  <% end %>
</div>
