<h1>Listing Tips of the Day</h1>

<%= link_to 'New tip_of_day', new_old_tip_of_day_path %>
<br /><br />

<table id="old_tips" class="sort-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Body</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @tip_of_days.each_with_index do |tip_of_day, index| %>
      <tr class="<%= cycle('', 'odd') %>">
        <td><%= index + 1 %></td>
        <td><%=h tip_of_day.title %></td>
        <td><%=truncate(h(tip_of_day.body), :length => 50) %></td>
        <td>
          <%= link_to 'Edit', edit_old_tip_of_day_path(tip_of_day) %> | 
          <%= link_to 'Delete', tip_of_day, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('.sort-table').tablesorter();
  <% end %>
</script>