<h1>Editing Text File</h1>

<% form_for(@text_file, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table>
    <tbody>
      <tr>
        <td>
          <p>
            <%= f.label :headline %><br />
            <%= f.text_field :headline %>
          </p>
          <p>
            <%= f.label :page_title %><br />
            <%= f.text_field :page_title %>
          </p>
          <p>
            <%= f.label :body %><br />
            <%= f.text_area :body %>
          </p>
        </td>
        <td>
          <p>
            <%= f.label :image1, 'Screenshot/Thumbnail 1' %><br />
            <%= f.file_field :image1 %><br />
            <% if @text_file.image1.file? %>
              <%= image_tag @text_file.image1.url(:preview)  %> <%= @text_file.image1.original_filename %>&nbsp;
              <%= f.check_box :remove_image1 %> Delete?
            <% end %>
          </p>
          <p>
            <%= f.label :image2, 'Screenshot/Thumbnail 2' %><br />
            <%= f.file_field :image2 %><br />
            <% if @text_file.image2.file? %>
              <%= image_tag @text_file.image2.url(:preview)  %> <%= @text_file.image2.original_filename %>&nbsp;
              <%= f.check_box :remove_image2 %> Delete?
            <% end %>
          </p>
          <p>
            <%= f.label :file1, 'File 1' %><br />
            <%= f.file_field :file1 %><br />
            <% if @text_file.file1.file? %>
              <%= image_tag "file.png"  %> <%= @text_file.file1.original_filename %>&nbsp;
              <%= f.check_box :remove_file1 %> Delete?
            <% end %>
          </p>
          <p>
            <%= f.label :tag_list, "Tag List (comma seperated)" %><br />
            <%= f.text_field :tag_list %>
          </p>
          <p>
            <%= label_tag 'Category' %><br />
            <%= aac_select(Category.roots, {:selected => @text_file.category_id, :name => 'old_text_file[category_id]', 
                                            :parents_nil => true, :option_nil => '--'}) %>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <%= f.label :teaser %><br />
            <%= f.text_area :teaser %>
          </p>
        </td>
        <td>
          <p>
            <%= f.label :summary %><br />
            <%= f.text_area :summary %>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', old_text_files_path %>