<h1>Listing Text Files</h1>

<%= link_to 'New text_file', new_old_text_file_path %>
<br /><br />

<table>
  <tr>
    <th>#</th>
    <th>Page title</th>
    <th>Summary</th>
    <th>Teaser</th>
    <th>Body</th>
    <th>Attachments</th>
    <th> </th>
  </tr>

<% @text_files.each_with_index do |text_file, index| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%= index + 1 %></td>
    <td><%=h text_file.page_title %></td>
    <td><%=h text_file.summary %></td>
    <td><%=h text_file.teaser %></td>
    <td><%=h text_file.body %></td>
    <td>
      <%= image_tag(text_file.image1.url(:preview)) if text_file.image1.file? %>&nbsp;
      <%= image_tag(text_file.image2.url(:preview)) if text_file.image2.file? %><br />
      <%= image_tag('file.png') + " #{text_file.file1.original_filename}" if text_file.file1.file? %>
    </td>
    <td>
      <%= link_to 'Edit', edit_old_text_file_path(text_file) %> | 
      <%= link_to 'Destroy', text_file, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
