<p>
  <%= f.label :page_title, 'Title' %><br/>
  <%= f.text_field :page_title, :class => 'grid_14 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :body %><br/>
  <%= f.tinymce :body, :rows => 30, :class => 'grid_14 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :image1, 'Content Image' %><br />
  <%= f.file_field :image1 %><br />
  <% if f.object.image1.file? %>
    <br/>
    <%= image_tag f.object.image1.url(:preview)  %>&nbsp;
    <%= f.check_box :remove_image1 %> Delete?<br/>
    <b>URL: </b><%= f.object.image1.url %>
  <% end %>
</p>

<p>
  <br/>
  <%= f.label :file1, 'Video' %><br />
  <%= f.file_field :file1 %><br />
  <% if f.object.file1.file? %>
    <%= f.object.file1.url %>
    <%= image_tag "file.png"  %> <%= f.object.file1.original_filename %>&nbsp;
    <%= f.check_box :remove_file1 %> Delete?
  <% end %>
</p>