<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title, :class => 'grid_8 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :author %><br/>
  <%= f.text_field :author, :class => 'grid_8 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :body %><br/>
  <%= f.tinymce :body, :rows => 10, :class => 'grid_10 alpha' %>
  <span class="clear"></span>
</p>
