
<div class="grid_16" style="margin:-5.5% 0 0 -53%;">
  
  <br/>
  
  <h2>Posts</h2>
  
  <%= link_to 'Back', admin_dashboard_path, :style=>"color:orange;" %>
  <%= link_to 'New post', new_admin_post_path, :style=>"color:orange;" %>
  
  <br/>

  <%= form_tag(search_admin_posts_path) do %>
    <%= text_field_tag 'terms', '', :id => 'exercise-search' %>
  
    <%= submit_tag 'Search' %>
  <% end %>

  <br/>
  <% if params['terms'] && !params['terms'].blank? %>
    Displaying results for "<%= params['terms'] %>"<br/>
  <% end %>
  
  <%= page_entries_info(@posts, :entry_name => 'post') %>
  <div style="color:blue;">
  <%= paginate(@posts, :params => pagination_params(request)) %>
  </div>
  <br />
  <table class="admin" style="width:93%;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Body</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr  class="<%= cycle('odd', '') %>">
          <td><%= post.page_title %></td>
          <td><%= post.category.try(:name) %></td>
          <td><%= truncate(strip_tags(post.body), :length => 50) %></td>
          <td class="actions">
            <%= link_to 'Show', post_path(post), :target => '_blank', :style=>"color:orange;" %> | 
            <%= link_to 'Edit', edit_admin_post_path(post), :style=>"color:orange;" %> | 
            <%= link_to 'Delete', [:admin, post], :confirm => 'Are you sure?', :method => :delete, :style=>"color:orange;" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= paginate(@posts, :params => pagination_params(request)) %>
</div>
