<div class="grid_12">
  <h3>Edit Post</h3>
  
  <%= form_for(:post, @post, :url => admin_post_path(@post), :html => {:multipart => true, :method => :put, :class => 'edit'}) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_posts_path %>
    </p>
  <% end %>
  
</div>