
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<script>

 $(document).ready(function(){
   if (CKEDITOR.instances['post_body']) {
       CKEDITOR.remove(CKEDITOR.instances['post_body']);}
       
      CKEDITOR.replace( 'post_body', {
     toolbar: [
           //['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print', 'SpellChecker', 'Scayt'],
           //['Cut','Copy','Paste','PasteText','PasteFromWord'],
           ['Cut','Copy','Paste'],
           ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
           //['Form','Checkbox','Radio','TextField','Textarea','Select','Button','ImageButton','HiddenField'],
           //'/',
           ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
           //['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
           ['NumberedList','BulletedList','-','Outdent','Indent'],
           ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
           //['BidiLtr', 'BidiRtl'],
           ['Link','Unlink','Anchor'],
           //'/',
           //['Styles','Format','Font','FontSize'],
           ['Format','FontSize'],
           ['TextColor','BGColor'],
           //['Maximize','ShowBlocks','-','About']
           ['Maximize']
     ],
     height: 300,
       	width: 900
     });
});
</script>

<div class="grid_16">
    <%= link_to 'Back', admin_posts_path %>
  <h3>Edit Post</h3>
  
  <%= form_for(@post, :as => :post, :url => admin_post_path(@post), :html => {:multipart => true, :method => :put, :class => 'edit'}) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_posts_path %>
    </p>
  <% end %>
    <%= link_to 'Back', admin_posts_path %>
</div>
