
<%= javascript_include_tag "ckeditor/ckeditor_basic" %>
<%= stylesheet_link_tag "ckeditor/contents" %>

<div class="grid_16">
    <%= link_to 'Back', admin_posts_path %>
  <h3>Edit Post</h3>
  
  <%= form_for(@post, :as => :post, :url => admin_post_path(@post), :html => {:multipart => true, :method => :put, :class => 'edit'}) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Update' %> | <%= link_to 'Cancel', admin_posts_path %>
    </p>
  <% end %>
    <%= link_to 'Back', admin_posts_path %>
</div>
