
<%= javascript_include_tag "ckeditor/ckeditor_basic" %>
<%= stylesheet_link_tag "ckeditor/contents" %>

<div class="grid_12">
  <h1>New post</h1>
  <hr>
  <%= form_for(@post, :as => :post, :url => admin_posts_path, :html => {:multipart => true} ) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Create' %> | <%= link_to 'Cancel', admin_posts_path %>
    </p>
  <% end %>
  
</div>
