<div class="grid_12">
  <h1>New post</h1>
  
  <%= form_for(:post, @post, :url => admin_posts_path, :html => {:multipart => true} ) do |f| %>
    <%= f.error_messages %>
    
    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Create' %> | <%= link_to 'Cancel', admin_posts_path %>
    </p>
  <% end %>
  
</div>
