<table  cellpadding="10">
	<tbody>
	<tr>
		<td cellpadding=10> Breakfast </td>
		<td cellpadding=10> Calorie</td>
		<td cellpadding=10>Carbs</td>
		<td cellpadding=10>Protein</td> 
	</tr>
	<tr>
		<td cellpadding=10>
			<%if meal.meal_type=='lunch'%>
				<% meal_items= MealItem.find_all_by_meal_id(meal.id) %>
				<% meal_items_food=Food.find_all_by_id(meal_items[0].food_id) %>
				<%=meal_items_food[0].shrt_desc%>
		</td>
		<td cellpadding=10><%=meal_items_food[0].energ_kcal%> </td>
		<td cellpadding=10><%=meal_items_food[0].carbohydrt%> </td>
		<td cellpadding=10><%=meal_items_food[0].total_fat%></td>
		<td cellpadding=10><%=meal_items_food[0].protein%></td>
			<%end%>
	</tr>

	<tr> 
		<td > Lunch </td> 
	</tr>
	<tr>
		<td cellpadding=10>
			<%if meal.meal_type=='lunch'%>
 
			<% meal_items= MealItem.find_all_by_meal_id(meal.id) %>
			<% meal_items_food=Food.find_all_by_id(meal_items[0].food_id) %>
			<%=meal_items_food[0].shrt_desc%>
		</td>
		<td cellpadding=10><%=meal_items_food[0].energ_kcal%> </td>
		<td cellpadding=10><%=meal_items_food[0].carbohydrt%> </td>
		<td cellpadding=10><%=meal_items_food[0].total_fat%></td>
		<td cellpadding=10><%=meal_items_food[0].protein%></td>
			<%end%>
	</tr>

	<tr> 
		<td > Dinner </td> 
	</tr>
	<tr>
		<td cellpadding=10>
		<%if meal.meal_type=='dinner'%>
	 
		<% meal_items= MealItem.find_all_by_meal_id(meal.id) %>
		<% meal_items_food=Food.find_all_by_id(meal_items[0].food_id) %>
		<%=meal_items_food[0].shrt_desc%>
		</td>
		<td cellpadding=10><%=meal_items_food[0].energ_kcal%> </td>
		<td cellpadding=10><%=meal_items_food[0].carbohydrt%> </td>
		<td cellpadding=10><%=meal_items_food[0].total_fat%></td>
		<td cellpadding=10><%=meal_items_food[0].protein%></td>
		<%end%>
	</tr>

	<tr> 
		<td > Snack </td> 
	</tr>
	<tr>
		<td cellpadding=10>

		<%if meal.meal_type=='snack'%>
 
		<% meal_items= MealItem.find_all_by_meal_id(meal.id) %>
		<% meal_items_food=Food.find_all_by_id(meal_items[0].food_id) %>
		<%=meal_items_food[0].shrt_desc%>
		</td>
		<td cellpadding=10><%=meal_items_food[0].energ_kcal%> </td>
		<td cellpadding=10><%=meal_items_food[0].carbohydrt%> </td>
		<td cellpadding=10><%=meal_items_food[0].total_fat%></td>
		<td cellpadding=10><%=meal_items_food[0].protein%></td>
		<%end%>
	</tr>
</tbody>
</table>


<div class="clear"></div>
