<link href="/assets/style_v4.css" rel="stylesheet" type="text/css" />
<style type="text/css">

select#vendor_state,#vendor_country,#vendor_p_country,#vendor_p_state,#vendor_vendor_type,#restaurant_state,#restaurant_country,#restaurant_p_country,#restaurant_p_state,#restaurant_vendor_type{
    width:235px;
    height:25px;
margin-top:-5px; 
padding:2px;
  }

input:-moz-placeholder {
      color: grey;
}
  textarea{
    width:40%;
  }

</style>

 <% if @vendor.errors.any? %>
    <div id="error_explanation" style="margin-left:30%;">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
<script tyle="text/javascript">

<% content_for :js do %>
    $('#distance-slider').slider({
          range: "min",
          step:  10,
          value: 0,
          min: 0,
          max: 500,
          slide: function( event, ui ) {
            miles=ui.value;
            $( "#distance-view" ).html(miles);
            $( "#distance-val" ).val( ui.value );
          }
        });
    
    miles= $( "#distance-slider" ).slider( "value" );
    
    $( "#distance-view" ).html( miles);
  <% end %>

</script>


          <div class="grid_5 ">
          <p id="user-name" class="grid_5" style="font-size:1.5em;"><%= @vendor.business_name %></p>
          <div class="profile-avatar avatar"><%= image_tag(@vendor.photo.url(:profile)) %></div>
			 <div class="sidebar-container" style="">
			 <div class="clear">&nbsp;</div>
<!--
			<ul id="user-settings-tabs">
			<li >
				<%#= link_to 'Change Password', :back %>
			</li>  
			<li>
				<%#= link_to 'Back to Profile', :back %>
			</li>
			</ul> -->
        </div></div> 

<input type="button" class="button grid_3" name="previous_button" style="height:20px;font-size:10pt;width:5em;padding:0;margin-left:2.5%;" onclick=back() value=" BACK " /><br><br>



<div style="margin-left:5%">	
<%= form_for @vendor, :url =>"/vendors/#{@vendor.id}" ,:method => :put do |f| %>

	<table width="70%" border="0" align="right" cellpadding="0" cellspacing="0" class="border_grey">
	<tbody>


	<tr>        
	<td height="40" colspan="2" ><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px 5px 5px 5px;width:98.5%;text-align:center;color:#FBF2EF;">Edit Business Details</h1></td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :business_name %></td>
 <td style="padding:5px 15px;" valign="top">

    <%= f.text_field :business_name, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;" %>
	</td>
	</tr>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span> <%= f.label :email %></td>
 <td style="padding:5px 15px;" valign="top">

    <%= f.text_field :email, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;" %>
	</td>
	</tr>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :Postal_code %></td>
 <td style="padding:5px 15px;" valign="top">

    <%= f.text_field :zipcode, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;" %>
	</td>
	</tr>





       
	<td colspan="2" style="border-top:solid 1px #bfbfbf;"><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px;width:98.5%;text-align:center;color:#FBF2EF;">Business information</h1></td>




<tr>
	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :address1, "Address#1" %></td>
 <td style="padding:5px 15px;" valign="top">   
<%= f.text_area :address1, :class=>"border_grey", :style=>"width:225px;height:50px;margin-top:-20px; margin-left:0px; padding:5px;" %>

</td>
</tr>


<tr>
	<tr>
	 <td style="padding:15px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :address2, "Address#2" %></td>
 <td style="padding:25px 15px;" valign="top">   
<%= f.text_area :address2, :class=>"border_grey", :style=>"width:225px;height:50px;margin-top:-20px; margin-left:0px; padding:5px;" %>

</td>
</tr>

<tr>
	<tr>
	 <td style="padding:15px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :address3, "Address#3" %></td>
 <td style="padding:5px 15px;" valign="top">   
<%= f.text_area :address3, :class=>"border_grey", :style=>"width:225px;height:50px;margin-top:-10px; margin-left:0px; padding:5px;" %>

</td>
</tr>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :city %></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :city, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;" %>
		<div id="ajaxAutoComplete" class="ajaxAutoComplete"></div>
	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :state %></td>

	 <td style="padding:5px 15px;" valign="top">
		<%= f.select :state, options_for_select(us_states),:style=>"width:200px;height:25px;margin-top:-5px; padding:2px;"%>
	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :country %></td>

	 <td style="padding:10px 15px;" valign="top">
	 <%= f.select :country, options_for_select(countries)%>
	</td>
	</tr>


	<tr>
	 <td style="padding:15px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :phone %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :contact1, :class=>"border_grey", :style=>"width:230px;height:20px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :cell %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :contact2, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :About_us %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_area :biography, :class=>"border_grey", :style=>"width:230px;height:50px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:15px 15px;" valign="top"><%= f.label :business_email %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :b_email, :class=>"border_grey", :style=>"width:230px;height:20px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:10px 15px;" valign="top"><%= f.label 'Business Logo' %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.file_field :photo, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:20px 15px;" valign="top"><%= f.label :website_address %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :website_address, :class=>"border_grey", :placeholder => "www.google.com",
:style=>"width:230px;height:20px; padding:2px;"%>

	</td>
	</tr>

       
	<td colspan="2" style="border-top:solid 1px #bfbfbf;"><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px;width:98.5%;text-align:center;color:#FBF2EF;">Qualifications</h1></td>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :title %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :title, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :school %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :school, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%> <%=f.select :year_school, (1950..Time.now.year).to_a, :prompt => {:year => "Select year"}%>
		<div id="ajaxAutoComplete2" class="ajaxAutoComplete"></div>
	</td>
	</tr>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :year_graduated %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
    <%= f.select :year_graduated, (1950..Time.now.year).to_a, :prompt => {:year => "Select year"} %>

	</td>
	</tr>


	<tr>
	 <td style="padding:15px 15px;" valign="top"><%= f.label :degree %><br /></td>

	 <td style="padding:10px 15px;" valign="top">
	    <%= f.text_field :degrees, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>
		<div id="ajaxAutoComplete3" class="ajaxAutoComplete"></div>
	</td>
	</tr>


	<tr>
	 <td style="padding:15px 15px;" valign="top"><%= f.label :certifications %><br /></td>

	 <td style="padding:10px 15px;" valign="top">
	    <%= f.text_field :certifications, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :specialities %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :specialities, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :license_no %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :licence_no, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :license_state %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :license_states, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>



	<td colspan="2" style="border-top:solid 1px #bfbfbf;"><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px;width:98.5%;text-align:center;color:#FBF2EF;">Pricing</h1></td>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :cost %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :cost, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:10px 15px;" valign="top"><%= f.label :average_cost%><br /></td>

	 <td style="padding:-10px 15px;" valign="top">
<span id="distance-view" style="margin-top:-10px;"></span>
<div id="distance-slider" style="width: 62%;margin-top:-0px;"></div>
  <%= f.hidden_field :average_cost, :id => 'distance-val', :value=> '@vendor_cost'%>


	</td>
	</tr>


	<tr>
	 <td style="padding:10px 15px;" valign="top"><%= f.label :accept_credit_card %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%=f.select :accept_credit_card, [["Yes","yes"],["No","no"]], :selected=>"Yes", :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :accept_cash %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.select :accept_cash, [["Yes","yes"],["No","no"]], :selected=>"Yes", :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :accept_check %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.select :accept_check, [["Yes","yes"],["No","no"]], :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :payment_plans %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.select :payment_plans, [["Yes","yes"],["No","no"]], :selected=>"Yes", :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :insurance %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.select :accept_insurance, [["Yes","yes"],["No","no"]], :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>



	<td colspan="2" style="border-top:solid 1px #bfbfbf;"><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px;width:98.5%;text-align:center;color:#FBF2EF;">Hours</h1></td>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :work_hours %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :work_hour, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<td colspan="2" style="border-top:solid 1px #bfbfbf;"><h1 style="margin-left:0%;margin-bottom:5%;margin-top:-1px;background-color:#0B2B42;padding:5px;width:98.5%;text-align:center;color:#FBF2EF;">Personal information</h1></td>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :first_name %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :fname, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :last_name %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :lname, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :address %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :p_address, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :city %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :p_city, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>
		<div id="ajaxAutoComplete1" class="ajaxAutoComplete"></div>
	</td>
	</tr>



	<tr>
	 <td style="padding:5px 15px;" valign="top"><span class="txt_orange">*</span><%= f.label :state %></td>

	 <td style="padding:5px 15px;" valign="top">
		<%= f.select :p_state, options_for_select(us_states),:style=>"width:200px;height:25px;margin-top:-5px; padding:2px;"%>
	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :country %></td>

	 <td style="padding:5px 15px;" valign="top">
      <%= f.select :p_country, options_for_select(countries)%>    
	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :phone %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :p_contact, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :cell %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.text_field :p_cell, :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>
<input type="hidden" id="status" name="vendor[status]" value="approved">
	</td>
	</tr>


	<tr>
	 <td style="padding:5px 15px;" valign="top"><%= f.label :gender %><br /></td>

	 <td style="padding:5px 15px;" valign="top">
	    <%= f.select :gender, [["Male","male"],["Female","female"]], :selected=>"Male", :class=>"border_grey", :style=>"width:230px;height:20px;margin-top:-5px; padding:2px;"%>

	</td>
	</tr>

	<td colspan="2" class="font_20" style="padding:10px 15px; border-top:solid 1px #bfbfbf;">

 <input type="submit" class="button grid_3" name="submit" style="height:29px;font-size:10pt;width:6em;padding:0;margin-left:30%;" onclick=submit() value=" UPDATE " /><input type="button" class="button grid_3" name="previous_button" style="height:29px;font-size:10pt;width:6em;padding:0;margin-left:0%;" onclick=back() value=" BACK " />
</td>

</tbody></table>


<% end %><br/>

</div>


