<script type="text/javascript">
  <% content_for :js do %>
    $(function() {
      $("tr").mouseover(function(){
        $(this).css("background-color","#ccc");
      }).mouseout(function(){
        $(this).css("background-color","#FFFFFF");
      });
   });
  <%end%>
</script>

          <div class="grid_5 ">
          <p id="user-name" class="grid_5" style="font-size:1.5em;"><%= @vendor.business_name %></p>
          <div class="profile-avatar avatar"><%= image_tag(@vendor.photo.url(:profile)) %></div>
			 <div class="sidebar-container" style=""><%if session[:vendor] && session[:vendor].id == @vendor.id && session[:vendor].vendor_type==@vendor.vendor_type%>
			 <%= link_to 'Edit', edit_vendor_path(@vendor.id)+"/"+"#{@vendor.business_name}".gsub(/\W+/, "-").gsub(/^[-]+|[-]$/,"").gsub('.'," ").strip, :id => 'edit-profile', :class => 'outlined-fade', :title => 'Edit your profile' %><%end%>
			 <div class="clear">&nbsp;</div>
			 </div>
			 </div>

<br><br><%#= link_to 'Back', :back, :style=>"margin-left:5%;" %><br><br>
  

    <table border="0" width="64%" style="margin-left:25em;height:42em;background-color:#FFFFFF;border:1px solid;" align="center">
  
	  	<tr>
      <td colspan="2"><h2 style="background-color: #0B2B42; color:white;width:37em;"><%= @vendor.business_name %></h2></td>
   	</tr>
   

		 <tr>
		    <td width="40%" style="padding-left:10%;"><label>Vendor type</label></td>
		    <td width="60%">
		      <% 
		        @vendor.vendor_type.split('_').each do |d|
		      %>
		          <%=d.capitalize%>
		      <%  end  %>
		    </td>	
    </tr>

   <tr>
	    <td  width="40%" style="padding-left:10%;"><label>Vendor Name</label></td>
	    <td width="60%"><%= @vendor.fname %> <%= @vendor.lname %></td>	
    </tr>
 
   <tr>
	    <td  width="40%" style="padding-left:10%;"><label>Title</label></td>
	    <td width="60%"><%#= @vendor.title %></td>	
    </tr>

    <tr>
	    <td width="40%" style="padding-left:10%;"><label>Company title</label></td>
	    <td width="60%" ><%#= @vendor.company_title %></td>	
    </tr>


	    <td width="40%" style="padding-left:10%;"><label>Certifications</label></td>
	    <td width="60%"><%= @vendor.certifications %></td>
    </tr>
    <tr>
	    <td width="40%" style="padding-left:10%;"><label>Specialities</label></td>
	    <td width="60%"><%= @vendor.specialities %></td>
    </tr>
    <tr>
	    <td width="40%" style="padding-left:10%;"><label>Cost</label></td>
	    <td width="60%"><%= @vendor.cost %></td>
    </tr>
    <tr>
	    <td width="40%" style="padding-left:10%;"><label>Gender</label></td>
	    <td width="60%"><%= @vendor.gender %></td>
    </tr>


    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Accept credit card</label></td>
	    <td width="60%"><%= @vendor.accept_credit_card %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Accept cash</label></td>
	    <td width="60%"><%= @vendor.accept_cash %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Accept check</label></td>
	    <td width="60%"><%= @vendor.accept_check %></td>
    </tr>


    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Payment plans</label></td>
	    <td width="60%"><%= @vendor.payment_plans %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Insurance</label></td>
	    <td width="60%"><%= @vendor.accept_insurance %></td>
    </tr>

</table>

    <table border="0" width="64%" style="margin-left:25em;height:35em;background-color:#FFFFFF;border:1px solid;" align="center">

	<tr>
      <td colspan="2"><h2 style="background-color:#0B2B42;color:white;width:37em;">Contact details</h2></td>
    </tr>

    <tr>
	    <td width="40%" style="padding-left:10%;"><label>Phone</label></td>
	    <td><%= @vendor.contact1 %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Cell</label></td>
	    <td><%= @vendor.contact2 %></td>
    </tr>
	
    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Business email</label></td>
	    <td><%= @vendor.b_email %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Website address</label></td>
	   <%if  !@vendor.website_address.nil? && !@vendor.website_address.blank?%> <td><%= link_to "#{@vendor.website_address}", "#{@vendor.website_address}" %></td><%end%>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Address 1</label></td>
	    <td><%= @vendor.address1 %></td>
    </tr>

    <tr>
	    <td width="30%" style="padding-left:10%;"><label>Address 2</label></td>
	    <td><%= @vendor.address2 %></td>
    </tr>
    <tr>
	    <td width="30%" style="padding-left:10%;"><label>City</label></td>
	    <td><%= @vendor.city %></td>
    </tr>
    <tr>
	    <td width="30%" style="padding-left:10%;"><label>State</label></td>
	    <td><%= @vendor.state %></td>
    </tr>
    <tr>
	    <td style="padding-left:10%;"><label>Zipcode</label></td>
	    <td><%= @vendor.zipcode %></td>
    </tr>
    <tr>
	    <td style="padding-left:10%;"><label>Country</label></td>
	    <td><%= @vendor.country %></td>
    </tr>

	</table>




<br><%#= link_to 'Back', :back, :style=>"margin-left:35%;" %>
