<style type="text/css">
	th{
		font-size:14px;
		text-align:center;
		padding: .3%;
	}
.even { background: #99ccff; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
</style>

<script tyle="text/javascript">

  //for miles slider 
  /*
  <% content_for :js do %>
    $('#distance-slider').slider({
          range: "min",
          step: 2,
          value: 0,
          min: 1,
          max: 20,
          slide: function( event, ui ) {
            miles=ui.value;
            $( "#distance-view" ).html(miles);
            $( "#distance-val" ).val( ui.value );
          }
        });
    
    miles= $( "#distance-slider" ).slider( "value" );
    
    $( "#distance-view" ).html( miles);
  <% end %>
  
  */
  
  
  function submitForm()
  {
    location.href="<%=vendor_path%>/"+$("#searchtype").val()+"/"+$("#filterBy").val()+"/"+$("#filterQuery").val();
  }
    
</script>

<div id="nav-bar" style="margin-left:22.7em;margin-top:-4.4%;">
    <%= render :partial => 'shared/nav_bar' %>
</div>
<div class="clear"></div>

<div style="margin:1% 0 0 20%;width:82%;height:1%;padding:1%;">
  <form id="vendor-search" method='get' onsubmit="return false" action="">
    <div style="float:left;width:27%;">
      <label style="font-size:14px;">Select business category</label><br>
    
     <div style="float:left;margin-left:.5%;margin-top:.5em;">
      <select name="searchtype" id="searchtype" style="height:2em;margin:0 1%;width:14em;padding:0;">
        <option value="all" selected="selected">All</value>
        <option value="gym" <%=params[:searchtype]=="gym" ? "selected" : "" %> >Gyms</value>
        <option value="restaurants" <%=params[:searchtype]=="restaurants" ? "selected" : "" %> >Restaurants</value>
        <option value="nutritionist" <%=params[:searchtype]=="nutritionist" ? "selected" : "" %> >Nutritionist</value>
        <option value="weight_loss_surgeons" <%=params[:searchtype]=="weight_loss_surgeons" ? "selected" : "" %> >Weight loss surgeons</value>
        <option value="physiologists" <%=params[:searchtype]=="physiologists" ? "selected" : "" %> >Physiologists</value>
        <option value="hospitals" <%=params[:searchtype]=="hospitals" ? "selected" : "" %> >Hospitals</value>
        <option value="law" <%=params[:searchtype]=="law" ? "selected" : "" %> >Law</value>
        <option value="medical_equipment" <%=params[:searchtype]=="medical_equipment" ? "selected" : "" %> >Medical equipment</value>
        <option value="Plastic_surgeon" <%=params[:searchtype]=="Plastic_surgeon" ? "selected" : "" %> >Plastic surgeon</value>
        <option value="spa" <%=params[:searchtype]=="spa" ? "selected" : "" %> >spa</value>
        <option value="weight_loss_clinics" <%=params[:searchtype]=="weight_loss_clinics" ? "selected" : "" %> >Weight loss clinics</value>
        <option value="weight_loss_doctors" <%=params[:searchtype]=="weight_loss_doctors" ? "selected" : "" %> >Weight loss doctors</value>
      </select>
    </div>
  </div>
  
  <div style="margin-left:.5em;float:left;">
    <label style="font-size:14px;">Type</label><br>
    <div style="float:left;margin-top:.1em;margin-right:1em;">
      <select style="height:2em;" id="filterBy" name="filterBy">
        <option value="city" <%=params[:filterBy]=="city" ? "selected" : "" %> >City</option>
        <option value="state" <%=params[:filterBy]=="state" ? "selected" : "" %> >State</option>
        <option value="zipcode" <%=params[:filterBy]=="zipcode" ? "selected" : "" %> >Zip</option>
      </select>
    </div>
    <input type="text" id="filterQuery" name="filterQuery" value="<%=params[:filterQuery]%>" style="height:1.2em;width:12em;" placeholder="Enter city,zip or state..." />
  </div>
  <!--  <div style="float:left;margin-left:2%;margin-top:-10px;">
      <%= label 'Distance', 'Distance:', :style=>"margin:0;padding:0;" %>
      <span id="distance-view"></span>
      <div id="distance-slider"></div>
      <input type="hidden" name="distance" value='1' id = "distance-val" />
    </div>
 -->
    <div style="float:left;margin-left:1%;padding-top:.5em;">
    <br>
      <input type="button" class="button grid_3" style="height:26px;font-size:10pt;width:4em;padding:0;margin:0;" onclick="submitForm()" value=" Search " />
    </div>
    <div style="float:left;margin-left:1%;padding-top:.5em;">
    <br>
      <input type="button" class="button grid_3" style=" height:26px;font-size:10pt;width:10em;padding:0;margin:0%;" value=" Add Your Business " />
    </div>
    
   </form>
</div>
<div class="clear"></div>
<br>

 <!--
<%# if @data || (params[:status] && params[:status]=="true") %>
 <form id="vendor-search-filter" method='get' onsubmit="return false" action="">
    <div style="margin-left:21em;float:left;">
      <label>Filter Data:</label>
      <input type="text" id="filterQuery" name="filterQuery" value="<%=params[:filterQuery]%>" style="height:1.2em;width:12em;" placeholder="For more filter data, give city,zip..." />
    </div>
    <div style="float:left;margin-left:1.8%;">
      <select style="height:2em;" id="filterBy" name="filterBy">
        
        <option value="city" <%=params[:filterBy]=="city" ? "selected" : "" %> >City</option>
        <option value="state" <%=params[:filterBy]=="state" ? "selected" : "" %> >State</option>
        <option value="zipcode" <%=params[:filterBy]=="zipcode" ? "selected" : "" %> >Zip</option>
      </select>
    </div>
    <div style="float:left;margin-left:1%;margin-top:.8%;">
      <button id="search" class="button grid_3" style=" height:25px;width:2em;padding:0;margin:0;" onclick="onclick=submitForm('true')">
          <img src="/assets/search.png" alt="Search" />
      </button>
    </div>
    <div class="clear"></div>
</form>
   <br>
<%#end%> -->


<% if @data %>
   <%= page_entries_info(@data) %>
  <%= paginate(@data, :params => pagination_params(request)) %>
<div style="overflow:auto;width:90em;">
  <table style="border-collapse:separate;border-spacing:2px;width:87em;">
    <tr class="head-table">
      <%if @cols=="all"%>
        <th>Vendor Type</th>
        <!--<th>Title</th>
        <th>Company Title</th>-->
        <th>Title & Vendor Name</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Country</th>
        <th>Contact1</th>
        <th>Contact 2</th>
        <th>Email</th>
        <th>Website Address</th>
        <th></th>
      <%elsif @cols=="restaurants"%>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Restaurant Type</th>
        <th></th>
      <%else%>
        <!--<th>Title</th>
        <th>Company Title</th>-->
        <th>Title & Vendor Name</th>
        <th>Address1&nbsp;&nbsp;</th>
        <th>Address2&nbsp;&nbsp;</th>
        <th>City&nbsp;&nbsp;</th>
        <th>State&nbsp;&nbsp;</th>
        <th>Zipcode&nbsp;&nbsp;</th>
        <th>Country&nbsp;&nbsp;</th>
        <th>Contact1&nbsp;&nbsp;</th>
        <th>Contact2&nbsp;&nbsp;</th>
        <th>Email&nbsp;&nbsp;</th>
        <th>Website Address&nbsp;&nbsp;</th>
        <th></th>
     <%end%>
    </tr>
    <% @data.each do |row| %>
      <tr class="<%= cycle('even','odd') %>">
         <%if @cols=="all"%>
          <td style="padding: .3%;"><%=row.vendor_type%>&nbsp;&nbsp;</td>
          <!--<td style="padding: .3%;"><%#=row.title%></td>
          <td style="padding: .3%;"><%#=row.company_title%></td> -->
          <td style="padding: .3%;width:15em;"><%=row.title %> <%=link_to row.vendor_name ,vendorInfo_path(row.id) %></td>
          <td style="padding: .3%;"><%=row.address1%></td>
          <td style="padding: .3%;"><%=row.address2%></td>
          <td style="padding: .3%;"><%=row.city%></td>
          <td style="padding: .3%;"><%=row.state%></td>
          <td style="padding: .3%;"><%=row.zipcode%></td>
          <td style="padding: .3%;"><%=row.country%></td>
          <td style="padding: .3%;"><%=row.contact1%></td>
          <td style="padding: .3%;"><%=row.contact2%></td>
          <td style="padding: .3%;"><%=row.email%></td>
          <td style="padding: .3%;"><%=row.website_address%></td>
          <td><button id="search" class="button grid_3" style="height:26px;font-size:10px;width:9em;padding:0;margin:0%;">Claim business</button></td>
        <%elsif @cols=="restaurants"%>
          <td style="padding: .3%;"><%=link_to row.name, vendorInfo_path(row.id)+"/restaurants"%></td>
          <td style="padding: .3%;"><%=row.address%></td>
          <td style="padding: .3%;"><%=row.city%></td>
          <td style="padding: .3%;"><%=row.state%></td>
          <td style="padding: .3%;"><%=row.zip%></td>
          <td style="padding: .3%;"><%=row.restaurent_type%></td>
          <td><button id="search" class="button grid_3" style="height:26px;font-size:10px;width:9em;padding:0;margin:0 0 0 2em;">Claim business</button></td>
        <%else%>
          <!--<td style="padding: .3%;"><%=row.title%></td>
          <td style="padding: .3%;"><%=row.company_title%></td>-->
          <td style="padding: .3%;width:15em;"><%=row.title %> <%=link_to row.vendor_name, vendorInfo_path(row.id)%></td>
          <td style="padding: .3%;"><%=row.address1%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.address2%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.city%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.state%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.zipcode%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.country%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.contact1%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.contact2%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.email%>&nbsp;</td>
          <td style="padding: .3%;"><%=row.website_address%>&nbsp;</td>
          <td><button id="search" class="button grid_3" style="height:26px;font-size:10px;width:9em;padding:0;margin:0%;">Claim business</button></td>
        <%end%>      
      </tr>
    <%end%>
  </table>
<%end%>
</div>
