<style type="text/css">
	th{
		font-size:14px;
		text-align:center;
		padding: .3%;
	}
.even { background: #99ccff; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
</style>

<script src="/assets/jquery.js"></script>
<script tyle="text/javascript">

  function fetchData()
  {
    if($("#query").val()=="")
    {
      alert("Enter your query ");
      $("#query").focus();
      return false;
    }
    return true;
   }
</script>

<div id="nav-bar" style="margin-left:22.7em;margin-top:-4.4%;">
    <%= render :partial => 'shared/nav_bar' %>
</div>
<div class="clear"></div>

<div style="margin:1% 0 0 40%;width:62%;height:1%;padding:1%;">
<!--onsubmit="return fetchData()"-->
  <form id="vendor-search" action="<%=vendor_path%>">
    <div style="float:left;width:10%;">
      <label>Search</label>
    </div>
    
    <div style="float:left;">
      <input type="text" name='query' id="query" style="height:1.8em;padding:0;margin:0;" placeholder ='Enter your search query...' />
    </div>
    
    <div style="float:left;margin-left:2%;">
      <select name="searchtype" style="height:2em;margin:0 1%;padding:0;">
        <option value="all" selected="selected">All</value>
        <option value="gym">Gyms</value>
        <option value="restaurants">Restaurants</value>
        <option value="nutritionist">Nutritionist</value>
        <option value="weight_loss_surgeons">Weight loss surgeons</value>
        <option value="physiologists">Physiologists</value>
        <option value="hospitals">Hospitals</value>
        <option value="law">Law</value>
        <option value="medical_equipment">Medical equipment</value>
        <option value="Plastic_surgeon">Plastic surgeon</value>
        <option value="spa">spa</value>
        <option value="weight_loss_clinics">Weight loss clinics</value>
        <option value="weight_loss_doctors">Weight loss doctors</value>
      </select>
    </div>
    
    <div style="float:left;margin-left:2%;">
      <button id="search" class="button grid_3" style=" height:26px;font-size:12pt;width:6em;padding:0;margin:0;" type="submit">
          <img src="/assets/search.png" alt="Search" />Search
      </button>
    </div>
  </form>
</div>
<div class="clear"></div>
<br>
<% if @data %>
  <%= page_entries_info(@data) %>
  <%= paginate(@data, :params => pagination_params(request)) %>
<div style="overflow:auto;width:85em;">
  <table style="border-collapse:separate;border-spacing:2px;width:<%=(@cols)[1]!='title' ? 87 : 180 %>em;">
    <tr class="head-table">
      <%if @cols%>
       <%@cols.each do |c|%>
          <%if c!="created_at" && c!="updated_at" && c!="id"%>
          <th><%=c%> </th>
       <%end end end%>
    </tr>
    <% @data.each do |row| %>
      <tr class="<%= cycle('even','odd') %>">
        <%@cols.each do |c|%>
          <%if c!="created_at" && c!="updated_at" && c!="id"%>
         <td style="padding: .3%;"><%=row[c]%></td>
        <%end end%>      
      </tr>
    <%end%>
  </table>
<%end%>
</div>
