<style type="text/css">
.black_overlay{
			display: none;
			position: fixed;
			top: -20%;
			left: -17%;
			width: 150em;
			height: 100em;
			background-color: black;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}
		.white_content {
			display: none;
			position: fixed;
			top: 15%;
			left: 25%;
			width: 45%;
			height: 62%;
			padding: 16px;
			border: 10px solid #781351;
			background-color: white;
			z-index:1002;
		}
	th{
		font-size:14px;
		text-align:center;
		padding: .3%;
	}
.even { background: #99ccff; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
.ajaxAutoComplete{
	background-color:#fff;
	border:1px solid black;
  width:63%;
  height:250px;
	display:none;
	position:absolute;
	top:32%;
	left:21%;
	overflow:scroll;
	z-index:300;
}
.gridHeader{
	background-color:#fff;
	border:1px solid black;
  width:63%;
  height:25px;
	display:none;
	position:absolute;
	top:27%;
	left:21%;
	z-index:300;
}
.submit_button {
    display: inline-block;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    padding: 5px 10px;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    line-height: 30px;
    color: #595959;
    font-weight: bold;
}
</style>


<!-- new code when enter submit form------------->


<script tyle="text/javascript">

function submitFormByEnter(event) {
    if (event.keyCode && event.keyCode == '13') {
        submitForm();
    }
}
function showClaimForm(a,b){
document.getElementById('business_type').value=a;
document.getElementById('vr_id').value=b;
document.getElementById('light').style.display='block';
document.getElementById('fade').style.display='block';
}
		
</script>

<!-- new code end------------->



<script tyle="text/javascript">

function selectedRow(rw)
{
	rw.style.background="#A9BCF5";
}
function unSelectedRow(rw)
{
	rw.style.background="#E6E6E6";
}
function submitForm()
{
  location.href="<%=vendor_path%>/"+$("#searchtype").val()+"/"+$("#vendor-search-query").val().trim();
}
function submitClaimForm()
{
 if($("#terms").attr('checked')!="checked")
	 {
			alert("To sumbit please accept Terms & conditions");
			return false;		
		}
		else
	{	
$("#vendor-claim").submit();}
}

function getTdVal(mid)
{
	vendorGridTable=document.getElementById('VendorGridTable');
	document.getElementById("vendor-search-query").value=(vendorGridTable.rows[document.getElementById(mid).rowIndex].cells[0].innerHTML).split('-')[0];
}

</script>

<div id="nav-bar" style="margin-left:22.7em;margin-top:-4.4%;">
    <%= render :partial => 'shared/nav_bar' %>
</div>
<div class="clear"></div>
	
<div style="margin:1% 0 0 20%;width:82%;height:1%;padding:1%;">
  <form id="vendor-search" method='get' onsubmit="return false" action="">

 <div style="float:left;width:27%;">
      <label style="font-size:14px;">Select Business</label><br>
    
     <div style="float:left;margin-left:.5%;margin-top:.5em;">
      <select name="searchtype" id="searchtype" style="height:2em;margin:0 1%;width:14em;padding:0;">
        <option value="all" selected="selected">All</value>
        <option value="gym" <%=params[:searchtype]=="gym" ? "selected" : "" %> >Gyms</value>
        <option value="restaurants" <%=params[:searchtype]=="restaurants" ? "selected" : "" %> >Restaurants</value>
        <option value="nutritionist" <%=params[:searchtype]=="nutritionist" ? "selected" : "" %> >Nutritionist</value>
        <option value="weight_loss_surgeons" <%=params[:searchtype]=="weight_loss_surgeons" ? "selected" : "" %> >Weight loss surgeons</value>
        <option value="physiologists" <%=params[:searchtype]=="physiologists" ? "selected" : "" %> >Physiologists</value>
        <option value="hospitals" <%=params[:searchtype]=="hospitals" ? "selected" : "" %> >Hospitals</value>
        <option value="law" <%=params[:searchtype]=="law" ? "selected" : "" %> >Law</value>
        <option value="medical_equipment" <%=params[:searchtype]=="medical_equipment" ? "selected" : "" %> >Medical equipment</value>
        <option value="Plastic_surgeon" <%=params[:searchtype]=="Plastic_surgeon" ? "selected" : "" %> >Plastic surgeon</value>
        <option value="spa" <%=params[:searchtype]=="spa" ? "selected" : "" %> >spa</value>
        <option value="weight_loss_clinics" <%=params[:searchtype]=="weight_loss_clinics" ? "selected" : "" %> >Weight loss clinics</value>
        <option value="weight_loss_doctors" <%=params[:searchtype]=="weight_loss_doctors" ? "selected" : "" %> >Weight loss doctors</value>
      </select>
    </div>
  </div>	

  <div style="margin-right:1em;float:left;">
    <label style="font-size:14px;">Filter</label><br>
    <input type="text" id="vendor-search-query" onkeyup="submitFormByEnter(event)" name="filterQuery" value="<%=params[:filterQuery]%>" style="height:1.2em;width:12em;" placeholder="Enter State, city, zip..."/>
  </div>
  
    <div style="float:left;margin-left:1%;padding-top:.5em;">
    <br>
      <input type="button" class="button grid_3" style="height:26px;font-size:10pt;width:4em;padding:0;margin:0;" onclick="submitForm()" value=" Search " />
    </div>
    <div style="float:left;margin-left:1%;padding-top:.5em;">
    <br>
      <input type="button" class="button grid_3" style=" height:26px;font-size:10pt;width:10em;padding:0;margin:0%;" onclick="location.href='<%=new_vendor_path()%>'" value=" Add Your Business " />
    </div>
   </form>
</div>
<div class="clear"></div>

<!--

<div id="gridHeader" class="gridHeader">
		  <span style="padding-left:3%;padding-right:36%;float:left;font-weight:bold;">Name</span><span  style="padding-right:14%;float:left;font-weight:bold;">Address</span><span style="padding-right:10%;float:left;font-weight:bold;">City</span><span style="padding-right:2%;float:left;font-weight:bold;">State</span><span  style="float:left;font-weight:bold;">Zipcode</span>
		</div>
		<div id="ajaxAutoComplete" class="ajaxAutoComplete"></div>
<br>

-->

 <!--
<%# if @data || (params[:status] && params[:status]=="true") %>
 <form id="vendor-search-filter" method='get' onsubmit="return false" action="">
    <div style="margin-left:21em;float:left;">
      <label>Filter Data:</label>
      <input type="text" id="filterQuery" name="filterQuery" value="<%=params[:filterQuery]%>" style="height:1.2em;width:12em;" placeholder="For more filter data, give city,zip..." />
    </div>
    <div style="float:left;margin-left:1.8%;">
      <select style="height:2em;" id="filterBy" name="filterBy">
        
        <option value="city" <%=params[:filterBy]=="city" ? "selected" : "" %> >City</option>
        <option value="state" <%=params[:filterBy]=="state" ? "selected" : "" %> >State</option>
        <option value="zipcode" <%=params[:filterBy]=="zipcode" ? "selected" : "" %> >Zip</option>
      </select>
    </div>
    <div style="float:left;margin-left:1%;margin-top:.8%;">
      <button id="search" class="button grid_3" style=" height:25px;width:2em;padding:0;margin:0;" onclick="onclick=submitForm('true')">
          <img src="/assets/search.png" alt="Search" />
      </button>
    </div>
    <div class="clear"></div>
</form>
   <br>
<%#end%> -->


<% if @data %>
   <%= page_entries_info(@data) %>
  <%= paginate(@data, :params => pagination_params(request)) %>
<div style="overflow:auto;width:90em;">
  <table style="border-collapse:separate;border-spacing:2px;width:87em;">
    <tr class="head-table">
     <%if @cols!="restaurants"%>
		<th>Company Logo</th>
		<% if @cols=="all"%>
      <th>Vendor Type</th>
		<%end%>
       <!--<th>Title</th>-->
       <th>Company Name</th>
        <th>Name</th>
    <!--<th>Address 1</th>
        <th>Address 2</th> -->
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Country</th>
    <!--<th>Contact1</th>
        <th>Contact 2</th>
        <th>Email</th>
        <th>Website Address</th>-->
        <th>Claim</th>
      <%elsif @cols=="restaurants"%>
      <!--  <th>Company Name</th>-->
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Restaurant Type</th>
        <th>Claim</th>
     <%end%>
    </tr>
    <% @data.each do |row| %>
      <tr class="<%= cycle('even','odd') %>">
         <%if @cols!="restaurants"%>
<td style="padding: .3%;">
<% if row.photo.exists? then %>
	<%= link_to image_tag (row.photo.url(:small)),vendorInfo_path(row.id) %>
<% end %></td>
				<% if @cols=="all"%>
          <td style="padding: .3%;"><%=row.vendor_type.split('_').join(' ')%>&nbsp;&nbsp;</td>
				<%end%>
          <!--<td style="padding: .3%;"><%#=row.title%></td>-->
          <td style="padding: .3%;"><%=row.business_name%></td>
          <td style="padding: .3%;width:15em;"><%=link_to row.vendor_name ,vendorInfo_path(row.id)+"/"+row.vendor_type %></td>
          <!--<td style="padding: .3%;"><%#=row.address1%></td>
          <td style="padding: .3%;"><%#=row.address2%></td>-->
          <td style="padding: .3%;"><%=row.city%></td>
          <td style="padding: .3%;"><%=row.state%></td>
          <td style="padding: .3%;"><%=row.zipcode%></td>
          <td style="padding: .3%;"><%=row.country%></td>
          <!--<td style="padding: .3%;"><%#=row.contact1%></td>
          <td style="padding: .3%;"><%#=row.contact2%></td>
          <td style="padding: .3%;"><%#=row.email%></td>
          <td style="padding: .3%;"><%#=row.website_address%></td>-->
          <%if row.status.nil?%>
          <%row.status="notapproved"%>
          <%end%>          
          <%if row.status.downcase=="pending approval" || row.status.downcase=="approved"%>
          <td style="padding: .3%;"><%=row.status.upcase%></td>
				<%else%>
          <td><button id="claimbutton" class="button grid_3" style="height:26px;font-size:10px;width:9em;padding:0;margin:0%;" onclick='showClaimForm("<%=row.vendor_type%>","<%=row.id%>")' >Claim business</button></td>
				<%end%>
        <%elsif @cols=="restaurants"%>
          <td style="padding: .3%;"><%=link_to row.business_name, vendorInfo_path(row.id)+"/restaurants"%></td>
          <td style="padding: .3%;"><%=row.address1%></td>
          <td style="padding: .3%;"><%=row.city%></td>
          <td style="padding: .3%;"><%=row.state%></td>
          <td style="padding: .3%;"><%=row.zipcode%></td>
          <td style="padding: .3%;"><%=row.restaurent_type%></td>
				<% if row.status=="Pending approval"%>  
				<td style="padding: .3%;"><%=row.status%></td> 
				<%else%>				       
          <td><button id="claimbutton" class="button grid_3" style="height:26px;font-size:10px;width:9em;padding:0;margin:0 0 0 2em;" onclick='showClaimForm("restaurants", "<%=row.id%>")'>Claim business</button></td>
				<%end%>          
        <%end%>      
      </tr>
    <%end%>
  </table>
<%end%>
</div>

<!-- 	claim business form -->

<div id="light" class="white_content">
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
<div style="background-image:url('/assets/close.png');float:right;width:30px;height:30px;margin-right:-3.5em;margin-top:-3.3em;"></div>
</a>

	<form id="vendor-claim" method='post' action="<%=businessclaim_vendors_path%>">
			<div style="margin-left:25%;">
			<h1>Claim your business</h1>
				</div><br/>
			<div style="margin-left:15%">
			<label>First Name:</label>
      	<input type="text" id="claimfname" name="businessclaim[claimfname]" value="" style="height:1.2em;width:12em;"/></br>
      	
				<label>Last Name:</label>
      		<input type="text" id="claimlname" name="businessclaim[claimlname]" value="" style="height:1.2em;width:12em;"/></br>


		     <label>Email: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      	<input type="text" id="claimemail" name="businessclaim[claimemail]" value="" style="height:1.2em;width:12em;"/></br>


      	<label>Contact:</label>&nbsp;&nbsp;&nbsp;
        <input type="text" id="claimcontact" name="businessclaim[claimcontact]" value="" style="height:1.2em;width:12em;"/></br>
      	
			
        <input type="hidden" id="business_type" name="businessclaim[business_type]" value="">
        <input type="hidden" id="vr_id" name="businessclaim[vr_id]" value="">
        <input type="hidden" id="status" name="businessclaim[status]" value="Pending approval">
						</div>
			
      <input type="checkbox" id="terms" style="margin-left:15%;" value=""/>&nbsp; I certify this is my business & Accept Terms of Service.</br></br>				
      <button id="submitclaim" style="margin-left:32%;" class="button grid_3" onclick="return submitClaimForm()">Submit</button>

	</form>

</div>
<div id="fade" class="black_overlay"></div>
<!-- end -->

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
	jQuery("#vendor-search-query").keyup(function() {
			data=$("#vendor-search-query").val();			
			if(data.length>2 && data!="")
			{
				$.ajax({
            type : "GET",
            url : '<%= search_decipher_vendors_url %>',
            data : $("#vendor-search").serialize(),
            dataType : "html",
            success: function(data) {
						//parse json data
						obj=jQuery.parseJSON(data);
            $("#ajaxAutoComplete").html(dataGrid(obj));
						
						pos=$("#vendor-search-query").position(); //take postion of type textbox for set the postion of autogrid
						$("#gridHeader").css("top",pos.top+32);
						$("#gridHeader").css("left",pos.left);
						
						$("#ajaxAutoComplete").css("top",pos.top+59);
						$("#ajaxAutoComplete").css("left",pos.left);
						
						$("#ajaxAutoComplete").css("display","block");
						$("#gridHeader").css("display","block");
					
            },
            error : function() {
							alert("Sorry, The requested property could not be found.");
            }
          });
			}
			else
			{
				$("#ajaxAutoComplete").css("display","none");
				$("#gridHeader").css("display","none");
			}
			
});
$(".full").click(function(){
	$("#ajaxAutoComplete").css("display","none");
	$("#gridHeader").css("display","none");
});

function dataGrid(ojb)
{
	data="<table id='VendorGridTable' bgcolor='#E6E6E6'>";
	row="";
	for(i=0;i<obj.length;i++)
	{									
			row+="<tr style='height:30px;font-size:12px;' id="+obj[i].id+" onmouseover='selectedRow(this)' onclick=getTdVal('"+obj[i].id+"') onmouseout='unSelectedRow(this)'>"+tCols(obj[i].value)+"</tr>";
	}

	data+=row+"</table>";
	
	return data;
}
function tCols(colData)
{
	cols=colData.split('@$');
	col="";
	for(j=0;j<cols.length;j++)
	{
		if(cols[j].trim()=="")
		{
			cols[j]="N/A";
		}
		if(j==0)
		{
				col+="<td style='width:22em;text-align:left;padding-right:3px;'> "+cols[j]+" </td>";
		}
		else
		{
			col+="<td style='text-align:left;'>"+cols[j].toLowerCase().substring(0,25)+"</td>";
		}
	}
	return col+"</tr>";
}

<% end %>
</script>
