
  <% if @status!="true"%>
    <%= form_for @vendor do |f| %>
      <div style="margin-top:2em;">
		    <h2><%= @vendor.vendor_name %></h2>
	    </div>
      <table border="0" width="100%" style="float:left;margin-left:15em;" align="center">
	    <tr>
			    <td><%= f.label :vendor_type, 'Vendor type' %></td>
			    <td><%= f.text_field :vendor_type, :class => 'grid_6 alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;" %></td>	
	    </tr>
	    <tr>
			    <td><%= f.label :title, 'Title' %></td>
			    <td><%= f.text_field :title, :class => 'grid_6 alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;" %></td>	
      </tr>
      <tr>
		    <td width="30%"><%= f.label :company_title, 'Company title' %></td>
		    <td><%= f.text_field :company_title, :class => 'sz_input alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	
	    <tr>
		    <td width="30%"><%= f.label :address1, 'Address 1' %></td>
		    <td><%= f.text_field :address1, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	
	    <tr>
		    <td width="30%"><%= f.label :address2, 'Address 2' %></td>
		    <td><%= f.text_field :address2, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :city, 'City' %></td>
		    <td><%= f.text_field :city, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :state, 'State' %></td>
		    <td><%= f.text_field :state, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
			    <td><%= f.label :zipcode, 'Zipcode' %></td>
			    <td><%= f.text_field :zipcode, :class => 'grid_6 alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;" %></td>	
	    </tr>
	    <tr>
			    <td><%= f.label :country, 'Country' %></td>
			    <td><%= f.text_field :country, :class => 'grid_6 alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;" %></td>	
      </tr>
      <tr>
		    <td width="30%"><%= f.label :contact1, 'Contact 1' %></td>
		    <td><%= f.text_field :contact1, :class => 'sz_input alpha',:disabled=>:true, :style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	
	    <tr>
		    <td width="30%"><%= f.label :contact2, 'Contact 2' %></td>
		    <td><%= f.text_field :contact2, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	
	    <tr>
		    <td width="30%"><%= f.label :email, 'E-mail' %></td>
		    <td><%= f.text_field :address2, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :website_address, 'Website address' %></td>
		    <td><%= f.text_field :website_address, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :custom_field1, 'Custom field 1' %></td>
		    <td><%= f.text_field :custom_field1, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :custom_field2, 'Custom field 2' %></td>
		    <td><%= f.text_field :custom_field2, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :custom_field3, 'Custom field 3' %></td>
		    <td><%= f.text_field :custom_field3, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    <tr>
		    <td width="30%"><%= f.label :custom_field4, 'Custom field 4' %></td>
		    <td><%= f.text_field :custom_field4, :class => 'sz_input alpha mr_lrg',:disabled=>:true,:style=>"width:40%;margin:0 0 10px 0;padding:0;", :size=>"5" %></td>
	    </tr>
	    </table>
	 <%end%>
	<%else%>
	  <form>
	   <div style="margin-top:2em;">
		  <h2><%= @vendor.name %></h2>
	  </div>
    <table border="0" width="100%" style="float:left;margin-left:15em;" align="center">
	  <tr>
			  <td><label>Address</label></td>
			  <td><input type="text" value="<%=@vendor.address%>" disabled="disabled" class = 'grid_6 alpha', style="width:40%;margin:0 0 10px 0;padding:0;" /></td>	
	  </tr>
	  <tr>
		  <td width="30%"><label>City</label></td>
		  <td><input type="text" value="<%=@vendor.city%>" disabled="disabled" class = 'sz_input alpha mr_lrg' style="width:40%;margin:0 0 10px 0;padding:0;" size="5" /></td>
	  </tr>
	   <tr>
		  <td width="30%"><label>State</label></td>
		  <td><input type="text" value="<%=@vendor.state%>" disabled="disabled" class = 'sz_input alpha mr_lrg' style="width:40%;margin:0 0 10px 0;padding:0;" size="5" /></td>
	  </tr>
	  <tr>
			  <td><label>Zipcode</label></td>
			  <td><input type="text" value="<%=@vendor.zip%>" disabled="disabled" class = 'grid_6 alpha' style="width:40%;margin:0 0 10px 0;padding:0;" /></td>
	  </tr>
	  <tr>
			  <td><label>Restaurent type</label></td>
			  <td><input type="text" value="<%=@vendor.restaurent_type%>" disabled="disabled" class = 'grid_6 alpha' style="width:40%;margin:0 0 10px 0;padding:0;" /></td>	
    </tr>
	</table>
	</form>
<%end%>
