<script>

 $(document).ready(function(){
  
$("#selectall").click(function(){
$("#noticefor").find('option').each(function() {
			$(this).attr('selected', 'selected');
		});

});
  
	$("#exercisetips, #mealnotifications").css("display","none");

	$("#notification_notification_type").change(function(){ 

	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Food")
	{
	$("#exercisetips").css("display","none");
	$("#mealnotifications").css("display","block");

	}
	else if (type=="Activity")
	{
	$("#mealnotifications").css("display","none");
	$("#exercisetips").css("display","block");

	}
	else
	{
	$("#exercisetips, #mealnotifications").css("display","none");
	}


	});

});



function submitform()
{
	if ($("#noticefor").find("option:selected").text()=='')
	{
	alert("Please select recepients.");
	return false;		
	}
	else if ($("#notificationFrequency_").find("option:selected").text()=='')	
	{
	alert("Notification frequency field cannot be empty.");
	return false;		
	}
	else if ( $("#message").val()=='')	
	{
	alert("Message frequency field cannot be empty.");
	return false;		
	}
   else
   {
   
	type=$("#notification_notification_type").find("option:selected").text();

	if (type=="Activity")
	{
		 if ($("#excercises").find("option:selected").text()=='')	
	{
	alert("Excercises field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}

	}
	else if (type=="Food")
	{
		 if ($("#meals").find("option:selected").text()=='')	
	{
	alert("Meals field cannot be empty.");
	return false;		
	}
	else
	{
     notification_new.submit();
	}
	}
	else
	{
     $("#notification_new").submit();
	}
   
  }
 
}
</script>
		<div class="grid_5 ">
			<p id="user-name" class="grid_5" style="font-size:1.5em;"><%= current_vendor.business_name %></p>
			<div class="profile-avatar avatar"><%= image_tag(current_vendor.photo.url(:profile)) %></div>
			<div class="sidebar-container" style="">



			<div class="clear">&nbsp;</div>
			<ul id="user-settings-tabs">
			<li class="vendor-class">
			<%if current_vendor%>
			<%= link_to 'Add MyWeightWorld Users', usersearch_vendors_path%>                
			</li>
			<li class="vendor-class">
			<%= link_to 'Add a Member', addmember_vendors_path%>
			</li>                
			<li class="vendor-class">
			<%= link_to 'Members List', memberlist_vendors_path%>
			</li> 
			<li class="vendor-class">
			<%= link_to 'Notification Settings', vendorNotificationsNew_vendors_path%>
			</li> 

			</ul>
			<%end%>
			</div>
		</div>


<br><br><%#= link_to 'Back', :back, :style=>"margin-left:5%;" %><br><br>




<div style="margin-left:26em;">



 <h1>New Notification</h1>
  <hr><br />
<%= form_for(@notification, :as => :notification, :url => admin_notifications_path, :html => {:multipart => true} ) do |f| %>

	<%=f.hidden_field :notificationTo, :value=>"User"%>
	<%=f.hidden_field :notificationable_type, :value=>"Admin"%>
	<%=f.hidden_field :notificationable_id, :value=>"#{current_vendor.id}"%>  
 

<div style="width:30em;">
<span class="help-text">Multiple select holding CTRL key</span><br>
	<%= f.label :notificationToId, "Notification To:" %> 
	<%=select_tag 'notificationToId[]', options_for_select(@members.map {|s| ["#{s.first_name} "+ "#{s.last_name}", s.email]}), :multiple => true, :size => 3, :id=>"noticefor", :style=>"width:10em;margin-bottom:-1em;margin-left:3em;"%>

<input type="button" value="Select all" class="button grid_3" id="selectall" style="float:right;height:24px;font-size:8pt;width:6em;padding:0;margin-top:2em;"/> </div>

<br><br>


    <%= render :partial => 'admin/notifications/form', :locals => {:f => f} %>
<% end %>

  
</div>

