
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
<script>

 $(document).ready(function(){
   if (CKEDITOR.instances['notification_message']) {
       CKEDITOR.remove(CKEDITOR.instances['notification_message']);}
       
      CKEDITOR.replace( 'notification_message', {
     toolbar: [
           //['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print', 'SpellChecker', 'Scayt'],
           //['Cut','Copy','Paste','PasteText','PasteFromWord'],
           ['Cut','Copy','Paste', 'SpellChecker'],
           ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
           ['ImageButton'],//['Form','Checkbox','Radio','TextField','Textarea','Select','Button','ImageButton','HiddenField'],
           //'/',
           ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
           //['NumberedList','BulletedList','-','Outdent','Indent','Blockquote','CreateDiv'],
           ['NumberedList','BulletedList','-','Outdent','Indent'],
           ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
           //['BidiLtr', 'BidiRtl'],
           ['Link','Unlink','Anchor'],
           //'/',
           //['Styles','Format','Font','FontSize'],
           ['Format','FontSize'],
           ['TextColor','BGColor'],
           //['Maximize','ShowBlocks','-','About']
           ['Maximize']
     ],
     height: 100,
       	width: 500
     });
});

</script>

         <div class="grid_5 ">
          <p id="user-name" class="grid_5" style="font-size:1.5em;"><%= current_vendor.business_name %></p>
          <div class="profile-avatar avatar"><%= image_tag(current_vendor.photo.url(:profile)) %></div>
			 <div class="sidebar-container" style="">



			 <div class="clear">&nbsp;</div>
			               <ul id="user-settings-tabs">
                <li class="vendor-class">
 			<%if current_vendor%>
                  <%= link_to 'Add MyWeightWorld Users', usersearch_vendors_path%>                
                </li>
                <li class="vendor-class">
                  <%= link_to 'Add a Member', addmember_vendors_path%>
                </li>                
                <li class="vendor-class">
                  <%= link_to 'Members List', memberlist_vendors_path%>
                </li> 
                <li class="vendor-class">
                  <%= link_to 'Notification Settings', vendorNotificationsNew_vendors_path%>
                </li> 

              </ul>
			<%end%>
			 </div>

			 </div>


<br><br><%#= link_to 'Back', :back, :style=>"margin-left:5%;" %><br><br>




<div style="margin-left:26em;">
  <h1>Create Notification</h1>
  <hr><br />
  <%= form_for(@notification, :as => :notification, :url => admin_notifications_path, :html => {:multipart => true} ) do |f| %>
 
     <%=f.hidden_field :notificationTo, :value=>"User"%>
    <%#=f.hidden_field :notificationable_type, :value=>"Admin"%>
    <%=f.hidden_field :notificationable_id, :value=>"#{current_vendor.id}"%>  
 

  <p>
    <%= f.label :notificationToId,  %Q{Notification To: <span class="help-text">(Multiple select holding CTRL key)</span> }.html_safe %>

    
    <br />
	<%=select_tag 'notificationToId[]', options_for_select(@members.map {|s| ["#{s.first_name} "+ "#{s.last_name}", s.email]}), :multiple => true, :size => 7, :id=>"noticefor",:style=>"width:10em;"%>

  </p>


 <p>
 <%= f.label :notification_type, "Notification type:" %>
 <%=f.select   :notification_type, options_for_select([ ['Lunch','lunch' ],['Dinner','dinner' ] ,['Breakfast','breakfast' ], ['Goal','goal' ] ,['Protein','protein' ]   ]) %> 
  
 </p> 
   <br/>  
   
   
 <p>
 <%=f.label  :notificationFrequency, %Q{Every: <span class="help-text">(Multiple select holding CTRL key)</span> }.html_safe %><br/>
 <%=select_tag  'notificationFrequency[]', options_for_select([ ['1 day','1.day' ],['2 day','2.days' ] ,['3 day','3.days' ], ['weekely','7.days' ] ,['Bi weekely','14.days' ] ,['monthly','30.days' ] ]),:multiple => true, :size => 5 %> 
  
 </p>
  <br/>  



<p>
 <%=f.label  "At:"%>
  <%= select_tag "time", options_for_select([["6am", "6:00 am"], ["7am", "7:00 am"], ["8am", "8:00 am"], ["9am", "9:00 am"], ["10am", "10:00 am"], ["11am","11:00 am"], ["12pm","12:00 pm"], ["1pm", "1:00 pm"], ["2pm", "2:00 pm"], ["3pm", "3:00 pm"], ["4pm", "4:00 pm"], ["5pm", "5:00 pm"], ["6pm", "6:00 pm"], ["7pm", "7:00 pm"], ["8pm", "8:00 pm"], ["9pm", "9:00 pm"], ["10pm", "10:00 pm"], ["11pm", "11:00 pm"], ["12am", "12:00 am"], ["1am", "1:00 am"], ["2am", "2:00 am"], ["3am", "3:00 am"], ["4am","4:00 am" ], ["5am", "5:00 am"]])%>

<p></br>
   
  <p>
    <%= f.label :message, "Message:" %><br/><br/>
    <%= f.text_area :message , :style=>"width:10em;"%>

  </p>
 <br/><br/>

 <p>
 <%=f.label :turnOnNotification, "Turn on" %>
 <%=f.check_box  :turnOnNotification %> 
  
 </p>

  <br/>  
      
    <p>
      <%= f.submit 'Create Notification' %> | <%= link_to 'Cancel', admin_notifications_path %>
    </p>
  <% end %>
  
</div>

