<!-- declare variable for calculation -->
<%
	calorie_tot=carbs_tot=fat_tot=protein_tot=grand_total_calorie=grand_total_carbs=grand_total_fat=grand_total_protein=0
%>
<style type="text/css">
p{
	font-weight:bold;
}
</style>
<!---<script type="text/javascript" src="/assets/jquery.js"></script>-->
<script type="text/javascript">
			var currentDt="";
			$(function() {
				$( "#wkDt" ).datepicker( {minDate: -93, maxDate: "+0D" });
				$( "#wkDt" ).datepicker({showOtherMonths: true,selectOtherMonths: false});
				$( "#wkDt" ).datepicker("option", "dateFormat",'yy-mm-dd' );
				$("#ui-datepicker-div").wrap('<div style="position:absolute;left:0;top:-3em;"></div>');
			});

			function prevDate()
			{
				var today="";
				if(document.getElementById("wkDt").value=="Today")
				{
					dt=currentDt;
				}
				else
				{
					dt=document.getElementById("wkDt").value;
				}
				today = new Date(dt);	//document.getElementById("wkDt").value
				var msecPerDay = 24 * 60 * 60 * 1000;
				
				var yesterday = new Date(today.getTime() - msecPerDay);
				day=yesterday.getDate();
				month=yesterday.getMonth()+1;
				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				document.getElementById("wkDt").value=yesterday.getFullYear()+"-"+month+"-"+day;
			}
			function currentDate()
			{
				var today = new Date();
				day=today.getDate();
				month=today.getMonth()+1;

				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				<% 
						if !meals[0].nil? 
							ate=(meals[0].ate_on).strftime("%Y-%m-%d")
						else
							ate="Today"
						end
						if ate==DateTime.now.strftime("%Y-%m-%d")
							ate="Today"
						end
				%>
				var dt="<%=ate%>";

				document.getElementById("wkDt").value=dt;
				currentDt=today.getFullYear()+"-"+month+"-"+day;
			}
			function nextDate()
			{
				var today="";
				if(document.getElementById("wkDt").value=="Today")
				{
					dt=currentDt;
				}
				else
				{
					dt=document.getElementById("wkDt").value;
				}
				today = new Date(dt);	//document.getElementById("wkDt").value
				var msecPerDay = 24 * 60 * 60 * 1000;
				
				var tomorrow = new Date(today.getTime() + msecPerDay);
				day=tomorrow.getDate();
				month=tomorrow.getMonth()+1;

				if(tomorrow>new Date())
				{
					alert("Date cannot be greater then current date");
					return;
				}
				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				document.getElementById("wkDt").value=tomorrow.getFullYear()+"-"+month+"-"+day;
			}
		window.onload = function () {
				currentDate(); //set current date in add meal date field(wdDt2) 
}
</script>
<%=form_tag '/meals/data' do %>
  <div style="margin:1% 0 0 -3%;background:#fff;height:auto;width:98%;padding-right:1%;margin-bottom:2%;">
    <!--breakfast section starts-->
		<table width="95%" style="border-spacing:1px;border-collapse:separate;">
			<tr>
				<td><h1 style="margin:1% 0;padding:0;">Your Food Diary: </h1></td>
				<td width="40%">
					<span class="button" onclick="prevDate()">&lt;</span>
					<input class="today" type="text" style="margin-top:0;height:27px;margin-left:0;margin-right:0;" value="" id="wkDt" name="ate_on" />
					<span class="button" onclick="nextDate()">&gt;</span>
				</td>
				<td>
					<input type="submit" class="button" onclick="javascript:if(document.getElementById('wkDt').value==''){alert('please enter a date (yyyy-mm-dd) format'); document.getElementById('wkDt').focus(); return false;}" id="workoutsDate" style="height:30px;background-color:#0B2B42;color:#fff;" value=Submit /></td>
			</tr>
		</table>

    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr style="background-color:#09F;color:#fff;font-weight:bold;text-align:center;">
        <th width="70%" style="background-color:#fff;color:#F60;font-weight:bold;text-align:left;font-size:18px;">Breakfast</th>
        <td width="9%" style="padding-top:5px;">Calories</td>
        <td width="7%" style="padding-top:5px;">Carbs</td>
        <td width="7%" style="padding-top:5px;">Fat</td>
        <td width="7%" style="padding-top:5px;padding-right:5px;">Protien</td>
      </tr>
			<% if meals 
					meals.each do |m|
						if m.meal_type.downcase=="breakfast"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td style="text-align:left" width="70%"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td><%=calory%></td>
        <td><%=m.carbohydrt%></td>
        <td><%=m.total_fat%></td>
        <td><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;font-weight:bold;">Quick Tools</a>--></td>
		    <td><%=calorie_tot%></td>
		    <td><%=carbs_tot%></td>
		    <td><%=fat_tot%></td>
		    <td><%=protein_tot%></td>
		    <td></td>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
      </tr>
    </table>
    <!--breakfast section ends-->
 <hr/>   
    <!--Lunch section starts-->
    <table width="100%" bgcolor="#fff" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Lunch</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="lunch"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style="text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
						calory=m.energ_kcal
						end
				%>
        <td width="9%" style="padding-top:5px;"><%=calory%></td>
        <td width="7%" style="padding-top:5px;"><%=m.carbohydrt%></td>
        <td width="7%" style="padding-top:5px;"><%=m.total_fat%></td> 
        <td width="7%" style="padding-top:5px;"><%=m.protein%></td>
				<td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
						<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--Lunch section end-->
 <hr/>    
    <!--Dinner section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Dinner</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="dinner"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style="text-align:left;"><%=m.name%></td>
<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
						calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
						<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
</table>
    <!--Dinner section end-->
 <hr/>     
    <!--Snacks section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Snacks</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="snacks"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--Snacks section end-->
  <hr/>

<!--morning snack section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Morning Snack</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="morning snack"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--morning snack section end-->
  <hr/>

<!--afternoon snack section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Afternoon Snack</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="afternoon snack"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--afternoon snack section end-->
  <hr/>

<!--evening snack section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Evening Snack</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="evening snack"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--evening snack section end-->
  <hr/>


<!--midnight snack section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Midnight Snack</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="midnight snack"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--midnight snack section end-->
  <hr/>


<!--pre-workout snack section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Pre-Workout</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="pre-workout"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--pre-workout section end-->
  <hr/>


<!--post-workout section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Post-Workout</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="post-workout"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--post-workout section end-->
  <hr/>


<!--unclassified section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">Unclassified</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="unclassified"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--unclassified snack section end-->
  <hr/>


<!-- 12am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">12 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="12am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--12am section end-->
  <hr/>

<!-- 1am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">1 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="1am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--1am section end-->
  <hr/>


<!-- 2am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">2 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="2am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--2am section end-->
  <hr/>


<!-- 3am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">3 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="3am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--3am section end-->
  <hr/>


<!-- 4am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">4 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="4am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--4am section end-->
  <hr/>


<!-- 5am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">5 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="5am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--5am section end-->
  <hr/>


<!-- 6am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">6 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="6am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--6am section end-->
  <hr/>


<!-- 7am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">7 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="7am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--7am section end-->
  <hr/>


<!-- 8am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">8 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="8am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--8am section end-->
  <hr/>


<!-- 9am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">9 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="9am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--9am section end-->
  <hr/>


<!-- 10am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">10 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="10am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--10am section end-->
  <hr/>

<!-- 11am section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">11 Am</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="11am"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--11am section end-->
  <hr/>

<!-- 12pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">12 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="12pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--12pm section end-->
  <hr/>

<!-- 1pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">1 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="1pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
 				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--1pm section end-->
  <hr/>


<!-- 2pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">2 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="2pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--2pm section end-->
  <hr/>


<!-- 3pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">3 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="3pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--3pm section end-->
  <hr/>


<!-- 4pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">4 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="4pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
 				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--4pm section end-->
  <hr/>


<!-- 5pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">5 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="5pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--5pm section end-->
  <hr/>


<!-- 6pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">6 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="6pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--6pm section end-->
  <hr/>


<!-- 7pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">7 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="7pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--7pm section end-->
  <hr/>


<!-- 8pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">8 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="8pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--8pm section end-->
  <hr/>


<!-- 12pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">9 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="9pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--9pm section end-->
  <hr/>


<!-- 10pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">10 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="10pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>
 				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--10pm section end-->
  <hr/>


<!-- 11pm section starts-->
    <table width="100%" style="border-spacing:1px;border-collapse:separate;">
      <tr>
        <th colspan="6" style="color:#F60;font-weight:bold;text-align:left;font-size:18px;">11 Pm</th>
      </tr>
			<% if meals
					meals.each do |m|
						if m.meal_type.downcase=="11pm"%>
      <tr style="background-color:#CEECF5;text-align:center;">
        <td width="70%" style=";text-align:left;"><%=m.name%></td>

 				<% 
						if m.name.downcase=="custom calories"
							calory=m.calories
						else
							calory=m.energ_kcal
						end
				%>
        <td width="9%"><%=calory%></td>
        <td width="7%"><%=m.carbohydrt%></td>
        <td width="7%"><%=m.total_fat%></td> 
        <td width="7%"><%=m.protein%></td>
        <td><%= link_to image_tag("/assets/delete.png"),"/users/#{current_user.id}/meals/#{m.meal_id}",:confirm=>'Are You Sure?', :method=>:Delete %></td>
				<% if meals
					calorie_tot+=calory.to_f
					carbs_tot+=m.carbohydrt.to_f
					fat_tot+=m.total_fat.to_f
					protein_tot+=m.protein.to_f
				
					#grand total		
					grand_total_calorie+=calory.to_f
					grand_total_carbs+=m.carbohydrt.to_f
					grand_total_fat+=m.total_fat.to_f
					grand_total_protein+=m.protein.to_f
					
					end
				%>
      </tr>
			<%end end end%>
      <tr style="text-align:center;">
		    <td width="68%" style="color:#09C;text-align:left;"><a href="/meals/new" style="color:blue;font-weight:bold;">Add Food</a><!--|<a href="#" style="color:blue;font-weight:bold;">Quick Tools</a>--></td>
		    <td width="9%"><%=calorie_tot%></td>
		    <td width="7%"><%=carbs_tot%></td>
		    <td width="7%"><%=fat_tot%></td>
		    <td width="7%"><%=protein_tot%></td>
      </tr>
				<!-- set field empty for next calculation-->
				<%calorie_tot=carbs_tot=fat_tot=protein_tot=0%>
    </table>
    <!--11pm section end-->
  <hr/>

	<!--Total section starts-->

  <table width="50%" style="border-spacing:1px;border-collapse:separate;margin-left:50%;">
      
  <tr style="font-weight:bold;text-align:center;">
    <td style="text-align:right;width:28%;">Totals</td>
    <td width="9%" style="padding-left:2%;"><%=grand_total_calorie%></td>
    <td width="7%" style="padding-left:2%;"><%=grand_total_carbs%></td>
    <td width="7%" style="padding-left:3%;"><%=grand_total_fat%></td>:
    <td width="7%" style="padding-left:3%;"><%=grand_total_protein%></td>
  </tr>
 <!-- <tr style="font-weight:bold;text-align:center;">
    <td style="text-align:right;width:29%;">Your Daily Goals</td>
    <td width="9%">70</td>
    <td width="7%">9</td>
    <td width="7%" style="padding-left:5%;">3</td>
    <td width="7%" style="padding-left:5%;">1</td>
  </tr>
  <tr style="font-weight:bold;text-align:center;">
    <td width="90" style="text-align:right;width:29%;">Remaining</td>
    <td width="9%">70</td>
    <td width="7%">9</td>
    <td width="7%" style="padding-left:5%;">3</td>
    <td width="7%" style="padding-left:5%;">1</td>
  </tr>-->
  <tr style="color:#fff;font-weight:bold;text-align:center;">
    <th width="90" style="color:#F60;font-weight:bold;text-align:left;"></th>
    <td width="9%" style="background-color:#09F;padding:5px 0 5px 0;">Calories</td>
    <td width="7%" style="background-color:#09F;padding:5px 0 5px 0;">Carbs</td>
    <td width="7%" style="background-color:#09F;padding:5px 10px 0 5px;">Fat</td>
    <td width="7%" style="background-color:#09F;padding:5px 0 0 0;">Protien</td>
  </tr>
</table>
    <!--Total section ends-->
<!--<div style="padding-left:4%;">
	<b>When you're finished logging all foods and exercise for this day click here:</b> <a href="#" style="color:#fff;background-color:#0B2B42;float:right;padding:.6%;font-weight:bold;text-decoration:none;">Complete This Entry</a>
</div>-->
</div>
<%end%>
