<div class="grid_1">
  <%= user_avatar_image current_user, :small %>
</div>

<div class="grid_7">
  <p><span class="bold"><%= meal.meal_type %></span> - <%= meal.note %></p>
  
  <ul class="grid_7 alpha omega meal-items">
    <% meal.meal_items.each do |meal_item| %>
      <li><%= truncate(meal_item.food.name, :length => 55) %> <span class="meal-item-calories"><%= meal_item.calories %></span></li>
    <% end %>
    <li>&nbsp;</li>
    <li class="bold">Total Calories <span class="meal-total-calories"><%= meal.total_calories %></span></li>
  </ul>
  
  <p>
    <%= meal.ate_on.strftime("%I:%M %p") %> &middot; 
    <%= link_to 'Edit', edit_meal_path(meal) %> &middot; 
    <%= link_to 'Delete', meal_path(meal), :method => :delete, :confirm => "Are you sure you want to delete this meal?" %></p>
</div>

<% unless @meals.last == meal %><hr class="grid_8 omega day_seperator"/><% end %>

<div class="clear"></div>