<!-- Tracking Show -->
<div class="full">
  <div class="grid_12">
    <h3>Hey <%= current_user.first_name %>, what did you eat?</h3>
    
    <% form_tag "/meals/meal_item", :id => 'meal-new-item' do %>
      <%= hidden_field_tag :food_id, "" %>
      <div id="meal-entry">
        <table>
          <tbody>
            <tr>
              <td class="food_name"><%= label_tag 'Food' %></td>
              <td ></td>
              <td></td>
            </tr>
            <tr>
              <td style="width: 350px; padding-right: 0px"><%= text_field_tag :food, "", :id => 'food-item-entry', :title => "Try one or more keywords" %></td>
              <td style="padding-left: 0px">
                <div id="add-meal-item" class="button" style="width: 162px;">Add This To The Meal</div>
              </td>
              <td ><%#= select_tag :unit, options_for_select(Meal::UNITS), :id => 'unit-entry' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      
      <% form_for @meal, :html => {:id => 'meal'} do |meal_form| %>
        <table>
          <tbody id="meal-items">
            <% meal_form.fields_for :meal_items do |meal_item_form| %>
              <%= render :partial => 'meal_items/meal_item_fields', :locals => { :meal_item_form => meal_item_form } %>
            <% end %>
          </tbody>
        </table>
        
        
        <div class="clear"></div>
      </div>
      
      <div style="padding: 15px;">
        <br/>
        
        <%= text_field_tag "meal[ate_on_date][date]", ate_on_start_date, :id => "calendar-box" %>
        
        <div id="selected-date-help"><span class="bold">Was the date of the meal today?</span> Feel free to edit the date of this meal.</div>
        
        <div class="clear"></div>
        <br/>
        
        <p>
          <%= label_tag 'Meal Time' %><br/>
          <%= select_tag "meal[ate_on_date][time][hour]",     
                         options_for_select((1..12).map{|n| "%02d" % n}, meal_form.object.ate_on.try(:strftime, "%I").to_i) %>:
          <%= select_tag "meal[ate_on_date][time][minute]",   
                         options_for_select((0..59).map{|n| "%02d" % n}, meal_form.object.ate_on.try(:strftime, "%M").to_i) %>&nbsp;
          <%= select_tag "meal[ate_on_date][time][meridian]", 
                         options_for_select(['AM', 'PM'], meal_form.object.ate_on.try(:strftime, "%p")) %>
        </p>
        
        <p>
          <%= meal_form.label :meal_type %><br/>
          <%= meal_form.select :meal_type, options_for_select(Meal::TYPES, params[:meal_type]) %>
        </p>
        
        <p>
          <%= meal_form.label :note, 'Meal Note' %><br/>
          <%= meal_form.text_area :note %>
        </p>
        
        <p>
          <%= meal_form.submit @meal.new_record? ? "Save This Meal" : "Update This Meal" %>
        </p>
      </div>
    <% end %>
  </div>
  
  <div class="grid_4">
    &nbsp;
    
  </div>

</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('#food-item-entry').labelify({ labelledClass: "labelHighlight" });
    $('#calendar-box').datepicker();
    
    $('#food-item-entry').autocomplete({
      source: "/foods/search",
      minLength: 2,
      select: function(evt, ui){
        $("#food_id").val(ui.item.id);
      }
    });
    
    $("#add-meal-item").click(function(evt){
      var form = $("form#meal-new-item");
      
      if( $("#food_id").val() == "" ){
        alert("Please choose a food item");
      }else{
        $.post("<%= meal_item_meals_path() %>", form.serialize() )
      }
      

      return false;
    });
    
    $("#meal").submit(function(evt){
      var form = $("form#meal-new-item");
      var min_possible_quantity = (0.25 * $(".meal-item-quantity").length) / 2;
      
      // ensure a quantity and measure has been provided for every item added to the meal, before we allow submitting
      if( _.inject($(".meal-item-quantity"), function(memo, num){ return memo + parseFloat($(num).val()); }, 0) < min_possible_quantity || 
          _.any($(".meal-item-units"),    function(el){ return $(el).val() == ""}) ){
        alert("Please make sure all food items have a serving amount and measure before submitting the meal");
        return false;
      }
    });
    
    $(".remove_ajax_meal_item").live('click', function(evt){
      evt.preventDefault();
      $(this).closest('tr').detach();
    });
  <% end %>
</script>