<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript">
			var currentDt="";
			$(function() {
			$( "#wkDt" ).datepicker( {minDate: -93, maxDate: "+0D" });
					$( "#wkDt" ).datepicker({showOtherMonths: true,selectOtherMonths: false});
					$( "#wkDt" ).datepicker("option", "dateFormat",'yy-mm-dd' );
					$("#ui-datepicker-div").wrap('<div style="position:absolute;left:0;top:-3em;"></div>');
			});

			function prevDate()
			{
				var today="";
				if(document.getElementById("wkDt").value=="Today")
				{
					dt=currentDt;
				}
				else
				{
					dt=document.getElementById("wkDt").value;
				}
				today = new Date(dt);	//document.getElementById("wkDt").value
				var msecPerDay = 24 * 60 * 60 * 1000;
				
				var yesterday = new Date(today.getTime() - msecPerDay);
				day=yesterday.getDate();
				month=yesterday.getMonth()+1;
				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				document.getElementById("wkDt").value=yesterday.getFullYear()+"-"+month+"-"+day;
			}
			function currentDate()
			{
				var today = new Date();
				day=today.getDate();
				month=today.getMonth()+1;

				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				document.getElementById("wkDt").value="Today"
				currentDt=today.getFullYear()+"-"+month+"-"+day;
			}
			function nextDate()
			{
				var today="";
				if(document.getElementById("wkDt").value=="Today")
				{
					dt=currentDt;
				}
				else
				{
					dt=document.getElementById("wkDt").value;
				}
				today = new Date(dt);	//document.getElementById("wkDt").value
				var msecPerDay = 24 * 60 * 60 * 1000;
				
				var tomorrow = new Date(today.getTime() + msecPerDay);
				day=tomorrow.getDate();
				month=tomorrow.getMonth()+1;

				if(tomorrow>new Date())
				{
					alert("Date cannot be greater then current date");
					return;
				}
				if(day<10)
				{
					day="0"+day;
				}
				if(month<10)
				{
					month="0"+month;
				}
				document.getElementById("wkDt").value=tomorrow.getFullYear()+"-"+month+"-"+day;
				currentDt=tomorrow.getFullYear()+"-"+month+"-"+day;
			}
			function setVal(val)
			{
				//to set value in hidden field for meal and calories to check which form time(when) goes
				document.getElementById("meal_cal").value=val;
			}
</script>

<style type="text/css">
.notice{
  background-color:lightgreen;
	text-align:center;
	border:2px solid green;
  border-radius:4px;
  -moz-border-radius:4px;
  width:90%;
  height:20px;
}
.ajaxAutoComplete{
	background-color:#fff;
	border:1px solid black;
  width:90%;
  height:250px;
	display:none;
	position:absolute;
	top:80%;
	left:2.3%;
	overflow:scroll;
	z-index:300;
}
.gridHeader{
	background-color:#fff;
	border:1px solid black;
  width:90%;
  height:25px;
	display:none;
	position:absolute;
	top:57%;
	left:2.3%;
	z-index:300;
}
.but {
	background-color:#F60;
	font-weight:bold;
	text-align:center;
	border:1px solid #003;
	border-radius:3px;
	-moz-border-radius:3px;
}
label.meal {
		font-size:18px;
		}
.grid_11{
	width:700px;
}
</style>

<% if session[:fd_name] %>
	
<div class="flash">
	<div class="notice">
			<%=session[:fd_name]%> food successfully added.
		</div>
	</div>
<%end%>
<!-- destroy session-->
<%	session[:fd_name]=nil; %>
<div class="full">
  <div class="grid_12" style="width:760px;"><br><br>

<%=form_tag '/meals/', :id=> 'meal-new-item' do %>
	<h3 style="float:left;padding-right:3em;">Hey <%= current_user.first_name %>, what did you eat?</h3>

		<!-- date picker add -->
		<div style="float:left;margin:0;padding:0;width:31%;">
			<!--<b>Add meal date: </b>-->
			<span style="float:left;" class="button" onclick="prevDate()">&lt;</span>
			<input style="float:left;" class="today" type="text" value="" id="wkDt" name="ate_on" />
			<span style="float:left;" class="button" onclick="nextDate()">&gt;</span>
		</div>
	<br><br><br>

	<input id="food_id" type="hidden" value="" name=meal[food_id]>
  <input id="energ_kcal" type="hidden" value="" name=meal[energ_kcal]>
	<input id="meal_cal" type="hidden" value="" name="meal_cal">	<!-- this field for check which time goes meal or calories -->
	 <div id="meal-entry" style="position: relative;width:87%;">
		<!--<span class="titl">Calorie Chart, Nutrition Facts for Food</span><br>	-->
		<table border="0" id="foodTable" style="width:100%;">	<!--id="left_table" -->
			<!--<tr>
				<td><hr color="#81DAF5" size="3"></td>
			</tr>			
			<tr>
				<td><span class="srch"><%= label_tag 'Search our food database by name' %></span></td>
			</tr>-->
			<tr>
				<td style="width:50em;">
							<!--
					<%#= text_field_tag :food, "", :id => 'food-item-entry', :title => "Try one or more keywords",:style=>'width:220px;margin-top:1%;height:15px;float:left;' %>
					<!-- my autocomplete grid -->					
					<!--<%#= text_field_tag :food, "", :id => 'food-item-entry1', :title => "Try one or more keywords",:style=>'width:220px;margin-top:1%;height:15px;float:left;' %>
					<%= image_tag "ajax-loader.gif", :id => 'ajax-spinner' %>
					<div id="add-meal-item" class="button" style="font-size:12px;margin-top:1%;width: 15%;float:left;">Search</div>
					<span style="float:left;"><%= link_to 'Add Custom Food', '/custom_foods/new/', :style=>'font-size:10px;color:blue;' %></span>
					<div id="ajaxAutoComplete" class="ajaxAutoComplete"></div>-->

					<div style="float:left;width:16em;">
						<label class="meal">Food/ Beverage</label><br />
						<input id="food-item-entry1" type="text" value="" style='width:75%;margin-top:1%;height:15px;margin-right:3%;float:left;padding:5px;margin-bottom:0;' name=meal[food-item-entry1]>
						<br><br><a href='#' id="showHideCalorieData" style='font-size:12px;color:blue;'>Enter calories manually</a>
						<br><a href='/custom_foods/new/' style='font-size:12px;color:blue;'>Add Custom Food</a>
					</div>


					<div style="float:left;width:12em">
							<label class="meal">How much?</label><br />
							<input type=text name=meal[serving] id = 'gmwt_desc1' style='width:23px;margin-top:1%;height:15px;margin-right:10px;float:left;padding:5px;margin-bottom:0;'>	
							<input type=text name=meal[units] id = 'serings', style='width:70px;margin-top:1%;height:15px;margin-right:10px;float:left;padding:5px;margin-bottom:0;'>
							<div class="clear"></div>
							<label style="font-size:12px;font-weight:normal;margin-left:12%" id="serving_name"></label>
						</div>

						
						<div style="float:left;">
							<label class="meal">When?</label><br/>
							<select name="meal_type1" id="meal_type" onchange=setVal('meal') style="width:90px;height:28px;margin-top:0;padding:1px;border: 1px solid #1D5C88;">
							<!--<option value="breakfast">breakfast</option>
							<option value="morning snack">morning snack</option>
							<option value="lunch">lunch</option>
							<option value="afternoon snack">afternoon snack</option>
							<option value="dinner">dinner</option>
							<option value="evening snack">evening snack</option>
							<option value="midnight snack">midnight snack</option>
							<option value="pre-workout">pre-workout</option>
							<option value="post-workout">post-workout</option>
							<option value="snacks">snacks</option>
							<option value="unclassified">unclassified</option> -->
							<option value="12am">12am</option>
							<option value="1am">1am</option>
							<option value="2am">2am</option>
							<option value="3am">3am</option>
							<option value="4am">4am</option>
							<option value="5am">5am</option>
							<option value="6am">6am</option>
							<option value="7am">7am</option>
							<option value="8am">8am</option>
							<option value="9am">9am</option>
							<option value="10am">10am</option>
							<option value="11am">11am</option>
							<option value="12pm">12pm</option>
							<option value="1pm">1pm</option>
							<option value="2pm">2pm</option>
							<option value="3pm">3pm</option>
							<option value="4pm">4pm</option>
							<option value="5pm">5pm</option>
							<option value="6pm">6pm</option>
							<option value="7pm">7pm</option>
							<option value="8pm">8pm</option>
							<option value="9pm">9pm</option>
							<option value="10pm">10pm</option>
							<option value="11pm">11pm</option>
							</select>
						</div>


						<!-- calorie field add -->
						<!--<div style="float:left;width:11%;">
							<label class="meal">Calories</label><br>
							<input id="food_calorie" type="text" value="" style='width:60px;margin-top:1%;height:15px;margin-right:10px;float:left;padding:5px;margin-bottom:0;' name=meal[calories]>
						</div>-->

						<!-- add meal button -->
						<div style="float:left;padding-top:.5%;margin-left:1%;"><br/>
							<input type="submit" id="add-meal" value="Add Meal" onclick="javascript:if(document.getElementById('food_id').value==''){alert('please select a meal'); document.getElementById('food-item-entry1').focus(); return false;}" class="button" style="width:70px;height:33px;margin-left:-5%;">
						</div>


						<div class="clear"></div>


					<div id="gridHeader" class="gridHeader">
						<span style="padding-left:3%;padding-right:21%;float:left;font-weight:bold;">Food</span><span  style="padding-right:12%;float:left;font-weight:bold;">Serving Size</span><span style="padding-right:3%;float:left;font-weight:bold;">Calorie</span><span style="padding-right:4%;float:left;font-weight:bold;">Fat</span><span  style="padding-right:3%;float:left;font-weight:bold;">Carbs</span><span style="padding-right:2%;float:left;font-weight:bold;">Protein</span><span style="float:left;font-weight:bold;">Fiber</span>
						</div>

						<div id="ajaxAutoComplete" class="ajaxAutoComplete"></div>
				</td>
				
			</tr>
		<!--	<ul style="list-style:none;position:absolute;top:5%;">
				<li style="float:left;"><b>Food</b></li>
				<li style="float:left;"><b>Serving Size</b></li>
				<li style="float:left;"><b>Calories</b></li>
				<li style="float:left;"><b>Fat</b></li>
				<li style="float:left;"><b>Carbohydrate</b></li>
				<li style="float:left;"><b>Protein</b></li>
				<li style="float:left;"><b>Fiber</b></li>
		</ul>
			<!--<span id="food-list" class='autocomplete_grid'></span>
				<!--<tr>
				<td>
					<span>Matching Foods:</span>
					<span class="mdm_size"><b>Sort by: </b>Relevance<input type="radio" name="srt_by" value="off" />
					Name<input type="radio" name="srt_by" value="on" checked /></span> 
				</td>
			</tr>-->
			<!--<tr>
				<td>
					<select name="food_list" multiple="multiple" style="width:53%;height:150px;background-color:white;">
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						
					</select>
				</td>
			</tr>
			<tr>
				<td class="sml">*= Nutritional information provided by another MyFitnessPal member</td>
			</tr>-->
		</table>


		<!-- calorie table -->
		<table border="0" id="calorieTable" style="width:100%;display:none;">	<!--id="left_table" -->
			<tr>
				<td>
					<div style="float:left;width:26%;">
						<label class="meal"># Calories</label><br />
						<input id="food_calorie" type="text" value="" style='width:75%;margin-top:1%;height:15px;margin-right:3%;float:left;padding:5px;margin-bottom:0;' name="meal[calories]">
						<br><a href='#' id="showHideCalorieData1" style='font-size:12px;color:blue;'>Search food</a>
					</div>


					<div style="float:left;">
							<label class="meal">Note (optional)</label><br />
							<input type=text name="meal[note]" id = 'note' style='margin-top:1%;height:15px;margin-right:10px;float:left;padding:5px;margin-bottom:0;'>
					</div>


					<div style="float:left;">
							<label class="meal">When?</label><br/>
							<select name="meal_type2" id="calories_type" onchange=setVal('calories') style="width:110px;height:28px;margin-top:0;padding:1px;border: 1px solid #1D5C88;">
							<!--<option value="breakfast">breakfast</option>
							<option value="morning snack">morning snack</option>
							<option value="lunch">lunch</option>
							<option value="afternoon snack">afternoon snack</option>
							<option value="dinner">dinner</option>
							<option value="evening snack">evening snack</option>
							<option value="midnight snack">midnight snack</option>
							<option value="pre-workout">pre-workout</option>
							<option value="post-workout">post-workout</option>
							<option value="snacks">snacks</option>
							<option value="unclassified">unclassified</option>-->
							<option value="12am">12am</option>
							<option value="1am">1am</option>
							<option value="2am">2am</option>
							<option value="3am">3am</option>
							<option value="4am">4am</option>
							<option value="5am">5am</option>
							<option value="6am">6am</option>
							<option value="7am">7am</option>
							<option value="8am">8am</option>
							<option value="9am">9am</option>
							<option value="10am">10am</option>
							<option value="11am">11am</option>
							<option value="12pm">12pm</option>
							<option value="1pm">1pm</option>
							<option value="2pm">2pm</option>
							<option value="3pm">3pm</option>
							<option value="4pm">4pm</option>
							<option value="5pm">5pm</option>
							<option value="6pm">6pm</option>
							<option value="7pm">7pm</option>
							<option value="8pm">8pm</option>
							<option value="9pm">9pm</option>
							<option value="10pm">10pm</option>
							<option value="11pm">11pm</option>
							</select>
						</div>


						<div style="float:left;padding-top:.5%;margin-left:3%;"><br/>
							<input type="submit" id="add-meal" value="Add Meal" onclick="javascript:if(document.getElementById('food_id').value==''){alert('please select a meal'); document.getElementById('food-item-entry1').focus(); return false;}" class="button" style="width:90%;height:33px;margin-left:-5%;">
						</div>
				</td>
			</tr>
		</table>
		</div>
  <%end%>
  
  <%= form_for @meal, :html => {:id => 'meal'} do |meal_form| %>
    <table>
      <tbody id="meal-items" style="<%= @meal.new_record? ? 'display:none;' : '' %>">
        <!--<tr>
          <td class="bold">Food</td>
          <td class="bold" style="padding-right: 10px;">KCals</td>
          <td class="bold"># of Servings</td>
          <td class="bold">Serving Size</td>
<td class="bold">Nutritional Facts</td>
        </tr>-->
        <% meal_form.fields_for :meal_items do |meal_item_form| %>
        test
          <%#= render :partial => 'meal_items/meal_item_fields', :locals => { :meal_item_form => meal_item_form } %>
        <% end %>
      </tbody>
    </table>
    
    <div class="clear"></div>
  </div>
  	
 <!-- <div class="grid_11">
    <br/>
    
    <div id="calendar-box-wrapper" class="alpha">
      <%= text_field_tag "meal[ate_on_date][date]", ate_on_start_date(meal_form.object), :id => "calendar-box" %>
    </div>
    
    <div id="selected-date-help">
      <span class="bold">Was the date of the meal?</span> Feel free to edit the date of this meal.
    </div>
    
    <div class="clear"></div>
    <br/>
    
    <p>
      <%= label_tag 'Meal Time' %><br/>
      <%= select_tag "meal[ate_on_date][time][hour]",
                     options_for_select((1..12).map{|n| ["%02d" % n, n]}, meal_form.object.ate_on.try(:strftime, "%I").to_i) %>:
      <%= select_tag "meal[ate_on_date][time][minute]", 
                     options_for_select((0..59).map{|n| ["%02d" % n, n]}, meal_form.object.ate_on.try(:strftime, "%M").to_i) %>&nbsp;
      <%= select_tag "meal[ate_on_date][time][meridian]", 
                     options_for_select(['AM', 'PM'], meal_form.object.ate_on.try(:strftime, "%p")) %>
    </p>
    
    <p>
      <%= meal_form.label :meal_type %><br/>
      <%= meal_form.select :meal_type, options_for_select(Meal::TYPES, meal_form.object.meal_type) %>
    </p>
    
    <p>
      <%= meal_form.label :note, 'Meal Note' %><br/>
      <%= meal_form.text_area :note, :class => 'grid_6 alpha' %>
      <div class="clear"></div>
    </p>
    
    <p>
      <%= meal_form.submit @meal.new_record? ? "Save This Meal" : "Update This Meal" %> | 
      <%= link_to "Cancel", :back %>
    </p>
  </div>
<% end %>-->
	</div>
</div>
<script type="text/javascript" charset="utf-8">
window.onload = function () {
			document.getElementById("food-item-entry1").value="";
			document.getElementById("gmwt_desc1").value="1";
			document.getElementById("serings").value="";
			document.getElementById("food_id").value="";
			document.getElementById("energ_kcal").value="";
			currentDate(); //set current date in add meal date field(wdDt) 
		 }	//when page load clear the textfield
function selectedRow(rw)
{
	rw.style.background="#A9BCF5";
}
function unSelectedRow(rw)
{
	rw.style.background="#E6E6E6";
}
function getTdVal(mid)
{
	foodGridTable=document.getElementById('FoodGridTable');
	document.getElementById("food-item-entry1").value=foodGridTable.rows[document.getElementById(mid).rowIndex].cells[0].innerHTML;
	servingSize=foodGridTable.rows[document.getElementById(mid).rowIndex].cells[1].innerHTML;
	document.getElementById("serving_name").innerHTML=servingSize;
	
	document.getElementById("gmwt_desc1").value=servingSize.replace(/^\s+/,"").split(" ")[0];
	document.getElementById("serings").value=servingSize.substring(servingSize.replace(/^\s+/,"").split(" ")[0].length+1,servingSize.length).replace(/\s+$/,"");

	document.getElementById("food_id").value=mid;
	document.getElementById("energ_kcal").value=foodGridTable.rows[document.getElementById(mid).rowIndex].cells[2].innerHTML;
	if(document.getElementById("energ_kcal").value=="")
	{
		document.getElementById("energ_kcal").value="0.0";
	}
	document.getElementById("ajaxAutoComplete").style.display="none";
	document.getElementById("gridHeader").style.display="none";
}
</script>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
	jQuery("#food-item-entry1").keyup(function() {
			data=$("#food-item-entry1").val();			
			if(data.length>2 && data!="")
			{
				$.ajax({
            type : "GET",
            url : '/foods/search/?term='+$("#food-item-entry1").val(),
            dataType : "html",
            success: function(data) {
						//parse json data
						obj=jQuery.parseJSON(data);
            $("#ajaxAutoComplete").html(dataGrid(obj));
						$("#ajaxAutoComplete").css("display","block");
						$("#gridHeader").css("display","block");
					
						/*if(document.getElementById("right_table")!=null)
						{
							$("#ajaxAutoComplete").css("top","45%");
							$("#gridHeader").css("top","25%");
						}
						else
						{
							$("#ajaxAutoComplete").css("top","89%");
							$("#gridHeader").css("top","76%");
						}*/

            },
            error : function() {
             // $("#dt").html("Sorry, The requested property could not be found.");
							alert("Sorry, The requested property could not be found.");
            }
          });
			}
			else
			{
				//for hide show meal(food) grid 
				$("#ajaxAutoComplete").css("display","none");
				$("#gridHeader").css("display","none");
			}
});
// for hide ajax grid which show when enter food name in Food/ Beverage field
$(".full").click(function(){
		$("#ajaxAutoComplete").css("display","none");
		$("#gridHeader").css("display","none");
});

// for calorie table show and hide
$("#showHideCalorieData, #showHideCalorieData1").click(function(){
		if($("#calorieTable").css("display")!="none")
		{
			$("#calorieTable").css("display","none");
			$("#foodTable").css("display","block");
			document.getElementById('food_id').value="";	//for avoide validation error
		}
		else
		{
			$("#calorieTable").css("display","block");
			$("#foodTable").css("display","none");
			document.getElementById('food_id').value=0; //for avoide validation error
		}
});
function dataGrid(ojb)
{
	data="<table id='FoodGridTable' bgcolor='#E6E6E6' style='width:100%;'>";
	row="";
	for(i=0;i<obj.length;i++)
	{									
			row+="<tr style='height:30px;font-size:12px;' id="+obj[i].id+" onmouseover='selectedRow(this)' onclick=getTdVal('"+obj[i].id+"') onmouseout='unSelectedRow(this)'>"+tCols(obj[i].value);
	}
	foodname = document.getElementById("food-item-entry1").value;
	row += "<tr'><td colspan='6'><a href='/custom_foods/new/"+foodname+"'>\"Can\'t find an item? Add a new item to our database</a>!</td></tr>"; 
	data+=row+"</table>";
	
	return data;
}
function tCols(colData)
{
	cols=colData.split('**');
	col="";
	for(j=0;j<cols.length;j++)
	{
		if(cols[j].trim()=="")
		{
			cols[j]="N/A";
		}
		if(j==0)
		{
				col+="<td style='width:32%;text-align:left;'>"+cols[j].substring(0,25);+"</td>";
		}
		else if(j==1)
		{
			col+="<td style='width:22%;text-align:left;'>"+cols[j]+"</td>";
		}
		else
		{
			
			col+="<td style='width:9%;text-align:left;padding:0 0 0 9px'>"+cols[j]+"</td>";
		}
	}
	return col+"</tr>";
}
   
	 $('#food-item-entry').labelify({ labelledClass: "label-highlight" });
    $('#calendar-box').datepicker();
    
    $("#meal-new-item").keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
    
    $('#food-item-entry').autocomplete({
      source: "/foods/search",
      minLength: 2,
      select: function(evt, ui){
        $("#food_id").val(ui.item.id);
      },
      open: function(event, ui){
        var foodname = document.getElementById("food-item-entry").value;
	
        var url = "<a href='/custom_foods/new/"+foodname+"'>\"Can\'t find an item? Add a new item to our database</a>!"; 
        var last_item = $("<li></li>").append(url)
        	$("ul.ui-autocomplete.ui-menu").append(last_item);
      }
    });

    $("#add-meal-item").click(function(evt){
      var form = $("form#meal-new-item");
			if($("#meal-items").css("display")=="table-row-group")
			{
					$("#meal-items").html("");
			}
      if( $("#food_id").val() == "" ){
        alert("Please choose a food item");
      }else{
        $.post("<%= meal_item_meals_path() %>", form.serialize() )
      }
      return false;
    });
    
    $("#meal").submit(function(evt){
      var form = $("form#meal-new-item");
      var min_possible_quantity = (0.25 * $(".meal-item-quantity").length) / 2;
      
      // ensure a quantity and measure has been provided for every item added to the meal, before we allow submitting
      if( _.inject($(".meal-item-quantity"), function(memo, num){ return memo + parseFloat($(num).val()); }, 0) < min_possible_quantity || 
          _.any($(".meal-item-units"),    function(el){ return $(el).val() == ""}) ){
        alert("Please make sure all food items have a serving amount and measure before submitting the meal");
        return false;
      }
    });
    
    $(".remove_ajax_meal_item").live('click', function(evt){
      evt.preventDefault();
      $(this).closest('tr').fadeOut('slow', function(){
        $(this).detach();
      });
    });
    
    $("#meal-items select").live('change', function(evt){
      var row = $(this).closest('tr');
      var inputs = row.find("input, select");
      $.post("<%= meal_item_calories_foods_path %>", inputs.serialize(), function(data){
        row.find("td.calories").html(data["calories"]);
      });
    });
  <% end %>
</script>
