<div id="sign-in-form" class="push_4 grid_7">
  
  <h2>Sign In</h2>
  
  <div class="content">
    <%= render :partial => '/shared/flash', :locals => {:flash => flash} %>
    
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email, :class => 'grid_6', :autofocus => 'autofocus' %>
        <div class="clear">&nbsp;</div>
      </p>
      
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password, :class => 'grid_6' %>
        <div class="clear">&nbsp;</div>
      </p>
      
      <div style="float: right;"><%= render :partial => "devise/shared/links" %></div>
      
      <% if devise_mapping.rememberable? -%>
        <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
      <% end -%>
      
      
      
      <button class="button grid_2" type="submit">
        Sign In
      </button>
    <% end %>
    
    <div class="clear">&nbsp;</div>
  </div>
  
  
</div>
