<link href="/assets/style_v4.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.even { background: #E6EEEE; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
select#meta_page{
width:185px;
height:30px;
}
</style>

<script type="text/javascript">
  <%content_for :js do%>
    $("table tbody tr").mouseover(function(){
      $(this).css("background-color","#ccc");
    }).mouseout(function(){
      $(this).css("background-color","");
    });
     
    $("#meta_page").change(function(){
    $("#hide1, #hide2").hide();
    page=$(this).val();
    selected=$(this).find("option:selected").text();
    if (page=="")
    {
     $("#meta_title, #keywords, #description, #url").val("");
    return false;
    }  
    if (selected=="Video Show") 
    {
       $("#hide1").show();
      page=$("#videos").val();			
    } 
    
    if (selected=="Article Show") 
    {
       $("#hide2").show();
      page=$("#articles").val();			
    }     
    
      
    	$.get("/admin/meta/"+page,
   		function(data){
     			$("#meta_title").val(data.metatitle);
     			$("#keywords").val(data.keywords);
     			$("#description").val(data.description);     			
     			$("#url").val(data.url);     			     			     			
   	},"json");

    }); 



    $("#videos").change(function(){
             page=$("#videos").val();
    	$.get("/admin/meta/"+page,
   		function(data){
     			$("#meta_title").val(data.metatitle);
     			$("#keywords").val(data.keywords);
     			$("#description").val(data.description);     			
     			$("#url").val(data.url);     			     			     			
   	},"json");
    }); 


    $("#articles").change(function(){
             page=$("#articles").val();
    	$.get("/admin/meta/"+page,
   		function(data){
     			$("#meta_title").val(data.metatitle);
     			$("#keywords").val(data.keywords);
     			$("#description").val(data.description);     			
     			$("#url").val(data.url);     			     			     			
   	},"json");
    }); 
    
    
    $("#editbutton").click(function(){
    page=$("#meta_page").val();
    if (page=="")
    	{alert("Please select a page.");
    		return false;
    	}
    selected=$("#meta_page").find("option:selected").text();
    if (selected=="Video Show")
		 {
		 page=$("#videos").val();			
		 }
    if (selected=="Article Show")
		 {
		 page=$("#articles").val();			
		 } 		     
    var answer = confirm("Do you want to save?")
	if (answer)
	{
					 $.ajax({
				  	 type: "PUT",
				  	 url: "/admin/meta/"+page,
					 data: { metatitle: $("#meta_title").val(), keywords: $("#keywords").val(), description: $("#description").val(), url: $("#url").val().trim().replace(/\s/g , "-").replace(/[^\w\-\_\’\/]+/g, '') }
						  }).done(function( msg ) {
					 alert( msg);
					 parent.location.reload();
	  $("#meta_page, #meta_title, #keywords, #description,#url").val("");			 
  
					});
    }
    else
    {
		return false;
	} 
 });      
 <%end%>
 
</script>
<div style="margin-left:20%;">
  
  <br/>

<%#= select_tag 'meta_page', options_from_collection_for_select(Meta.where("controller like 'Videos'"),"id","page"),:prompt=>"Select a page", :style=>"height:30px;width:265px;margin-top:2em;"%>



   <%#= page_entries_info(@metas) %>
    <%#= paginate(@vendors, :params => pagination_params(request)) %>  
            

<%#= link_to 'Add New Page', new_admin_metum_path()%> 
  <br/><br/>

  <table class="border_grey" style="width:150%;">
    <!--<thead>
      <tr class="head-table">
        <th>Category</th>
        <th>Page</th>
        <th>Meta title</th>
        <th>Keywords</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>-->
    <tbody>
      <%# @meta.each do |meta| %>
        <tr class="<%= cycle('odd', 'even') %>">
        			<tr>
				<td colspan="2"><h2 style="font-size:20px;align:center;background-color:#0B2B42;">Page Meta Manager</h2></td>
			</tr>
			<tr>
          <!--<td><%#= link_to exercise.description, edit_admin_exercise_path(exercise) %></td>-->
          <td style="font-size:16px;color:#0B2B42;padding:30px 0px 30px 30px;">Page: </td>
          <td><%= select_tag 'meta_page', options_from_collection_for_select(Meta.where("controller not like 'VideosLibrary' and controller not like 'ArticlesLibrary'"),"id","page"),:prompt=>"Select a page", :style=>"height:30px;width:265px;margin-top:2em;"%> <input type="button" id="editbutton" class="button grid_3" name="editbutton" style="height:29px;font-size:10pt;width:6em;padding:0;float:right;margin-top:2em;margin-right:1.8em;" value=" SAVE " /></td>

        </tr>

			<tr style="display:none;" id="hide1">	
          <td style="font-size:16px;color:#0B2B42;padding:0px 0px 30px 30px;" >Select a video: </td>
          <td><%= select_tag 'videos', options_from_collection_for_select(Meta.where("controller like 'VideosLibrary'"),"id","page"), :style=>"height:30px;width:265px;margin-top:0em;"%></td>
        </tr>     
        
			<tr style="display:none;" id="hide2">	
          <td style="font-size:16px;color:#0B2B42;padding:0px 0px 30px 30px;" >Select an article: </td>
          <td><%= select_tag 'articles', options_from_collection_for_select(Meta.where("controller like 'ArticlesLibrary'"),"id","page"), :style=>"height:30px;width:265px;margin-top:0em;"%></td>
        </tr> 

			<tr>
				<td style="font-size:16px;color:#0B2B42;padding:15px 0px 40px 30px;">Meta title:</td>
				<td><%= text_area_tag 'meta_title',"", :style=>"height:40px;width:450px;"%></td>
			</tr>
			<tr>
				<td style="font-size:16px;color:#0B2B42;padding:15px 0px 70px 30px;">Keywords:</td>
				<td><%= text_area_tag 'keywords', "", :style=>"height:70px;width:450px;"%></td>
			</tr>
			<tr>
				<td style="font-size:16px;color:#0B2B42;padding:15px 15px 50px 30px;">Description:</td>
				<td><%= text_area_tag 'description',"", :style=>"height:40px;width:450px;"%></td>
			</tr>
			<tr>
				<td style="font-size:16px;color:#0B2B42;padding:15px 15px 50px 30px;">Url:</td>
				
				<td >http://www.myweightworld.com/&nbsp;&nbsp;<%= text_field_tag 'url',"", :style=>"width:275px;"%></td>
			</tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
      <%# end %>
    </tbody>
  </table>

</div>
