<style type="text/css">
.even { background: #E6EEEE; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
</style>

<script type="text/javascript">
  <%content_for :js do%>
    $("table tbody tr").mouseover(function(){
      $(this).css("background-color","#ccc");
    }).mouseout(function(){
      $(this).css("background-color","");
    });
          
  <%end%>
</script>

<h2 style="font-size:20px;align:center;background-color:#0B2B42;width:40em;">Meta details</h2>

     <table border="0" width="70%" style="margin-left:10em;background-color:#FFFFFF;border:1px solid;">
		<tbody>
			<tr>        
				<td colspan="2" >
					<h1 style="margin-top:-1px;background-color:#0B2B42;padding:5px;text-align:center;color:#FBF2EF;">Meta Info</h1>
				</td>
			</tr>

			<tr>
	 			<td style="padding:15px 25px;font-size:15px;" valign="top">Category:</td>
	 			<td style="padding:15px 15px;font-size:15px" valign="top"><%= @meta.controller%></td>
			</tr>


	<tr>
	 <td style="padding:15px 25px;font-size:15px" valign="top">Page:</td>

	 <td style="padding:15px 15px;font-size:15px" valign="top">
    <%= @meta.page%>
	</td>
	</tr>



	<tr>
	 <td style="padding:15px 25px;font-size:15px" valign="top">Meta title:</td>

	 <td style="padding:15px 15px;font-size:15px" valign="top">
<%=@meta.metatitle%>
	</td>
	</tr>


		<tr>
		<td style="padding:15px 25px;font-size:15px" valign="top">Keywords:</td>

		<td style="padding:15px 15px;font-size:15px" valign="top">
		<%=@meta.keywords%>
		</td>
		</tr>


	<tr>
	 <td style="padding:15px 25px;font-size:15px" valign="top">Description:</td>

	 <td style="padding:15px 15px;font-size:15px" valign="top">
<%=@meta.description%>
	</td>
	</tr>


	</tbody>
</table>

