<% form_tag searches_path , :id => 'content-search' do %>
  <%= hidden_field_tag :category_id, (params[:search] ? params[:search][:keywords] : ''), :id => 'category-id' %>
  
  <p>
    <%= label_tag 'Search' %><br/>
    <%= text_field_tag 'search[keywords]', (params[:search] ? params[:search][:keywords] : ''), :id => 'search-keywords', :class => 'grid_8 alpha' %>
    <button class="button grid_3" type="submit" style="margin: 11px 0px 0px 8px; height:37px; font-size: 13pt;">
      <%= image_tag 'delete.png' %>
      Search
    </button>
    <span class="clear"></span>
  </p>
  
  <% if defined?(@posts) && defined?(@videos) %>
    <%= select_tag 'search[filter]', options_for_select([['All Results', 'all']]), :style => "position: absolute" %>
    <div id="results-summary"><span id="count"><%= @total %> results</span> for "<%= params[:search][:keywords] %>"</div>
  <% end %>
<% end %>

<hr/>

<% if defined?(@results) %>
  <% if @results.empty? %>
    <p>No results were found for your keywords.</p>
  <% else %>
    <ul id='search-results'>
      <%= render :partial => 'result', :collection => @results %>
    </ul>
  <% end %>
<% end %>