<p>
  <b>Possible fields we can make editable: </b><%= f.object.class.column_names.join(', ') %>
</p>

<p>
  <%= f.label :description %><br/>
  <%= f.text_field :description, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :category %><br/>
  <%= f.text_field :category, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>

<p>
  <%= f.label :mets, 'METS' %><br/>
  <%= f.text_field :mets, :class => 'grid_6 alpha' %>
  <span class="clear"></span>
</p>