
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/assets/lightbox.css" rel="stylesheet" type="text/css" />
<link href="/assets/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/jquery1.js"></script>
<script type="text/javascript" src="/assets/jquery.lightbox-0.5.min.js"></script>


<script type="text/javascript">

$(function() {

$('#gallery a').lightBox();

});

</script>
<style type="text/css">
.submit_button,select {
    display: inline-block;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    padding: 3px 10px;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    line-height: 10px;
    color: #595959;
    font-weight: bold;
}

</style>

<h3 align="center">Photos</h3>
		
		
			<% if current_user && current_user.id == params[:id].to_i %>
				<div style="margin-top:0%;width:100%;margin-bottom:1%;margin-left:22%;padding:1%;">
					 <%= form_for @photo1, :url => photos_path, :multipart => true do |f| %>
						  	<%= f.label 'Upload Photo' %><br/>
			
							<%= f.file_field :photo %>
							<%= f.select :before_after, [['User photo','user_photo'],['Photo after measurment','after'],['Photo before measurment','before']] %>
							<%= f.submit 'Upload', :class=>"submit_button"%>
							<% end %></div>
		<% end %>

<div id="showPhotosBeforeAfterMultiple" style="margin-left:23%;">
<%= link_to "All photos", photo_path(@user_id)%>,
<%= link_to "Show Before measurement photo", "/photos/#{@user_id}/before" %>,
<%= link_to "Show After measurement photo", "/photos/#{@user_id}/after"%>
</div>


<div id="wrapper" style="overflow:auto;height:38em;width:75em;margin-left:5%;">

<div id="gallery" >
<% @photo.each do |f| %>
<div class="holder">

<div class="thumb"> <a href="<%=f.photo.url %>" title="pics"><img src="<%=f.photo.url(:large	) %>" width="140" height="120" alt="building thumb" /></a></div> 
<!-- end thumb class -->

<div class="title">
Created on: <%= f.created_at.strftime("%m-%d-%Y") %>

</div> <!-- end title class -->

</div> 
<% end %>	
<br class="clearFloat"/>	
</div> <!-- end gallery div -->
</div> <!-- end wrapper div -->

