<div id="<%= dom_id(comment) %>" class="comment">
  <%= user_avatar_image(comment.user, :small, 'float: left;') %>
  <div class="body grid_7">
    <span class="bold"><%= comment.user.username %></span>&nbsp;&nbsp;<%= comment_post_date(comment) %><br/>

    <%= comment.comment %>
  </div>
  <div class="clear"></div>
</div>

