<h2>Articles</h2>

<%= paginate @posts %>

<hr class="hor-rule">
<%= render :partial => 'post', :collection => @posts %>

<%= paginate @posts %>

<% content_for :sidebar do %>
  <!-- Categories  -->
  <div id="search-categories-sidebar" class="sidebar-container subsection" >
    <h4 class="sidebar-subheader">Categories</h4>

    <p>We have an extensive library to help you with many facets of fitness and wellness - peruse by category</p>

    <ul id="search-categories">
      <li>
        <%= link_to 'All', searches_path %>
      </li>
      <%= render :partial => '/searches/post_category', :collection => @categories, :as => :category %>
    </ul>

    <div class="clear">&nbsp;</div>
  </div>
<% end %>