<h2>Articles</h2>

 <%= form_tag searches_path , :id => 'content-search' do %>
 <p>
<%= label_tag 'Search' %><br/>
    <%= text_field_tag 'search[keywords]', (params[:search] ? params[:search][:keywords] : ''), :id => 'search-keywords', :class => 'grid_8 alpha', :title => "Search our wellness library" %>
    <button id="search" class="button grid_3" type="submit" style="margin: 11px 0px 0px 0px; height:37px; font-size: 13pt; width: 104px">
      <%= image_tag 'search.png' %>
      Search
    </button>
    <span class="clear"></span>
  </p>
 
<% if defined?(@search) %>
<%=@search%>
    <%= select_tag 'search[filter]', options_for_select(ContentSearch::FILTERS, @search.filter), :id => 'search-filter', :style => "position: absolute" %>
    
    <div id="results-summary">
      <span id="count"><%= @total %> results</span>
      <% if params[:search] && params[:search][:keywords].present? %>
        for "<%= params[:search][:keywords] %>"
      <% end %>
      
      <% if @search.subcategory %>
        in <%= @search.subcategory.name %>
      <% end %>
      
      <% if @search.filter && !@search.filter.eql?('all')%>
        (only <%= @search.filter %>)
      <% end %>
    </div>
  <% end %>
<% end %>

<hr/>

<% if defined?(@results) %>
  <% if @results.empty? %>
    <p>No results were found for your keywords.</p>
  <% else %>
    <%= paginate @results %>
    
    <ul id='search-results'>
      <%= render :partial => 'result', :collection => @results %>
    </ul>
    
    <%= paginate @results %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    jQuery("#search-categories a").click(function(evt){
      evt.preventDefault();
      $("#category-id").val($(this).attr("data-id"));
      jQuery("#content-search").trigger("submit");
    });
    
    jQuery("#search-filter").change(function(evt){
      jQuery("#content-search").trigger("submit");
    });
    
    // TODO: Use this?
    // jQuery("#search-filter").selectBox();
  <% end %>
</script>






<%= paginate @posts %>

<hr class="hor-rule">
<%= render :partial => 'post', :collection => @posts %>

<%= paginate @posts %>

<% content_for :sidebar do %>
  <!-- Categories  -->
  <div id="search-categories-sidebar" class="sidebar-container subsection" >
    <h4 class="sidebar-subheader">Categories</h4>

    <p>We have an extensive library to help you with many facets of fitness and wellness - peruse by category</p>

    <ul id="search-categories">
      <li>
        <%= link_to 'All', searches_path %>
      </li>
      <%= render :partial => '/searches/post_category', :collection => @categories, :as => :category %>
    </ul>

    <div class="clear">&nbsp;</div>
  </div>
<% end %>
