<!-- new code added -->
<!--
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
-->

<style type="text/css">
  ul{
    list-style: none outside none;
    font: bold 10px Verdana,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
#menu2 {
    border-color: #D8D5D1;
    border-style: solid solid none;
    border-width: 1px;
    margin: 10px;
    width: 200px;
}
#menu2 li a {
    height: 24px;
    text-decoration: none;
}
/*#3688BA;*/
#menu2 li a:link, #menu2 li a:visited { 
    background: url("/assets/menu2.gif") repeat scroll 0 0 transparent;
    color: #A4A4A4;
    display: block;
    padding: 8px 0 0 30px;
}
#menu2 li a:hover {
    background: url("/assets/menu2.gif") repeat scroll 0 -32px transparent;
    color: #3688BA;
    padding: 8px 0 0 32px;
}

</style>
	
<script>
  function setActive(id)
  {
    $("#1").css("color","#A4A4A4");
    $("#2").css("color","#A4A4A4");
    $("#3").css("color","#A4A4A4");
    $("#4").css("color","#A4A4A4");
    $("#5").css("color","#A4A4A4");
    $("#6").css("color","#A4A4A4");
    $("#7").css("color","#A4A4A4");    
    $("#"+id).css("color","#3688BA");

  }
	//new added code for take data different pages
	/*function take_new_old_item(loc,tab,whichfile,type)
	{
	//alert(loc+"::"+tab);return false;
	  loc=(type=="partial") ? loc : loc+"?terms="+type;

    $.ajax({
  		type : "GET",
  		url : loc,
  		dataType : "html",
      success: function(data) {
      //alert(data);
      //return false;
      data=cutData(data,whichfile,type);
      $("#"+tab).html(data);
		  },
      error : function() {
			  alert("Sorry, page not found.");
      }
    });
    
    return false;
	 }
	 
	 function cutData(data,whichfile,type)
	 {
	    if(whichfile=="old_items")
	    {
	      data=data.substring(data.indexOf("Store")-(("<ul><li><a href='/old_items'>").length+8),data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
	    else if(whichfile=="admin-user")
	    {
	      data=data.substring(data.indexOf(">Back</a>")-("<a href='/admin/'>Back</a>").length,data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
	    else if(whichfile=="admin-food" && type!="partial") //this is for search food
	    {
	      data=data.substring(data.indexOf(">Back</a>")-("<a href='/admin/' style='color:orange;'>Back</a>").length,data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
	    else if(whichfile=="admin-food")
	    {
	      data=data.substring(data.indexOf(">Back</a>")-("<a href='/admin/' style='color:orange;'>Back</a>").length,data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
	    else if(whichfile=="admin-exercise" && type!="partial")
	    {
	      data=data.substring(data.indexOf(">Back</a>")-("<a href='/admin/' style='color:orange;'>Back</a>").length,data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
	    else if(whichfile=="admin-exercise")
	    {
	      data=data.substring(data.indexOf(">Back</a>")-("<a href='/admin/' style='color:orange;'>Back</a>").length,data.lastIndexOf(">Back</a>")+(">Back</a>").length);
	    }
      //alert(data);
      return data;
	 }
	//end
	*/
	</script>
<div id="content" style="width:90em;">
  <div style="float:left;margin:4% 0 0 -15%;">
     <div id="menu2">
      <ul>
        <li><a href="<%=old_items_path%>" id="1" onclick="setActive('1')" target="dashboard_pages" title="Old My Weight World Uploads">Old My Weight World Uploads</a></li>
        <li><a href="<%=admin_users_path%>" id="2" onclick="setActive('2')" target="dashboard_pages" title="Users">Users</a></li>
        <li><a href="<%=admin_foods_path%>" id="3" onclick="setActive('3')" target="dashboard_pages" title="Foods">Foods</a></li>
        <li><a href="<%=admin_exercises_path%>" id="4" onclick="setActive('4')" target="dashboard_pages" title="Exercises">Exercises</a></li>
        <li><a href="<%=admin_posts_path%>" id="5" onclick="setActive('5')" target="dashboard_pages" title="Posts">Posts</a></li>
        <li><a href="<%=admin_businessclaims_path%>" id="6" onclick="setActive('6')" target="dashboard_pages" title="Claims">Business Claims</a></li>
     <li><a href="<%=admin_vendors_path%>" id="7" onclick="setActive('7')" target="dashboard_pages" title="Vendors">Vendors</a></li>
      </ul>
    </div>
   </div>
    <div style="float:left;margin-top:5%;">
        <iframe src="<%=old_items_path%>" id="dashboard_pages" scrolling="yes" id="frame" style="width:83em;height:35em;overflow-x: hidden;" name="dashboard_pages"></iframe>
    </div>
  </div>
<div class="clear"></div>
</div>
   <!--<div id="tabs-1" style="float:left;margin-top:-1%;">
		  <p><%#= render :partial=>'old_items/index'%></p>
	  </div>
	  <div id="tabs-2" style="float:left;">
		  <p><%#= render :partial=>'admin/users/tabDataUser'%></p>
    </div>
    <div id="tabs-3" style="float:left;">
		  <p><%#= render :partial=>'admin/foods/tabDataFood'%></p>
    </div>
     <div id="tabs-4" style="float:left;">
		  <p><%#= render :partial=>'admin/exercises/tabDataExercise'%></p>
     </div>
     <div id="tabs-5" style="float:left;">
		  <p><%#= render :partial=>'admin/posts/tabDataPost'%></p>
     </div>-->

<p style="margin-left:18%;margin-top:1%;"><%= link_to 'Return to Profile', user_path(current_user) %></p>

<!-- 
<%# if notice %>
  <div class="flash">
    <h2><%#=notice%></h2>
  </div>
<%#end%>
-->
<!-- new code end -->

<!--
<p><%#= link_to 'Return to Profile', user_path(current_user) %></p>
<br />
<p><%#= link_to 'Old My Weight World Uploads', old_items_path %></p>
<p><%#= link_to 'Users', admin_users_path %></p>
<p><%#= link_to 'Foods', admin_foods_path %></p>
<p><%#= link_to 'Exercises', admin_exercises_path %></p>
<p><%#= link_to 'Posts', admin_posts_path %></p>
-->
