<div class="clear">&nbsp;</div>

<p><%= link_to 'Return to Profile', user_path(current_user) %></p>
<br />
<p><%= link_to 'Users', admin_users_path %></p>
<p><%= link_to 'Foods', admin_foods_path %></p>
<p><%= link_to 'Exercises', admin_exercises_path %></p>
<p><%= link_to 'Posts', admin_posts_path %></p>