
<style type="text/css">
.even { background: #E6EEEE; }
.odd { background: #cccccc; }
.head-table{background: #ccc; }
input:-moz-placeholder {
      color: grey;
}
</style>
<script type="text/javascript">
  <%content_for :js do%>
    $("table tbody tr").mouseover(function(){
      $(this).css("background-color","#ccc");
    }).mouseout(function(){
      $(this).css("background-color","");
    });

    $('.sort-table').tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            6: { 
                // disable it by setting the property sorter to false 
                sorter: false }
	}

})
          
  <%end%>


</script>

<div class="grid_16" style="width: 1000px;">
  
  <br/>
    <h2 style="font-size:20px;text-align:center;background-color:#0B2B42;color:white;">Vendors</h2>


<div style="float:left;">  
  <form id="vendorform" method='get' action="<%=admin_vendors_path%>">
  <input type="hidden" id="status" name="status" value="true">
  <button style="width:95px;background-color:#2E8DC0;" onclick=submit()>Restaurants</button> 
  </form>
</div>

<div style="float:left;">    
    <form id="vendorform" method='get' action="<%=admin_vendors_path%>">
  <input type="hidden" id="status" name="status" value="false">
  <button style="width:95px;background-color:#2E8DC0;" onclick=submit()>Vendors</button>
  </form></div>

<!--
<div style="float:right;">    
  <button style="width:95px;background-color:#2E8DC0;" onclick="document.location='<%=admin_vendors_search_path()%>'">Search</button> 
</div>

</br></br>-->

<div style="float:right;">
  <%= form_tag(admin_vendors_search_path) do %>
    <%= text_field_tag 'filterQuery', '', :placeholder=>"Name, email, business name..", :id => 'filterQuery', :style => "height:1.3em;width:13em" %>
    <%= select_tag 'searchtype', options_for_select([["All","all"],["Restaurants","restaurants"],["Gym","gym"],["Nutritionist","nutritionist"],["Weight loss surgeons","weight_loss_surgeons"],["Physiologists","physiologists"],["Hospitals","hospitals"],["Law","law"],["Medical","medical"],["Plastic surgeon","plastic_surgeon"],["Spa","spa"],["Weight loss clinics","weight_loss_clinics"],["Weight loss doctors","weight_loss_doctors"]]), :id => 'searchtype', :style => "height:2.3em; width:8em;padding:5px;" %> 
 
    <%= submit_tag 'Search', :style => "height:2.2em;" %>
  <% end %>

</div>

  <% if params['terms'] && !params['terms'].blank? %>
    Displaying results for "<%= params['terms'] %>"<br/>
  <% end %>

<br/><br/>
   <%= page_entries_info(@vendors) %>  
   <%= paginate(@vendors, :params => pagination_params(request)) %>  
  
  <br/>

<%if @status=="true"%>

<table class="sort-table">
  <thead>
    <tr>
      <th class="header">#</th>
        <th class="header">Name</th>
        <th class="header">Vendor Type</th>
        <th class="header">Phone</th>
        <th class="header">Email</th>
		  <th class="header">Created on</th>		
        <th class="header">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @vendors.each_with_index do |vendor, index| %>
      <tr class="<%= cycle('even', 'odd') %>">
      <td><%= index + 1 %></td>
          <td><%=vendor.business_name%> </td>
          <td><%=vendor.vendor_type%> </td>
          <td><%=vendor.contact1%> </td>
          <td><%=vendor.email%> </td>
          <td><%=vendor.created_at.nil? ? "" : vendor.created_at.strftime("%m/%d/%Y")%> </td>			
                    <td class="actions">
           <%= link_to 'Details', admin_vendor_path(vendor.id)+"/restaurants"%> |
            <%= link_to 'Edit', "/admin/vendors/#{vendor.id}/edit/restaurants" %> |
            <%= link_to 'Delete', "/admin/vendors/#{vendor.id}/delete/restaurants", :confirm => 'Are you sure?', :method => :delete %>
	   </td>

    </tr>
  <% end %>
  </tbody>
</table>

<%else%>

<table class="sort-table">
  <thead>
    <tr>
      <th>#</th>
        <th>Name</th>
        <th>Vendor Type</th>
        <th>Phone</th>
        <th>Email</th>
		  <th>Created on</th>		
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @vendors.each_with_index do |vendor, index| %>
      <tr class="<%= cycle('odd', 'even') %>">
      <td><%= index + 1 %></td>
          <td><%=vendor.business_name%> </td>
          <td><%=vendor.vendor_type.split('_').join(' ')%> </td>
          <td><%=vendor.contact1%> </td>
          <td><%=vendor.email%> </td>
          <td><%=vendor.created_at.nil? ? "" : vendor.created_at.strftime("%m/%d/%Y")%> </td>			
                    <td class="actions">
		   <%= link_to 'Details', admin_vendor_path(vendor.id)%> |
		    <%= link_to 'Edit', "/admin/vendors/#{vendor.id}/edit/vendors" %> |
            <%= link_to 'Delete', "/admin/vendors/#{vendor.id}/delete/vendors", :confirm => 'Are you sure?', :method => :delete %>
	   </td>

    </tr>
  <% end %>
  </tbody>
</table>

 <%end%>
</div> 

  
<%#= paginate(@vendors, :params => pagination_params(request)) %>  

