<% unique_id = Time.now.to_i %>
<tr>
  <td class="exercise-name">
    <%= truncate(@exercise.try(:description), :length => 55) %>
  </td>
  <td class="calories">
    <%= @workout_item.calories %>
  </td>
  <td class="duration">
    <%= link_to image_tag('delete.png'), {}, :class => 'remove_ajax_meal_item delete' %>
    
    <%= @workout_item.duration %> (mins)
    <%= hidden_field_tag "workout[workout_items_attributes][#{unique_id}][duration]", @workout_item.duration %>
    <%= hidden_field_tag "workout[workout_items_attributes][#{unique_id}][exercise_id]", @exercise.id %>
  </td>
</tr>
