<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Departments: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  
  <style type="text/css" media="screen">
    ul {list-style:none;}
    li { float:left; padding: 5px;}
  </style>
</head>
<body>

<ul>
  <li><%= link_to 'Items', items_path %></li>
  <li><%= link_to 'Departments', departments_path %></li>
  <li><%= link_to 'Flash Files', flash_files_path %></li>
  <li><%= link_to 'Text Files', text_files_path %></li>
  <li><%= link_to 'Tips of the Day', tip_of_days_path %></li>
</ul>
<div style="clear:both;"></div>
<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
