<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <title>My Weight World Weight Loss Community</title>
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div id="wrap" class="full">
      <div id="main" class="full">
        <%= render :partial => 'layouts/header' %>
        
        <div class="full" id="homepage-blue-bg">
          <div class="container_16" style="margin-top: -2px; position: relative;">
          
            <div class="grid_5">
              <span style="display: inline-block; margin-top: 33px; line-height: 29px; color: #FFF; font-size: 25px; font-weight: bold; font: helvetica;">
                We're building a community for guidance in fitness & wellness.</span>
              
              <span style="display: inline-block; margin-top: 7px; color: #FFF; font-size: 18px; font: helvetica;">
                Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
            </div>
    
  <!--   <div class="grid_11">
              <%= image_tag 'screenshot.png', :style => 'display: block; margin-top: -5px;', :class => 'grid_10 alpha omega push_1' %>
            </div> -->

<div id="grid_11" class="grid_10 alpha omega push_1" style="padding-left:80px;">          
  <a style="display: block; width:500px; height: 300px; margin: 15px; " id="player" href="/flash/clippy.flv"><object width="100%" height="100%" type="application/x-shockwave-flash" data="/flowplayer-3.2.7.swf" id="player_api"><param value="true" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="high" name="quality"><param value="false" name="cachebusting"><param value="#000000" name="bgcolor"><param value="config={&quot;clip&quot;:{&quot;scaling&quot;:&quot;orig&quot;,&quot;autoPlay&quot;:true,&quot;url&quot;:&quot;/system/header.m4v?1319738021&quot;},&quot;playerId&quot;:&quot;player&quot;,&quot;playlist&quot;:[{&quot;scaling&quot;:&quot;orig&quot;,&quot;autoPlay&quot;:true,&quot;url&quot;:&quot;/system/header.m4v?1319738021&quot;}]}" name="flashvars"></object></a>
        </div> 
            
            <%= render :partial => 'large_orange_button', :locals => {:style => 'position: absolute; left:0px; top: 321px;'} %>
            <div style="clear:both">&nbsp;</div>
          </div>
        </div>
        
        <div class="full" style="background-color: #EBEBEB;">
          <div class="container_16">
            <div class="grid_16" style="font-style: helvetica; font-weight: bold; font-size: 1.5em; color: #09273b; margin-top: 65px; margin-bottom: 6px;">
              A community for guidance in fitness & wellness
            </div>
            <p class="grid_16" style="font-size: 14px;margin-bottom: 13px;">MyWeightWorld.com was developed by weight loss physicians, medical professionals, as well as non-medical people, who are passionate about helping people achieve their weight loss objectives.  We provide our members with resources unmatched in quality and value, yet retain a strong spirit of community.</p>
        
            <div class="clear"></div>
        
            <div class="  " style="display: inline; position: relative; float: left; width: 219px; margin-left: 9px; margin-right: 20px;">
              <%= link_to workouts_path do %>
                <div style="height: 17px; text-align: center; background-color: #0B2B42; padding: 12px 0px; color: #2E8EC1; font-style: helvetica; font-weight: bold; font-size: 1.1em;">
                  Track Food and Daily Activity
                </div>
                <div style="height: 158px; overflow:hidden;"><%= image_tag 'home-food-activity.jpg' %></div>
                <div style="height: 30px; background-color: #28739A; color: white; text-align: left; padding: 5px 11px; font-size: 12px;">Easily keep a log of daily calorie intake and track workouts.</div>
              <% end %>
            </div>
        
            <div class="  " style="display: inline; position: relative; float: left; width: 219px; margin-right: 20px;">
              <%= link_to posts_path do %>
                <div style="height: 35px; text-align: center; background-color: #0B2B42; padding: 3px 0px; color: #2E8EC1; font-style: helvetica; font-weight: bold; font-size: 1.1em;">Fitness, Medical &amp;<br/> Nutritional Support</div>
                <div style="height: 158px; overflow:hidden;"><%= image_tag 'home-fit-med.jpg' %></div>
                <div style="height: 30px; background-color: #28739A; color: white; text-align: left; padding: 5px 11px; font-size: 12px;">Read latest news and get healthy and nutritious recipes.</div>
              <% end %>
            </div>
        
            <div class="  " style="display: inline; position: relative; float: left; width: 219px; margin-right: 20px;">
              <%= link_to videos_path do %>
                <div style="height: 17px; text-align: center; background-color: #0B2B42; padding: 12px 0px; color: #2E8EC1; font-style: helvetica; font-weight: bold; font-size: 1.1em;">Video Library</div>
                <div style="height: 158px; overflow:hidden;"><%= image_tag 'home-vid.jpg' %></div>
                <div style="height: 30px; background-color: #28739A; color: white; text-align: left; padding: 5px 9px; font-size: 12px;">Watch interviews, follow recipes and interact with live TV segments.</div>
                <% end %>
            </div>
            
            <div class="  " style="display: inline; position: relative; float: left; width: 219px;">
              <%= link_to edit_metabolic_rates_path do %>
                <div style="height: 17px; text-align: center; background-color: #0B2B42; padding: 12px 0px; color: #2E8EC1; font-style: helvetica; font-weight: bold; font-size: 1.1em;">Create Your Goals</div>
                <div style="height: 158px; overflow:hidden;"><%= image_tag 'home-goals.jpg' %></div>
                <div style="height: 30px; background-color: #28739A; color: white; text-align: left; padding: 5px 9px; font-size: 12px;">
                  Lose weight, eat better, exercise more! Create and achieve your goals.
                </div>
              <% end %>
            </div>
          
          </div>
          
          <div style="clear:both">&nbsp;</div>
        <div style="clear:both; margin-bottom: 13px;">&nbsp;</div>
        <hr style="clear: both; margin: 21px auto 23px; width: 940px;">


         
        
         <div style="clear:both">&nbsp;</div>
        <div style="clear:both; margin-bottom: 13px;">&nbsp;</div>
        <hr style="clear: both; margin: 21px auto 23px; width: 940px;">

        
        
        
          <div id="homefeed" class="container_16">
            <h2 class="grid_8">Most Recent</h2>
            <h2 class="grid_8">Most Popular</h2>
            
                        
            <%= render :partial => 'post', :locals => {:post => @recent_posts.first } %>
            <%= render :partial => 'post', :locals => {:post => @popular_posts.first } %>
            
            <div style="clear:both">&nbsp;</div>
            
            <%= render :partial => 'post', :locals => {:post => @recent_posts.last } %>
            <%= render :partial => 'post', :locals => {:post => @popular_posts.last } %>
            
            <div style="clear:both">&nbsp;</div>
            
            <div style="clear:both; margin-bottom: 13px;">&nbsp;</div>
            
            <hr style="clear: both; margin: 21px auto 23px; width: 940px;" />
            <!-- Recent Members -->
            <div id="recent-members-wrapper" class="grid_8">
              <h2 class="member-and-content-header" style="margin-bottom: 23px; color: # 09273B; font-size: 1.5em; font-weight: bold;">Most Recent Members</h2>
              <div class="grid_4 alpha"><%= render :partial => '/users/recent_member', :collection => @recent_members.slice(0, 4), :as => :user %></div>
              <div class="grid_4 omega"><%= render :partial => '/users/recent_member', :collection => @recent_members.slice(4, 4), :as => :user %></div>
              <!--div style="clear:both"></div-->
            </div>
            
            <!-- div style="clear:both"></div-->
          </div>
          
          <div id="success" class="grid_9">
          
          <h2><span>SUCCESS STORIES</span></h2>
          <div id= "success_content">
            <%= image_tag 'home-success.jpg' %>
            <p><h3>FIRST TRIATHALON</h3>
              The night before my triathlon was a night of nervousness and readiness. I had my checklist in front of me and all of my equipment laid out on the floor.  I kept checking my list over and over again. I kept running through my transitions over and morning...</p>
          </div>
          
          <div style="clear:both">&nbsp;</div>
        </div>
      </div>
    </div>
    
    <%= render :partial => 'layouts/footer' %>
    
    <%= render :partial => "layouts/js_libs" %>
  </body>
</html>
