<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div class="header" class="full">
      <div class="small-nav full">
        <div class="container_16">
          <div id="sidebar-top" class="grid_5 sidebar-container">
            &nbsp;
          </div>
          <div class="grid_11">
            <%= render :partial => 'shared/session_menu_bar' %>
          </div>
          <div class="clear">&nbsp;</div>
        </div>
      </div>
      
      <div id="main-nav" class="full">
        <div class="main-nav container_16" style="position:relative;">

          <h2 id="logo" class="grid_5 sidebar-container"><%= link_to 'myweightworld', root_path %></h2>

          <div class="clear">&nbsp;</div>

          <div class="grid_5 sidebar-container main-nav-spacer">&nbsp;</div>
          <div class="grid_11 main-nav-spacer">&nbsp;</div>
          <div class="clear">&nbsp;</div>
        </div>
      </div>

      <div class="full" style="height: 1px; background-color: #FFF;"></div>
    </div>
    <!-- DONE HEADER -->
    
    <div class="full" style="height: 364px; background: url('/images/gradient-header.png') repeat-x;">
      <div class="container_16" style="margin-top: -2px;">
        <%= render :partial => '/shared/flash', :locals => {:flash => flash} %>
      
        <div class="grid_5">
          <span style="display: inline-block; margin-top: 33px; line-height: 29px; color: #FFF; font-size: 25px; font-weight: bold; font: helvetica;">
            We're building a community for guidance in fitness & wellness.</span>
            
          <span style="display: inline-block; margin-top: 7px; color: #FFF; font-size: 18px; font: helvetica;">
            Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
        </div>
        <div class="grid_11">
          <%= image_tag 'screenshot.png', :style => 'display: block; margin-top: 10px;', :class => 'grid_10 alpha omega push_1' %>
        </div>
      
        <div style="clear:both">&nbsp;</div>
      </div>
    </div>
    
    <div class="full" style="background-color: #EBEBEB;">
      <div class="container_16">
        <div class="grid_16" style="text-align: center; font-size: 24px; font-weight: bold; color: #222; margin-top: 75px; margin-bottom: 36px;">
          Here's the gist of My Weight World...
        </div>
        
        <div class="clear"></div>
        
        <div class=" push_1 alpha" style="display: inline; position: relative; float: left; width: 240px; margin-right: 60px;">
          <div style="height: 225px; background-color: #CCC;"></div>
          <span style="font-size: 18px; font: helvetica; display: inline-block; line-height: 22px; padding: 17px 10px;">Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
        </div>
        <div class=" push_1" style="display: inline; position: relative; float: left; width: 240px; margin-right: 60px;">
          <div style="height: 225px; background-color: #CCC;"></div>
          <span style="font-size: 18px; font: helvetica; display: inline-block; line-height: 22px; padding: 17px 10px;">Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
        </div>
        <div class=" push_1" style="display: inline; position: relative; float: left; width: 240px;">
          <div style="height: 225px; background-color: #CCC;"></div>
          <span style="font-size: 18px; font: helvetica; display: inline-block; line-height: 22px; padding: 17px 10px;">Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
        </div>
        
        
      </div>
      <div style="clear:both">&nbsp;</div>
      <hr style="width: 640px; margin: 0 auto; margin-top: 6px; clear: both"/>
      
      <div class="container_16">
        <p style="text-align: center; margin: 0 auto; margin-top: 43px; width: 900px;">
          <span style="display: inline-block; font-size: 24px; font-weight: bold; color: #222;">We're building a community for guidance in fitness & wellness.</span>
          <span style="display: inline-block; font-size: 18px; font: helvetica; margin-top: 7px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.
          </span>
        </p>
        <div style="clear:both">&nbsp;</div>
        
        <div class="grid_8" style="margin-top: 34px;">
          <div class="grid_3 alpha" style="height: 148px; background-color: #CCC;"></div>
          <div class="grid_5 omega">
            <span style="display: inline-block; font-size: 14px; font-weight: bold; font-face: helvetica; color: #000;">This describes the feature from a quippy sentence level.</span>
            <span style="font-size: 14px; font-face: helvetica; color: #222">This is the general and more specific descripiton of the feature and gives greater insight to why and how a user would use the thing we're talking about so that the person knows more accurately why they care.</span>
          </div>
          
          <div style="clear:both">&nbsp;</div>
        </div>
        
        <div class="grid_8" style="margin-top: 34px;">
          <div class="grid_3 alpha" style="height: 148px; background-color: #CCC;"></div>
          <div class="grid_5 omega">
            <span style="display: inline-block; font-size: 14px; font-weight: bold; font-face: helvetica; color: #000;">This describes the feature from a quippy sentence level.</span>
            <span style="font-size: 14px; font-face: helvetica; color: #222">This is the general and more specific descripiton of the feature and gives greater insight to why and how a user would use the thing we're talking about so that the person knows more accurately why they care.</span>
          </div>
          
          <div style="clear:both">&nbsp;</div>
        </div>
        
        <div style="clear:both">&nbsp;</div>
        
        <div class="grid_8" style="margin-top: 10px;">
          <div class="grid_3 alpha" style="height: 148px; background-color: #CCC;"></div>
          <div class="grid_5 omega">
            <span style="display: inline-block; font-size: 14px; font-weight: bold; font-face: helvetica; color: #000;">This describes the feature from a quippy sentence level.</span>
            <span style="font-size: 14px; font-face: helvetica; color: #222">This is the general and more specific descripiton of the feature and gives greater insight to why and how a user would use the thing we're talking about so that the person knows more accurately why they care.</span>
          </div>
          
          <div style="clear:both">&nbsp;</div>
        </div>
        
        <div class="grid_8" style="margin-top: 10px;">
          <div class="grid_3 alpha" style="height: 148px; background-color: #CCC;"></div>
          <div class="grid_5 omega">
            <span style="display: inline-block; font-size: 14px; font-weight: bold; font-face: helvetica; color: #000;">This describes the feature from a quippy sentence level.</span>
            <span style="font-size: 14px; font-face: helvetica; color: #222">This is the general and more specific descripiton of the feature and gives greater insight to why and how a user would use the thing we're talking about so that the person knows more accurately why they care.</span>
          </div>
          
          <div style="clear:both">&nbsp;</div>
        </div>
        
        <div style="clear:both">&nbsp;</div>
      </div>
      
      
      <div style="clear:both">&nbsp;</div>
    </div>
    
    <!-- Footer -->
    <div class="full" style="height: 280px; background: url('/images/gradient-footer.png')">
      <div id="footer" class="container_16">
        
        <div style="clear:both">&nbsp;</div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="full" style="height: 41px; background: url('/images/gradient-copyright.png')">
      &nbsp;
    </div>
    
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
        //     <script>window.jQuery || document.write("<script src='/javascripts/jquery-1.6.min.js'>\x3C/script>")</script> -->
    
    <%= javascript_include_tag "jquery-1.4.4.dev.js", "jquery-ui-1.8.9.min.js", "underscore" %>
    
    <%= render :partial => "shared/gridder" %>
  </body>
</html>