<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <div id="wrap" class="full">
      <div id="main" class="full">
        <%#= render :partial => '/layouts/header' %>
    
        <div id="content" class="container_16" style="width:50em;padding-left:0;margin-left:1em;">
          <%= render :partial => '/shared/flash', :locals => {:flash => flash} %>

          <%= yield %>
        </div>
      </div>
    </div>
      
    <%#= render :partial => 'layouts/footer' %>
    
    <%= render :partial => 'layouts/js_libs' %>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :js %>
      });
    </script>
  </body>
</html>
