<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Departments: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    
    <style type="text/css" media="screen">
      ul {list-style:none;}
      li { float:left; padding: 5px;}
    </style>
  </head>
  <body class="old">
    
  <ul>
    <li><%= link_to 'Store',           old_items_path %></li>
    <li><%= link_to 'Departments',     old_departments_path %></li>
    <li><%= link_to 'Flash Files',     old_flash_files_path %></li>
    <li><%= link_to 'Text Files',      old_text_files_path %></li>
    <li><%= link_to 'Tips of the Day', old_tip_of_days_path %></li>
    <li><%= link_to 'Categories',      categories_path %></li>
    <li><%= link_to 'SubCategories',   subcategories_path %></li>
  </ul>
  
  <div style="clear:both;"></div>
  <p style="color: green"><%= notice %></p>
  
  <%= yield %>
  
  </body>
</html>
