<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title><%= yield(:title) || "MyWeightWorld" %></title> 
    <!-- <link rel="shortcut icon" href="/favicon.ico" /> -->
    <%= stylesheet_link_tag 'reset', '960', "ui-lightness/jquery-ui-1.8.9.custom.css", 'application', :media => "screen, projection" %>
    <%= javascript_include_tag "jquery-1.4.4.dev", "jquery-ui-1.8.9.min.js", "jquery.labelify", "underscore", "application", "jrails" %>
    
    <%= render :partial => "shared/gridder" %>
    
  </head>
  <body>
      <div id="header" class="full">
      <div class="small-nav container_16">
        
        <div class="grid_16">
          <div class="grid_4 push_12 prefix_1">
            <% if logged_in? %>
              Hi, <%= current_user.full_name %> | <%= link_to 'Sign Out', user_session_path, :method => :delete %> 
              <% if current_user.admin %>
                | <%= link_to 'Admin', admin_dashboard_path %>
              <% end %>
            <% else %>
              <%= link_to 'Already a User? Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_path %>
            <% end %>
          </div>
          
        </div>
        <div class="clear">&nbsp;</div>
      </div>
      
      <div id="main-nav" class="full">
        <div class="main-nav container_16">
          
          <div class="grid_4">
            <h2 id="logo"><%= link_to 'myweightworld', {} %></h2>
          </div>
          <div class="grid_8">
            <%= render :partial => 'shared/profile_tabs' %>
          </div>
          <div class="grid_4">
            
          </div>
          
          <div class="clear">&nbsp;</div>
        </div>
      </div>
    </div>
    <!-- DONE HEADER -->
    
    <div class="clear">&nbsp;</div>
    
    <div id="profile-sub-header" class="full">
      <div id="content" class="container_16 profile">
        <%= yield %>
      </div>
    </div>
    
    <div class="full">
      <div id="footer" class="container_16">
        
        <div style="clear:both">&nbsp;</div>
      </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :js %>
      });
    </script>
  </body>
</html>