<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => '/layouts/head' %>
  </head>
  <body>
    <%= render :partial => '/layouts/header' %>
    
    <div class="container_16">
      <div class="grid_5 ">
        <div class="sidebar-container">
          <p id="user-name" class="grid_5"><%= current_user.full_name %></p>
          
          <div class="clear">&nbsp;</div>
          
          <% if current_user.avatar.file? %>
            <div class="small-avatar avatar"><%= image_tag(current_user.avatar.url(:tracking)) %></div>
          <% else %>
            <div class="small-avatar"></div>
          <% end %>
          
          <%= link_to 'Edit Profile', user_edit_personal_info_path(current_user), :id => 'edit-profile', :class => 'light-blue wide' %>
          
          <% if current_user.city.present? || current_user.state.present? %>
            <p id="location" class="right-side"><%= [current_user.city, current_user.state].compact.join(', ') %></p>
          <% end %>
          <div class="clear">&nbsp;</div>
          
          <br/>
        </div>
        
        <div class="clear">&nbsp;</div>
        <br/>
        
        <%= render :partial => 'shared/achievement_sidebar_section' %>
        
        <div class="clear">&nbsp;</div>
        
        <div class="sidebar-container subsection" >
          <h4 class="sidebar-subheader">Burned Calories</h4>
          
          <div class="large-calories">
            <span><%= current_user.calories_burned_today %></span>
          </div>
          <div class="small-text">burned today</div>
          <div class="calories-this-week">
            <span><%= current_user.calories_burned_this_week %></span> this week
          </div>
          <div class="clear">&nbsp;</div>
        </div>
        
        <div class="sidebar-container subsection" >
          <h4 class="sidebar-subheader">Consumed Calories</h4>
          
          <div class="large-calories">
            <span style="color: #7cc576"><%= current_user.calories_consumed_today %></span>
          </div>
          <div class="small-text">consumed today</div>
          <div class="calories-this-week">
            <span style="color: #7cc576"><%= current_user.calories_consumed_this_week %></span>/<%= five_hundred_calorie_deficit(current_user) * 7 %> this week
          </div>
          
          <div class="clear">&nbsp;</div>
        </div>
        
      </div>
      
      <%= yield :sidebar %>
      
      <div id="content" class="grid_11 profile">
        <%- flash.each do |name, msg| -%>
          <p id="flash_<%= name %>" class="flash grid_15"><%= msg %></p>
        <%- end -%>
        
        <%= yield %>
      </div>
      
      <br/>
      
    </div>
    
    <div class="full">
      <div id="footer" class="container_16">
        
        <div style="clear:both">&nbsp;</div>
      </div>
    </div>
    
    <!-- JavaScript at the bottom for fast page loading -->
    <%= javascript_include_tag "modernizr-1.7.min.js", "respond.min.js" %>
    
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
        //     <script>window.jQuery || document.write("<script src='/javascripts/jquery-1.6.min.js'>\x3C/script>")</script> -->
    
    <%= javascript_include_tag "jquery-1.4.4.dev.js", "jquery-ui-1.8.9.min.js", "underscore", "jquery.labelify.js", "jquery.jeditable", "highcharts", "application" %>
    <%= init_tinymce_hammer_if_required %>
    
    <%= render :partial => "shared/gridder" %>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :js %>
        
        <%= render :partial => 'shared/weight_update_js' %>
      });
    </script>
  </body>
</html>