<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
  <title><%= @meta_title %></title>
<meta name="keywords" content="<%= @meta_keywords %>" />
<meta name="description" content="<%= @meta_description %>" />
<!---new code ended for meta -->
    <%= render :partial => '/layouts/head' %>

  </head>
  <body>
    <div id="wrap" class="full">
      <div id="main" class="full">
        <%= render :partial => '/layouts/header' %>
    
        <div class="container_16">
          <div class="grid_5 ">
            <div class="sidebar-container">
              <p id="user-name" class="grid_5"><%= current_user.full_name %></p>
          
              <div class="clear">&nbsp;</div>
          
              <div class="small-avatar avatar"><%= user_avatar_image(current_user, :tracking) %></div>
          
              <%= link_to 'Edit Profile', user_edit_personal_info_path(current_user), :id => 'edit-profile', :class => 'outlined-fade wide' %>
          
              <% if current_user.city.present? || current_user.state.present? %>
                <p id="location" class="right-side"><%= [current_user.city, current_user.state].compact.join(', ') %></p>
              <% end %>
              <div class="clear">&nbsp;</div>
          
              <br/>
            </div>
        
            <div class="clear">&nbsp;</div>
            <br/>
        
            <% if @user && @user.has_goal? %>
              <%= render :partial => 'shared/achievement_sidebar_section' %>
            <% end %>
        
            <div class="clear">&nbsp;</div>
        
            <div class="sidebar-container subsection" >
              <h4 class="sidebar-subheader">Burned Calories</h4>
          
              <div class="large-calories">
                <span><%= number_with_delimiter(current_user.calories_burned_today) %></span>
              </div>
              <div class="small-text">burned today</div>
              <div class="calories-this-week">
                <span><%= number_with_delimiter(current_user.calories_burned_this_week) %></span> this week
              </div>
              <div class="clear">&nbsp;</div>
            </div>
        
            <div class="sidebar-container subsection" >
              <h4 class="sidebar-subheader">Consumed Calories</h4>
          
              <div class="large-calories">
                <span style="color: #7cc576"><%= number_with_delimiter(current_user.calories_consumed_today) %></span>
              </div>
              <div class="small-text">consumed today</div>
              <div class="calories-this-week">
                <span style="color: #7cc576"><%= number_with_delimiter(current_user.calories_consumed_this_week) %></span>/<%= number_with_delimiter(five_hundred_calorie_deficit(current_user) * 7) %> this week
              </div>
          
              <div class="clear">&nbsp;</div>
            </div>
        
          </div>
      
          <%= yield :sidebar %>
          
          <% if user_signed_in? %>
            <div id="add-meal" class="button">
              <%= link_to "+ Add Meal", meals_path, :title => 'Add a Meal' %>
            </div>
            
            <div id="add-activity" class="button">
              <%= link_to "+ Add Activity", workouts_path, :title => 'Add a Workout' %>
            </div>
          <% end %>
          
          </br>
          
          <div id="nav-bar">
            <%= render :partial => 'shared/nav_bar' %>
          </div>
      
          <div id="content" class="grid_11 profile">
            <%= render :partial => '/shared/flash', :locals => {:flash => flash} %>
        
            <%= yield %>
          </div>
      
          <br/>
      
        </div>
      </div>
    </div>
     
    <%= render :partial => 'layouts/footer' %>
    <%= render :partial => "layouts/js_libs" if params[:controller]!="custom_foods"%>    

    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        <%= yield :js %>
        
        <%= render :partial => 'shared/weight_update_js' %>
      });
    </script>
  </body>
</html>
