<ul class="grid_11 graph-button-bar">
  <li id="start" class="<%= graph_selected?(weight_over_time_path) %>"><%= link_to 'Weight/Time', weight_over_time_path %></li>
  <li id="end"   class="<%= graph_selected?(net_calories_path) %>"><%= link_to 'Net Calories', net_calories_path %></li>
</ul>
<div class="clear"></div>

<ul class="grid_11 graph-button-bar">
  <li id="start" class="<%= date_range_selected?('1wk', @range) %>"><%= link_to '1 Week', net_calories_path(:range => '1wk') %></li>
  <li class="<%= date_range_selected?('2wk', @range) %>"><%= link_to '2 Weeks', net_calories_path(:range => '2wk') %></li>
  <li class="<%= date_range_selected?('3wk', @range) %>"><%= link_to '3 Weeks', net_calories_path(:range => '3wk') %></li>
  <li id="end" class="<%= date_range_selected?('1mth', @range) %>"><%= link_to '1 Month', net_calories_path(:range => '1mth') %></li>
</ul>
<div class="clear"></div>

<div id="chart-container" style="width: 100%; height: 400px"></div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    <%= render :partial => 'highchart_theme.js' %>
    
    <% days = (0..6).to_a.reverse.map{|num| num.days.ago } %>
    
    chart2 = new Highcharts.Chart({
             chart: {
               renderTo: 'chart-container',
               defaultSeriesType: 'column'
             },
             title: {
               text: 'Net Calories'
             },
             xAxis: {
               categories: [<%= days.map{|day| "\'#{ day.strftime("%a") }\'" }.join(', ') %>]
             },
             yAxis: {
               title: {
                 text: 'Calories'
               },
               labels: {
                 formatter: function() { return Math.abs(this.value); },
               }
             },
             tooltip: {
                      formatter: function(){ return '' + this.x +'<br/>'+ this.series.name + ': ' + Math.abs(this.y); }
                   },
             series: [{
               name: 'Consumed',
               color: '#7CC576',
               type: 'column',
               data: [<%= days.map{|day| current_user.total_calories_consumed_on(day) }.join(', ') %>]
             },{
               name: 'Burned',
               color: '#F26C4F',
               type: 'column',
               data: [<%= days.map{|day| -1 * current_user.total_calories_burned_on(day) }.join(', ') %>]
             }, {
               name: 'Net Calories',
               type: 'spline',
               data: [<%= days.map{|day| current_user.net_calories_on(day) }.join(', ') %>]
             }
             <% if current_user.bmr.present? %>
             ,{
               name: 'BMR',
               color: '#999',
               type: 'line',
               data: [<%= days.map{|d| current_user.bmr }.join(', ') %>]
             }
             <% end %>
             ]
    });
    
    
  <% end %>
</script>