<ul class="grid_11 graph-button-bar">
  <li id="start" class="<%= graph_selected?(weight_over_time_tracking_path) %>"><%= link_to 'Weight/Time', weight_over_time_tracking_path %></li><li class="<%= graph_selected?(measurement_over_time_tracking_path) %>"><%= link_to 'Measurement', measurement_over_time_tracking_path %></li>
  <li class="<%= graph_selected?(net_calories_tracking_path) %>"><%= link_to 'Net Calories', net_calories_tracking_path %></li>
  
 <li id="end"   class="<%= graph_selected?(bodyfat_over_time_tracking_path) %>"><%= link_to 'Body Fat/Time', bodyfat_over_time_tracking_path %>
</ul>
<div class="clear"></div>

<ul class="grid_11 graph-button-bar">
  <li id="start" class="<%= date_range_selected?('1wk', @range) %>"><%= link_to '1 Week', net_calories_tracking_path(:range => '1wk') %></li>
  <li class="<%= date_range_selected?('2wk', @range) %>"><%= link_to '2 Weeks', net_calories_tracking_path(:range => '2wk') %></li>
  <li class="<%= date_range_selected?('3wk', @range) %>"><%= link_to '3 Weeks', net_calories_tracking_path(:range => '3wk') %></li>
  <li class="<%= date_range_selected?('1mth', @range) %>"><%= link_to '1 Month', net_calories_tracking_path(:range => '1mth') %></li>
  <li class="<%= date_range_selected?('2mth', @range) %>"><%= link_to '2 Months', net_calories_tracking_path(:range => '2mth') %></li>
  <li id="end" class="<%= date_range_selected?('3mth', @range) %>"><%= link_to '3 Months', net_calories_tracking_path(:range => '3mth') %></li>
</ul>
<div class="clear"></div>

<div id="chart-container" style="width: 100%; height: 400px"></div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    <%= render :partial => 'highchart_theme.js' %>
    
    chart2 = new Highcharts.Chart({
             chart: {
               renderTo: 'chart-container',
               defaultSeriesType: 'column'
             },
             title: { text: 'Net Calories' },
             xAxis: { type: 'datetime' },
             yAxis: {
               title: { text: 'Calories' },
               labels: { formatter: function() { return Math.abs(this.value); }}
             },
             tooltip: { formatter: function(){ return '' + new Date(this.x).toDateString() +'<br/>'+ this.series.name + ': ' + $.format.number(this.y); }},
             series: [{
               name: 'Consumed',
               color: '#7CC576',
               type: 'column',
               data: <%= @grapher.js_consumed_data %>
             },{
               name: 'Burned',
               color: '#F26C4F',
               type: 'column',
               data: <%= @grapher.js_burned_data %>
             }, {
               name: 'Net Calories',
               type: 'spline',
               data: <%= @grapher.js_net_data %>
             }
             <% if current_user.bmr.present? %>
              ,{
                name: 'BMR',
                color: '#999',
                type: 'line',
                data: [<%= ["[#{ @grapher.ruby_data.first.first }, #{ five_hundred_calorie_deficit(current_user) }]",
                            "[#{ @grapher.ruby_data.last.first }, #{ five_hundred_calorie_deficit(current_user) }]"].join(', ') %>]
              }
             <% end %>
             ]	
    });
    
    
  <% end %>
</script>
