<h1>Listing Success Stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Body</th>
  </tr>

<% @success_stories.each do |success_story| %>
  <tr class="<%= cycle('', 'odd') %>">
    <td><%=h success_story.title %></td>
    <td><%=h success_story.summary %></td>
    <td><%=h success_story.body %></td>
    <td><%= link_to 'Show', success_story %></td>
    <td><%= link_to 'Edit', edit_old_success_story_path(success_story) %></td>
    <td><%= link_to 'Destroy', success_story, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New success_story', new_old_success_story_path %>